---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&list=search&srinfo=totalhits&srlimit=1&srnamespace=0&srprop=timestamp&srsearch=%2210.1371/journal.pcbi.1002445%22%20OR%20%22http://www.plosone.org/article/info:doi/10.1371/journal.pcbi.1002445%22&srwhat=text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=hhvm
    body:
      encoding: UTF-8
      string: '{"query-continue":{"search":{"sroffset":1}},"warnings":{"query":{"*":"Formatting
        of continuation data will be changing soon. To continue using the current
        formatting, use the ''rawcontinue'' parameter. To begin using the new format,
        pass an empty string for ''continue'' in the initial query."}},"query":{"searchinfo":{"totalhits":2},"search":[{"ns":0,"title":"Circular
        permutation in proteins","timestamp":"2014-06-02T10:47:45Z"}]}}'
  recorded_at: Sun, 04 Jan 2015 11:15:39 GMT
recorded_with: VCR 2.9.3
