---
http_interactions:
- request:
    method: get
    uri: http://www.pubmedcentral.nih.gov/utils/idconv/v1.0/?email=info@example.org&format=json&ids=19749171&idtype=pmid&tool=Lagotto%204.0%20-%20http://lagotto-4-0-stable.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "ok",
         "responseDate": "2015-06-11 08:14:26",
         "request": "email=info%40example.org;format=json;ids=19749171;idtype=pmid;tool=Lagotto%204.0%20-%20http%3A%2F%2Flagotto-4-0-stable.local",
         "records": [
           {
            "pmcid": "PMC2763780",
            "pmid": "19749171",
            "doi": "10.1124/pr.109.001263",
            "versions": [
              {
               "pmcid": "PMC2763780.1",
               "current": "true"
              }
            ]
           }
         ]
        }
  recorded_at: Thu, 11 Jun 2015 12:14:25 GMT
- request:
    method: get
    uri: http://www.pubmedcentral.nih.gov/utils/idconv/v1.0/?email=info@example.org&format=json&ids=19776281&idtype=pmid&tool=Lagotto%204.0%20-%20http://lagotto-4-0-stable.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "ok",
         "responseDate": "2015-06-11 08:14:27",
         "request": "email=info%40example.org;format=json;ids=19776281;idtype=pmid;tool=Lagotto%204.0%20-%20http%3A%2F%2Flagotto-4-0-stable.local",
         "records": [
           {
            "pmcid": "PMC2782675",
            "pmid": "19776281",
            "doi": "10.1523/JNEUROSCI.2643-09.2009",
            "versions": [
              {
               "pmcid": "PMC2782675.1",
               "mid": "NIHMS155881",
               "current": "true"
              }
            ]
           }
         ]
        }
  recorded_at: Thu, 11 Jun 2015 12:14:26 GMT
- request:
    method: get
    uri: http://www.pubmedcentral.nih.gov/utils/idconv/v1.0/?email=info@example.org&format=json&ids=19308318&idtype=pmid&tool=Lagotto%204.0%20-%20http://lagotto-4-0-stable.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "ok",
         "responseDate": "2015-06-11 08:14:28",
         "request": "email=info%40example.org;format=json;ids=19308318;idtype=pmid;tool=Lagotto%204.0%20-%20http%3A%2F%2Flagotto-4-0-stable.local",
         "records": [
           {
            "pmid": "19308318",
            "live": "false",
            "status": "error",
            "errmsg": "invalid article id"
           }
         ]
        }
  recorded_at: Thu, 11 Jun 2015 12:14:27 GMT
[...]
- request:
    method: get
    uri: http://www.pubmedcentral.nih.gov/utils/idconv/v1.0/?email=info@example.org&format=json&ids=22823405&idtype=pmid&tool=Lagotto%204.0%20-%20http://lagotto-4-0-stable.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "ok",
         "responseDate": "2015-06-11 08:14:49",
         "request": "email=info%40example.org;format=json;ids=22823405;idtype=pmid;tool=Lagotto%204.0%20-%20http%3A%2F%2Flagotto-4-0-stable.local",
         "records": [
           {
            "pmcid": "PMC3443659",
            "pmid": "22823405",
            "doi": "10.1186/1471-2105-13-174",
            "versions": [
              {
               "pmcid": "PMC3443659.1",
               "current": "true"
              }
            ]
           }
         ]
        }
  recorded_at: Thu, 11 Jun 2015 12:14:48 GMT
recorded_with: VCR 2.9.3
