---
http_interactions:
- request:
    method: get
    uri: http://www.pubmedcentral.nih.gov/utils/entrez2pmcciting.cgi?id=1897483599&view=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: ''
    headers:
      Location:
      - http://www.ncbi.nlm.nih.gov/pmc/utils/entrez2pmcciting.cgi?id=1897483599&view=xml
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="http://www.ncbi.nlm.nih.gov/pmc/utils/entrez2pmcciting.cgi?id=1897483599&amp;view=xml">here</a>.</p>
        </body></html>
  recorded_at: Sun, 23 Aug 2015 18:59:42 GMT
- request:
    method: get
    uri: http://www.ncbi.nlm.nih.gov/pmc/utils/entrez2pmcciting.cgi?id=1897483599&view=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "<!DOCTYPE PubMedToPMCcitingformSET PUBLIC \"-//NCBI//DTD PubMedToPMCreformSET,
        16th January 2002//EN\" \"entrez2pmcciting.dtd\">\n\n<PubMedToPMCcitingformSET>\n\t<REFORM>\n\t\t<PMID>1897483599</PMID>\n\t</REFORM>\n\n</PubMedToPMCcitingformSET>\n"
  recorded_at: Sun, 23 Aug 2015 18:59:43 GMT
recorded_with: VCR 2.9.3
