---
http_interactions:
- request:
    method: get
    uri: http://www.pubmedcentral.nih.gov/utils/entrez2pmcciting.cgi?id=17183631&view=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: ''
    headers:
      Location:
      - http://www.ncbi.nlm.nih.gov/pmc/utils/entrez2pmcciting.cgi?id=17183631&view=xml
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="http://www.ncbi.nlm.nih.gov/pmc/utils/entrez2pmcciting.cgi?id=17183631&amp;view=xml">here</a>.</p>
        </body></html>
  recorded_at: Sun, 23 Aug 2015 18:59:43 GMT
- request:
    method: get
    uri: http://www.ncbi.nlm.nih.gov/pmc/utils/entrez2pmcciting.cgi?id=17183631&view=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "<!DOCTYPE PubMedToPMCcitingformSET PUBLIC \"-//NCBI//DTD PubMedToPMCreformSET,
        16th January 2002//EN\" \"entrez2pmcciting.dtd\">\n\n<PubMedToPMCcitingformSET>\n\t<REFORM>\n\t\t<PMID>17183631</PMID>\n\t\t<PMCID>2464333</PMCID>\n\t\t<PMCID>3098711</PMCID>\n\t\t<PMCID>1976277</PMCID>\n\t\t<PMCID>2782675</PMCID>\n\t\t<PMCID>2824913</PMCID>\n\t\t<PMCID>3051412</PMCID>\n\t\t<PMCID>3292175</PMCID>\n\t\t<PMCID>3833827</PMCID>\n\t\t<PMCID>4435534</PMCID>\n\t\t<PMCID>3777970</PMCID>\n\t\t<PMCID>2724239</PMCID>\n\t\t<PMCID>2886697</PMCID>\n\t\t<PMCID>2576030</PMCID>\n\t\t<PMCID>3098654</PMCID>\n\t\t<PMCID>2763780</PMCID>\n\t\t<PMCID>4039232</PMCID>\n\t\t<PMCID>3292175</PMCID>\n\t</REFORM>\n\n</PubMedToPMCcitingformSET>\n"
  recorded_at: Sun, 23 Aug 2015 18:59:43 GMT
recorded_with: VCR 2.9.3
