---
http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?fl=id,publication_date,title_display,cross_published_journal_name,author_display,volume,issue,elocation_id&fq=publication_date:%5B2013-09-04T00:00:00Z%20TO%202013-09-05T23:59:59Z%5D%2Bdoc_type:full&q=*:*&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Last-Modified:
      - Sun, 20 Mar 2016 07:00:40 GMT
      Etag:
      - '"MTQyOTM4MDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":394,"start":0,"docs":[]}}
  recorded_at: Mon, 21 Mar 2016 14:38:21 GMT
recorded_with: VCR 2.9.3
