---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&continue=&format=json&list=search&srinfo=totalhits&srlimit=50&srnamespace=0&sroffset=0&srprop=timestamp&srsearch=%2210.1371/journal.pone.0008776%22%20OR%20%22http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0008776%22&srwhat=text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","continue":{"sroffset":50,"continue":"-||"},"query":{"searchinfo":{"totalhits":677},"search":[{"ns":0,"title":"Lobatus
        costatus","timestamp":"2013-03-21T09:51:18Z"},{"ns":0,"title":"Bostrycapulus
        aculeatus","timestamp":"2015-03-21T07:47:45Z"},{"ns":0,"title":"Crepidula
        convexa","timestamp":"2014-11-27T01:17:57Z"},{"ns":0,"title":"Polinices lacteus","timestamp":"2015-03-17T15:05:21Z"},{"ns":0,"title":"Janthina
        exigua","timestamp":"2013-07-26T17:22:56Z"},{"ns":0,"title":"Moelleriopsis
        poppei","timestamp":"2014-10-22T15:02:23Z"},{"ns":0,"title":"Ranularia cynocephalum","timestamp":"2014-12-29T20:32:00Z"},[...]
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&continue=-%7C%7C&format=json&list=search&srinfo=totalhits&srlimit=50&srnamespace=0&sroffset=50&srprop=timestamp&srsearch=%2210.1371/journal.pone.0008776%22%20OR%20%22http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0008776%22&srwhat=text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      -[...]
[...]
