---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&continue=&format=json&list=search&srinfo=totalhits&srlimit=50&srnamespace=0&sroffset=0&srprop=timestamp&srsearch=%2210.1371/journal.pone.0044294%22%20OR%20%22http://www.plosone.org/article/info:doi/10.1371/journal.pone.0044294%22&srwhat=text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"searchinfo":{"totalhits":0},"search":[]}}'
  recorded_at: Sun, 23 Aug 2015 18:59:44 GMT
recorded_with: VCR 2.9.3
