---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&continue=&format=json&list=search&srinfo=totalhits&srlimit=50&srnamespace=0&sroffset=0&srprop=timestamp&srsearch=%22http://journals.plos.org/plosone/article?id=10.1371/journal.pone.00000447%22&srwhat=text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: ''
    headers:
      Location:
      - https://en.wikipedia.org/w/api.php?action=query&continue=&format=json&list=search&srinfo=totalhits&srlimit=50&srnamespace=0&sroffset=0&srprop=timestamp&srsearch=%22http%3A%2F%2Fjournals.plos.org%2Fplosone%2Farticle%3Fid%3D10.1371%2Fjournal.pone.00000447%22&srwhat=text
      X-Client-Ip:
      - 2003:56:c605:8de:51ff:eee0:372f:31b7
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 07 Feb 2016 16:08:49 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&continue=&format=json&list=search&srinfo=totalhits&srlimit=50&srnamespace=0&sroffset=0&srprop=timestamp&srsearch=%22http://journals.plos.org/plosone/article?id=10.1371/journal.pone.00000447%22&srwhat=text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=40008 t=1454861329211034
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 2003:56:c605:8de:51ff:eee0:372f:31b7
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"searchinfo":{"totalhits":0},"search":[]}}'
  recorded_at: Sun, 07 Feb 2016 16:08:49 GMT
recorded_with: VCR 2.9.3
