---
http_interactions:
- request:
    method: get
    uri: http://api.figshare.com/v1/publishers/search_for?doi=10.1371/journal.pone.0067729
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count": 6, "items": [{"files": ["https://ndownloader.figshare.com/files/1114011"],
        "description": "<p>Distances are calculated in PAUP* (Swofford, 2000). Numbers
        following taxon names correspond to specimen IDs in the <i>Sileneae</i> database
        <a href=\"http://www.plosone.org/article/info:doi/10.1371/journal.pone.0067729#pone.0067729-Oxelman2\"
        target=\"_blank\">[18]</a>. Distances between the two copies are within square
        brackets.</p>", "links": [], "tags": ["Evolutionary biology", "Evolutionary
        processes", "hybridization", "introgression", "speciation", "Evolutionary
        systematics", "Molecular systematics", "phylogenetics", "Organismal evolution",
        "Plant evolution", "Plant science", "Botany", "Plant taxonomy", "plants",
        "Flowering plants", "distances"], "article_id": 741664, "categories": ["Biological
        Sciences"], "users": ["Anna Petri", "Bernard E. Pfeil", "Bengt Oxelman"],
        "doi": "https://dx.doi.org/10.1371/journal.pone.0067729.t001", "stats": {"downloads":
        1, "page_views": 14, "likes": 0}, "figshare_url": "https://figshare.com/articles/_Genetic_distances_among_the_Physolychnis_a_and_b_copies_/741664",
        "title": "Genetic distances among the <i>Physolychnis a</i>- and <i>b-</i>copies.",
        "pos_in_sequence": 0, "defined_type": 3, "published_date": "2013-07-08 02:11:36"},
        {"files": ["https://ndownloader.figshare.com/files/1114006"], "description":
        "<p>Both primers were located in regions where all <i>Physolychnis</i> and
        <i>Auriculatae b</i>-copies were identical, and differing from the <i>Physolychnis
        a</i>-copy.</p>", "links": [], "tags": ["Evolutionary biology", "Evolutionary
        processes", "hybridization", "introgression", "speciation", "Evolutionary
        systematics", "Molecular systematics", "[...]
