---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=has-orcid:true,from-update-date:2015-04-07,until-update-date:2015-04-08&offset=0&rows=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":1000,"items":[{"indexed":{"date-parts":[[2015,12,20]],"date-time":"2015-12-20T08:58:20Z","timestamp":1450601900703},"reference-count":30,"publisher":"AIP
        Publishing","issue":"13","license":[{"content-version":"vor","delay-in-days":0,"start":{"date-parts":[[2015,4,2]],"date-time":"2015-04-02T00:00:00Z","timestamp":1427932800000},"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"}],"funder":[{"award":[],"doi-asserted-by":"publisher","name":"National
        Natural Science Foundation of China","DOI":"10.13039\/501100001809"},{"award":[],"name":"National
        973 Project"},{"award":[],"name":"Technology Foundation For Selected Oversea
        Chinese scholar"}],"published-print":{"date-parts":[[2015,4,7]]},"DOI":"10.1063\/1.4916805","type":"journal-article","created":{"date-parts":[[2015,4,2]],"date-time":"2015-04-02T17:56:24Z","timestamp":1427997384000},"page":"134902","update-policy":"http:\/\/dx.doi.org\/10.1063\/aip-crossmark-policy-page","source":"CrossRef","title":["Propagation
        of pore pressure diffusion waves in saturated porous media"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1063","volume":"117","author":[{"affiliation":[{"name":"Key
        Laboratory of Crustal Dynamics, Institute of Crustal Dynamics, China Earthquake
        Administration, Beijing, China"}],"family":"Yang","given":"Duoxing"},{"affiliation":[{"name":"State
        Key Laboratory of Geomechanics and Geotechnical Engineering, Institute of
        Rock and Soil Mechanics, Chinese Academy of Sciences, Wuhan, China"}],"family":"Li","given":"Qi","ORCID":"http:\/\/orcid.org\/0000-0003-0679-4385"},{"affiliation":[{"name":"School
        of Physics, Nankai University, Tianjing, China"}],"family":"Zhang","given":"Lianzhong"}],"member":"http:\/\/id.crossref.org\/member\/317","container-title":["J.
        Appl. Phys.","Journal of Applied Physics"],"link":[{"intended-application":"unspecified","content-version":"vor","content-type":"application\/pdf","URL":"http:\/\/scitation.aip.org\/deliver\/fulltext\/aip\/journal\/jap\/117\/13\/1.4916805.pdf?itemId=\/content\/aip\/journal\/jap\/117\/13\/10.1063\/1.4916805&mimeType=pdf&containerItemId=content\/aip\/journal\/jap"}],"deposited":{"date-parts":[[2015,4,7]],"date-time":"2015-04-07T00:31:34Z","timestamp":1428366694000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2015,4,7]]},"URL":"http:\/\/dx.doi.org\/10.1063\/1.4916805","archive":["CLOCKSS","Portico"],"ISSN":["0021-8979","1089-7550"],"subject":["Physics
        and Astronomy(all)"],"assertion":[{"group":{"label":"Publication History","name":"publication_history"},"label":"received","name":"received","order":0,"value":"2015-01-17"},{"group":{"label":"Publication
        History","name":"publication_history"},"label":"accepted","name":"accepted","order":2,"value":"2015-03-21"},{"group":{"label":"Publication
        History","name":"publication_history"},"label":"published","name":"published","order":6,"value":"2015-04-02"}]},{"indexed":{"date-parts":[[2015,12,20]],"date-time":"2015-12-20T08:58:21Z","timestamp":1450601901015},"reference-count":57,"publisher":"AIP
        Publishing","issue":"4","published-print[...]
