---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=has-orcid:true,from-update-date:2015-04-07,until-update-date:2015-04-08&offset=0&rows=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":1000,"items":[{"indexed":{"date-parts":[[2015,6,10]],"timestamp":1433929351248},"reference-count":20,"publisher":"Elsevier
        BV","license":[{"content-version":"tdm","delay-in-days":0,"start":{"date-parts":[[2014,4,1]],"timestamp":1396310400000},"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"content-version":"vor","delay-in-days":0,"start":{"date-parts":[[2014,3,7]],"timestamp":1394150400000},"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0\/"}],"DOI":"10.1016\/j.mmcr.2014.03.001","type":"journal-article","page":"23-25","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"CrossRef","title":["Voriconazole
        associated torsades de pointes in two adult patients with haematological malignancies"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","volume":"4","author":[{"affiliation":[],"family":"Brown","given":"Jeremy
        D."},{"affiliation":[],"family":"Lim","given":"Lyn-li"},{"affiliation":[],"family":"Koning","given":"Sonia","ORCID":"http:\/\/orcid.org\/0000-0001-9344-779X"}],"member":"http:\/\/id.crossref.org\/member\/78","container-title":["Medical
        Mycology Case Reports"],"link":[{"intended-application":"text-mining","content-version":"vor","content-type":"text\/xml","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S2211753914000086?httpAccept=text\/xml"},{"intended-application":"text-mining","content-version":"vor","content-type":"text\/plain","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S2211753914000086?httpAccept=text\/plain"}],"deposited":{"date-parts":[[2015,4,9]],"timestamp":1428537600000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2014,4]]},"alternative-id":["S2211753914000086"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.mmcr.2014.03.001","ISSN":["2211-7539"],"assertion":[{"label":"This
        article is maintained by","name":"publisher","value":"Elsevier"},{"label":"Article
        Title","name":"articletitle","value":"Voriconazole associated torsades de
        pointes in two adult patients with haematological malignancies"},{"label":"Journal
        Title","name":"journaltitle","value":"Medical Mycology Case Reports"},{"label":"CrossRef
        DOI link to publisher maintained version","name":"articlelink","value":"http:\/\/dx.doi.org\/10.1016\/j.mmcr.2014.03.001"},{"label":"Content
        Type","name":"content_type","value":"articl[...]
