---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works/10.3758%2Fs13423-011-0070-4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,6]],"timestamp":1433583502454},"reference-count":275,"publisher":"Springer
        Science + Business Media","issue":"3","DOI":"10.3758\/s13423-011-0070-4","type":"journal-article","page":"429-454","source":"CrossRef","title":["Audiotactile
        interactions in temporal perception"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.3758","volume":"18","author":[{"affiliation":[],"family":"Occelli","given":"Valeria"},{"affiliation":[],"family":"Spence","given":"Charles"},{"affiliation":[],"family":"Zampini","given":"Massimiliano"}],"member":"http:\/\/id.crossref.org\/member\/297","container-title":["Psychonomic
        Bulletin & Review","Psychon Bull Rev"],"deposited":{"date-parts":[[2011,5,20]],"timestamp":1305849600000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2011,3,12]]},"alternative-id":["70"],"URL":"http:\/\/dx.doi.org\/10.3758\/s13423-011-0070-4","ISSN":["1069-9384","1531-5320"],"subject":["Experimental
        and Cognitive Psychology"]}}'
  recorded_at: Sun, 23 Aug 2015 19:01:14 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016%2Fj.neuroscience.2009.08.040
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,10]],"timestamp":1433919654287},"reference-count":46,"publisher":"Elsevier
        BV","issue":"3","license":[{"content-version":"tdm","delay-in-days":0,"start":{"date-parts":[[2009,12,1]],"timestamp":1259625600000},"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"DOI":"10.1016\/j.neuroscience.2009.08.040","type":"journal-article","page":"1377-1386","source":"CrossRef","title":["Thermoregulation
        in the cold changes depending on the time of day and feeding condition: physiological
        and anatomical analyses of involved circadian mechanisms"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","volume":"164","author":[{"affiliation":[],"family":"Tokizawa","given":"K."},{"affiliation":[],"family":"Uchida","given":"Y."},{"affiliation":[],"family":"Nagashima","given":"K."}],"member":"http:\/\/id.crossref.org\/member\/78","container-title":["Neuroscience"],"link":[{"intended-application":"text-mining","content-version":"vor","content-type":"text\/xml","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0306452209013980?httpAccept=text\/xml"},{"intended-application":"text-mining","content-version":"vor","content-type":"text\/plain","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0306452209013980?httpAccept=text\/plain"}],"deposited":{"date-parts":[[2015,4,29]],"timestamp":1430265600000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2009,12]]},"alternative-id":["S0306452209013980"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.neuroscience.2009.08.040","ISSN":["0306-4522"],"subject":["Neuroscience(all)"]}}'
  recorded_at: Sun, 23 Aug 2015 19:01:15 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016%2Fj.jneuroim.2008.06.023
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,5,13]],"timestamp":1431520466922},"reference-count":50[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1093%2Fjac%2Fdkn166
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,7]],"timestamp":1433641167854},"reference-count":27,"publisher[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016%2Fj.brainres.2010.04.021
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,5,14]],"timestamp":1431609948644},"reference-count":45[...]
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016%2Fj.ejphar.2007.09.030
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,5,13]],"timestamp":1431479701689},"reference-count":89,"[...]
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1093%2Fsysbio%2Fsyr078
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,7]],"timestamp":1433652364981},"reference-count":90,"publis[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1007%2Fs00421-009-1295-z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,8]],"timestamp":1433784198415},"reference-count":60,"publ[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1038%2Fnrendo.2010.194
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,7]],"timestamp":1433655128624},"reference-count":134,"publisher":"Nature
        Publishing Group","issue":"3","DOI":"10.1038\/nrendo.2010.194","type":"journal-article","page":"163-175","source":"CrossRef","title":["Stress
        responses: the contribution of prostaglandin E2 and its receptors"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1038","volume":"7","author":[{"affiliation":[],"family":"Furuyashiki","given":"Tomoyuki"},{"affiliation":[],"family":"Narumiya","given":"Shuh"}],"member":"http:\/\/id.crossref.org\/member\/339","container-title":["Nat
        Rev Endocrinol","Nature Reviews Endocrinology"],"deposited":{"date-parts":[[2011,8,5]],"timestamp":1312502400000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2010,11,30]]},"alternative-id":["nrendo.2010.194"],"URL":"http:\/\/dx.doi.org\/10.1038\/nrendo.2010.194","ISSN":["1759-5029","1759-5037"],"subject":["Endocrinology,
        Diabetes and Metabolism","Endocrinology"]}}'
  recorded_at: Sun, 23 Aug 2015 19:01:16 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016%2Fj.physbeh.2008.03.022
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,5,13]],"timestamp":1431504642093},"reference-count":41,[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1098%2Frspb.2010.0008
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,7]],"timestamp":1433691650672},"reference-count":26,"publisher":"The
        Royal Society","issue":"1690","DOI":"10.1098\/rspb.2010.0008","type":"journal-article","page":"2049-2057","update-policy":"http:\/\/dx.doi.org\/10.1098\/crossmarkpolicy","source":"CrossRef","title":["A
        naturally occurring variant of Hsp90 that is associated with decanalization"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1098","volume":"277","author":[{"affiliation":[],"family":"Sgro","given":"C.
        M."},{"affiliation":[],"family":"Wegener","given":"B."},{"affiliation":[],"family":"Hoffmann","given":"A.
        A."}],"member":"http:\/\/id.crossref.org\/member\/175","container-title":["Proceedings
        of the Royal Society B: Biological Sciences"],"deposited":{"date-parts":[[2012,10,22]],"timestamp":1350864000000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2010,3,3]]},"URL":"http:\/\/dx.doi.org\/10.1098\/rspb.2010.0008","ISSN":["0962-8452","1471-2954"],"subject":["Immunology
        and Microbiology(all)","Agricultural and Biological Sciences(all)","Medicine(all)","Biochemistry,
        Genetics and Molecular Biology(all)","Environmental Science(all)"]}}'
  recorded_at: Sun, 23 Aug 2015 19:01:16 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016%2Fj.plipres.2006.11.001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,5,12]],"timestamp":1431436795803},"reference-count":209[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1007%2Fs15010-008-8087-y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,8]],"timestamp":1433773519301},"reference-count":56,"publisher":"Springer
        Science + Business Media","issue":"2","DOI":"10.1007\/s15010-008-8087-y","type":"journal-article","page":"80-86","source":"CrossRef","title":["A
        Dynamic Reinfection Hypothesis of Latent Tuberculosis Infection"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1007","volume":"37","author":[{"affiliation":[],"family":"Cardona","given":"P.-J."}],"member":"http:\/\/id.crossref.org\/member\/297","container-title":["Infection"],"deposited":{"date-parts":[[2013,4,12]],"timestamp":1365724800000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2009,3,23]]},"alternative-id":["8087"],"URL":"http:\/\/dx.doi.org\/10.1007\/s15010-008-8087-y","ISSN":["0300-8126","1439-0973"],"subject":["Infectious
        Diseases","Microbiology (medical)"]}}'
  recorded_at: Sun, 23 Aug 2015 19:01:16 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1111%2Fj.1460-9568.2007.05843.x
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,6]],"timestamp":1433583036550},"reference-count":8[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.5012%2Fbkcs.2011.32.2.620
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,2,9]],"timestamp":1423489876974},"reference-count":4,"publisher":"Korean
        Chemical Society","issue":"2","DOI":"10.5012\/bkcs.2011.32.2.620","type":"journal-article","page":"620-624","source":"CrossRef","title":["","Dynamic
        Research of a Potential Carrier for Hydrophobic Compound Model Pyrene Using
        Amphiphilic Peptide EYK"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.5012","volume":"32","author":[{"affiliation":[],"family":"Wang","given":"Liang"},{"affiliation":[],"family":"Zhao","given":"Xiao-Jun"}],"member":"http:\/\/id.crossref.org\/member\/2923","container-title":["Bulletin
        of the Korean Chemical Society"],"deposited":{"date-parts":[[2012,12,10]],"timestamp":1355097600000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2011,2,20]]},"URL":"http:\/\/dx.doi.org\/10.5012\/bkcs.2011.32.2.620","ISSN":["0253-2964"],"subject":["Chemistry(all)"]}}'
  recorded_at: Sun, 23 Aug 2015 19:01:16 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1890%2F07-1689.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,6]],"timestamp":1433612394051},"reference-count":38,"publisher":"Ecological
        Society of America","issue":"5","DOI":"10.1890\/07-1689.1","type":"journal-article","page":"1093-1106","source":"CrossRef","title":["THE
        OASIS EFFECT: RESPONSE OF BIRDS TO EXURBAN DEVELOPMENT IN A SOUTHWESTERN SAVANNA"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1890","volume":"18","author":[{"affiliation":[],"family":"Bock","given":"Carl
        E."},{"affiliation":[],"family":"Jones","given":"Zach F."},{"affiliation":[],"family":"Bock","given":"Jane
        H."}],"member":"http:\/\/id.crossref.org\/member\/792","container-title":["Ecological
        Applications"],"deposited":{"date-parts":[[2011,7,13]],"timestamp":1310515200000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2008,7]]},"alternative-id":["10.1890\/07-1689.1"],"URL":"http:\/\/dx.doi.org\/10.1890\/07-1689.1","ISSN":["1051-0761"],"subject":["Ecology"]}}'
  recorded_at: Sun, 23 Aug 2015 19:01:16 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1097%2FSHK.0b013e3180caac7e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,5]],"timestamp":1433542360801},"reference-count":27,"publisher":"Ovid
        Technologies (Wolters Kluwer Health)","DOI":"10.1097\/shk.0b013e3180caac7e","type":"journal-article","page":"1","source":"CrossRef","title":["THE
        PREOPTIC ANTERIOR HYPOTHALAMIC AREA MEDIATES INITIATION OF THE HYPOTENSIVE
        RESPONSE INDUCED BY LPS IN MALE RATS"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1097","author":[{"affiliation":[],"family":"Yilmaz","given":"Sertac"},{"affiliation":[],"family":"Millington","given":"William
        R."},{"affiliation":[],"family":"Feleder","given":"Carlos"}],"member":"http:\/\/id.crossref.org\/member\/276","container-title":["Shock"],"deposited":{"date-parts":[[2010,6,10]],"timestamp":1276128000000},"score":1.0,"subtitle":[""],"issued":{"date-parts":[[2007,7]]},"URL":"http:\/\/dx.doi.org\/10.1097\/shk.0b013e3180caac7e","ISSN":["1073-2322"],"subject":["Critical
        Care and Intensive Care Medicine","Emergency Medicine"]}}'
  recorded_at: Sun, 23 Aug 2015 19:01:16 GMT
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1089%2Fcyber.2009.0310
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,6]],"timestamp":1433571486425},"reference-count":15,"publis[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1080%2F03079450903190871
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,6]],"timestamp":1433625380586},"reference-count":64,"publ[...]
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1007%2Fs00441-010-1037-x
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,8]],"timestamp":1433738542000},"reference-count":38,"publ[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016%2Fj.lfs.2008.04.003
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,5,13]],"timestamp":1431505818971},"reference-count":35,"pub[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.3846%2F20297475.2012.659680
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,7]],"timestamp":1433683595026},"reference-count":40,"publisher":"Vilnius
        Gediminas Technical University","issue":"1","DOI":"10.3846\/20297475.2012.659680","type":"journal-article","page":"1-10","source":"CrossRef","title":["Pictures
        of me: possibilities of shaping our body image through virtual reality"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.3846","volume":"5","author":[{"affiliation":[],"family":"Wo\u017aniak","given":"Mateusz"}],"member":"http:\/\/id.crossref.org\/member\/2209","container-title":["Limes:
        Borderland Studies"],"deposited":{"date-parts":[[2012,6,28]],"timestamp":1340841600000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2012,6]]},"alternative-id":["10.3846\/20297475.2012.659680"],"URL":"http:\/\/dx.doi.org\/10.3846\/20297475.2012.659680","ISSN":["2029-7475","2029-7483"]}}'
  recorded_at: Sun, 23 Aug 2015 19:01:17 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1093%2Finfdis%2Fjis381
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,7]],"timestamp":1433689756210},"reference-count":34,"publis[...]
[...]
