---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works/10.3758%2Fs13423-011-0070-4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Experimental
        and Cognitive Psychology"],"issued":{"date-parts":[[2011,3,12]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.3758","author":[{"affiliation":[],"family":"Occelli","given":"Valeria"},{"affiliation":[],"family":"Spence","given":"Charles"},{"affiliation":[],"family":"Zampini","given":"Massimiliano"}],"container-title":["Psychon
        Bull Rev","Psychonomic Bulletin & Review"],"reference-count":275,"page":"429-454","deposited":{"date-parts":[[2011,5,20]],"timestamp":1305849600000},"issue":"3","title":["Audiotactile
        interactions in temporal perception"],"alternative-id":["70"],"type":"journal-article","DOI":"10.3758\/s13423-011-0070-4","ISSN":["1069-9384","1531-5320"],"URL":"http:\/\/dx.doi.org\/10.3758\/s13423-011-0070-4","source":"CrossRef","publisher":"Springer
        Science + Business Media","indexed":{"date-parts":[[2015,5,27]],"timestamp":1432761154524},"volume":"18","member":"http:\/\/id.crossref.org\/member\/297"}}'
  recorded_at: Sun, 31 May 2015 02:12:28 GMT
recorded_with: VCR 2.9.3
