---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works/10.3758%2Fs13423-011-0070-4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,6]],"timestamp":1433583502454},"reference-count":275,"publisher":"Springer
        Science + Business Media","issue":"3","DOI":"10.3758\/s13423-011-0070-4","type":"journal-article","page":"429-454","source":"CrossRef","title":["Audiotactile
        interactions in temporal perception"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.3758","volume":"18","author":[{"affiliation":[],"family":"Occelli","given":"Valeria"},{"affiliation":[],"family":"Spence","given":"Charles"},{"affiliation":[],"family":"Zampini","given":"Massimiliano"}],"member":"http:\/\/id.crossref.org\/member\/297","container-title":["Psychonomic
        Bulletin & Review","Psychon Bull Rev"],"deposited":{"date-parts":[[2011,5,20]],"timestamp":1305849600000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2011,3,12]]},"alternative-id":["70"],"URL":"http:\/\/dx.doi.org\/10.3758\/s13423-011-0070-4","ISSN":["1069-9384","1531-5320"],"subject":["Experimental
        and Cognitive Psychology"]}}'
  recorded_at: Sun, 23 Aug 2015 19:01:17 GMT
recorded_with: VCR 2.9.3
