---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.3758%2Fs13423-011-0070-4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,26]],"date-time":"2015-12-26T02:51:18Z","timestamp":1451098278309},"reference-count":275,"publisher":"Springer
        Science + Business Media","issue":"3","published-print":{"date-parts":[[2011,6]]},"DOI":"10.3758\/s13423-011-0070-4","type":"journal-article","created":{"date-parts":[[2011,3,11]],"date-time":"2011-03-11T20:20:28Z","timestamp":1299874828000},"page":"429-454","source":"CrossRef","title":["Audiotactile
        interactions in temporal perception"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.3758","volume":"18","author":[{"affiliation":[],"family":"Occelli","given":"Valeria"},{"affiliation":[],"family":"Spence","given":"Charles"},{"affiliation":[],"family":"Zampini","given":"Massimiliano"}],"member":"http:\/\/id.crossref.org\/member\/297","published-online":{"date-parts":[[2011,3,12]]},"container-title":["Psychonomic
        Bulletin & Review","Psychon Bull Rev"],"deposited":{"date-parts":[[2011,5,20]],"date-time":"2011-05-20T16:27:51Z","timestamp":1305908871000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2011,3,12]]},"alternative-id":["70"],"URL":"http:\/\/dx.doi.org\/10.3758\/s13423-011-0070-4","ISSN":["1069-9384","1531-5320"],"subject":["Experimental
        and Cognitive Psychology"]}}'
  recorded_at: Sat, 19 Mar 2016 22:55:51 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1016%2Fj.neuroscience.2009.08.040
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,20]],"date-time":"2015-12-20T10:39:36Z","timestamp":1450607976538},"reference-count":46,"publisher":"Elsevier
        BV","issue":"3","license":[{"content-version":"tdm","delay-in-days":0,"start":{"date-parts":[[2009,12,1]],"date-time":"2009-12-01T00:00:00Z","timestamp":1259625600000},"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"published-print":{"date-parts":[[2009,12]]},"DOI":"10.1016\/j.neuroscience.2009.08.040","type":"journal-article","created":{"date-parts":[[2009,8,27]],"date-time":"2009-08-27T14:10:38Z","timestamp":1251382238000},"page":"1377-1386","source":"CrossRef","title":["Thermoregulation
        in the cold changes depending on the time of day and feeding condition: physiological
        and anatomical analyses of involved circadian mechanisms"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","volume":"164","author":[{"affiliation":[],"family":"Tokizawa","given":"K."},{"affiliation":[],"family":"Uchida","given":"Y."},{"affiliation":[],"family":"Nagashima","given":"K."}],"member":"http:\/\/id.crossref.org\/member\/78","container-title":["Neuroscience"],"link":[{"intended-application":"text-mining","content-version":"vor","content-type":"text\/xml","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0306452209013980?httpAccept=text\/xml"},{"intended-application":"text-mining","content-version":"vor","content-type":"text\/plain","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0306452209013980?httpAccept=text\/plain"}],"deposited":{"date-parts":[[2015,4,29]],"date-time":"2015-04-29T14:36:05Z","timestamp":1430318165000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2009,12]]},"alternative-id":["S0306452209013980"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.neuroscience.2009.08.040","ISSN":["0306-4522"],"subject":["Neuroscience(all)"]}}'
  recorded_at: Sat, 19 Mar 2016 22:55:51 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1016%2Fj.jneuroim.2008.06.023
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,22]],"date-time":"2015-12-22T19:40:47Z","timestamp[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1093%2Fjac%2Fdkn166
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,26]],"date-time":"2015-12-26T23:01:20Z","timestamp":14511708[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1016%2Fj.brainres.2010.04.021
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,23]],"date-time":"2015-12-23T06:49:35Z","timestamp[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1016%2Fj.ejphar.2007.09.030
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,22]],"date-time":"2015-12-22T23:23:53Z","timestamp":[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1093%2Fsysbio%2Fsyr078
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,26]],"date-time":"2015-12-26T14:55:30Z","timestamp":14511[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1007%2Fs00421-009-1295-z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,27]],"date-time":"2015-12-27T23:01:55Z","timestamp":145[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1038%2Fnrendo.2010.194
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,26]],"date-time":"2015-12-26T18:06:10Z","timestamp":1451153170203},"reference-count":134,"publisher":"Nature
        Publishing Group","issue":"3","published-print":{"date-parts":[[2011,3]]},"DOI":"10.1038\/nrendo.2010.194","type":"journal-article","created":{"date-parts":[[2010,11,30]],"date-time":"2010-11-30T12:06:42Z","timestamp":1291118802000},"page":"163-175","source":"CrossRef","title":["Stress
        responses: the contribution of prostaglandin E2 and its receptors"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1038","volume":"7","author":[{"affiliation":[],"family":"Furuyashiki","given":"Tomoyuki"},{"affiliation":[],"family":"Narumiya","given":"Shuh"}],"member":"http:\/\/id.crossref.org\/member\/339","published-online":{"date-parts":[[2010,11,30]]},"container-title":["Nat
        Rev Endocrinol","Nature Reviews Endocrinology"],"deposited":{"date-parts":[[2011,8,5]],"date-time":"2011-08-05T13:54:53Z","timestamp":1312552493000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2010,11,30]]},"alternative-id":["nrendo.2010.194"],"URL":"http:\/\/dx.doi.org\/10.1038\/nrendo.2010.194","ISSN":["1759-5029","1759-5037"],"subject":["Endocrinology,
        Diabetes and Metabolism","Endocrinology"]}}'
  recorded_at: Sat, 19 Mar 2016 22:55:56 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1016%2Fj.physbeh.2008.03.022
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,22]],"date-time":"2015-12-22T10:44:15Z","timestamp"[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1098%2Frspb.2010.0008
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,27]],"date-time":"2015-12-27T01:12:09Z","timestamp":1451178729954},"reference-count":26,"publisher":"The
        Royal Society","issue":"1690","published-print":{"date-parts":[[2010,7,7]]},"DOI":"10.1098\/rspb.2010.0008","type":"journal-article","created":{"date-parts":[[2010,3,4]],"date-time":"2010-03-04T01:31:28Z","timestamp":1267666288000},"page":"2049-2057","update-policy":"http:\/\/dx.doi.org\/10.1098\/crossmarkpolicy","source":"CrossRef","title":["A
        naturally occurring variant of Hsp90 that is associated with decanalization"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1098","volume":"277","author":[{"affiliation":[],"family":"Sgro","given":"C.
        M."},{"affiliation":[],"family":"Wegener","given":"B."},{"affiliation":[],"family":"Hoffmann","given":"A.
        A."}],"member":"http:\/\/id.crossref.org\/member\/175","published-online":{"date-parts":[[2010,3,3]]},"container-title":["Proceedings
        of the Royal Society B: Biological Sciences"],"deposited":{"date-parts":[[2012,10,22]],"date-time":"2012-10-22T21:06:21Z","timestamp":1350939981000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2010,3,3]]},"URL":"http:\/\/dx.doi.org\/10.1098\/rspb.2010.0008","ISSN":["0962-8452","1471-2954"],"subject":["Biochemistry,
        Genetics and Molecular Biology(all)","Immunology and Microbiology(all)","Agricultural
        and Biological Sciences(all)","Environmental Science(all)","Medicine(all)"]}}'
  recorded_at: Sat, 19 Mar 2016 22:55:57 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1016%2Fj.plipres.2006.11.001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,22]],"date-time":"2015-12-22T00:29:51Z","timestamp"[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1007%2Fs15010-008-8087-y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,27]],"date-time":"2015-12-27T21:18:16Z","timestamp":145[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1111%2Fj.1460-9568.2007.05843.x
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,22]],"date-time":"2015-12-22T06:28:50Z","timesta[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.5012%2Fbkcs.2011.32.2.620
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,22]],"date-time":"2015-12-22T11:46:06Z","timestamp":14[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1890%2F07-1689.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2016,2,25]],"date-time":"2016-02-25T01:22:05Z","timestamp":145636332531[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1097%2FSHK.0b013e3180caac7e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,25]],"date-time":"2015-12-25T18:38:03Z","timestamp":[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1089%2Fcyber.2009.0310
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,25]],"date-time":"2015-12-25T23:16:48Z","timestamp":14510[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1080%2F03079450903190871
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2016,2,23]],"date-time":"2016-02-23T12:14:55Z","timestamp":1456[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1007%2Fs00441-010-1037-x
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,28]],"date-time":"2015-12-28T01:07:35Z","timestamp":145[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1016%2Fj.lfs.2008.04.003
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,22]],"date-time":"2015-12-22T11:28:05Z","timestamp":145[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.3846%2F20297475.2012.659680
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,26]],"date-time":"2015-12-26T22:47:23Z","timestamp":[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1093%2Finfdis%2Fjis381
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,27]],"date-time":"2015-12-27T00:12:59Z","timestamp":14511[...]
[...]
