---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works/10.3758%2Fs13423-011-0070-4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Experimental
        and Cognitive Psychology"],"issued":{"date-parts":[[2011,3,12]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.3758","author":[{"affiliation":[],"family":"Occelli","given":"Valeria"},{"affiliation":[],"family":"Spence","given":"Charles"},{"affiliation":[],"family":"Zampini","given":"Massimiliano"}],"container-title":["Psychon
        Bull Rev","Psychonomic Bulletin & Review"],"reference-count":275,"page":"429-454","deposited":{"date-parts":[[2011,5,20]],"timestamp":1305849600000},"issue":"3","title":["Audiotactile
        interactions in temporal perception"],"alternative-id":["70"],"type":"journal-article","DOI":"10.3758\/s13423-011-0070-4","ISSN":["1069-9384","1531-5320"],"URL":"http:\/\/dx.doi.org\/10.3758\/s13423-011-0070-4","source":"CrossRef","publisher":"Springer
        Science + Business Media","indexed":{"date-parts":[[2015,6,6]],"timestamp":1433583502454},"volume":"18","member":"http:\/\/id.crossref.org\/member\/297"}}'
  recorded_at: Tue, 14 Jul 2015 14:21:30 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016%2Fj.neuroscience.2009.08.040
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Neuroscience(all)"],"license":[{"content-version":"tdm","delay-in-days":0,"start":{"date-parts":[[2009,12,1]],"timestamp":1259625600000},"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"issued":{"date-parts":[[2009,12]]},"link":[{"intended-application":"text-mining","content-version":"vor","content-type":"text\/xml","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0306452209013980?httpAccept=text\/xml"},{"intended-application":"text-mining","content-version":"vor","content-type":"text\/plain","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0306452209013980?httpAccept=text\/plain"}],"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","author":[{"affiliation":[],"family":"Tokizawa","given":"K."},{"affiliation":[],"family":"Uchida","given":"Y."},{"affiliation":[],"family":"Nagashima","given":"K."}],"container-title":["Neuroscience"],"reference-count":46,"page":"1377-1386","deposited":{"date-parts":[[2015,4,29]],"timestamp":1430265600000},"issue":"3","title":["Thermoregulation
        in the cold changes depending on the time of day and feeding condition: physiological
        and anatomical analyses of involved circadian mechanisms"],"alternative-id":["S0306452209013980"],"type":"journal-article","DOI":"10.1016\/j.neuroscience.2009.08.040","ISSN":["0306-4522"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.neuroscience.2009.08.040","source":"CrossRef","publisher":"Elsevier
        BV","indexed":{"date-parts":[[2015,6,10]],"timestamp":1433919654287},"volume":"164","member":"http:\/\/id.crossref.org\/member\/78"}}'
  recorded_at: Tue, 14 Jul 2015 14:21:31 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016%2Fj.jneuroim.2008.06.023
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Immunology","Immunology
        and Allergy","Clinical Neur[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1093%2Fjac%2Fdkn166
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Infectious
        Diseases","Pharmacology (medical)","Pharmacology"][...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016%2Fj.brainres.2010.04.021
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Molecular
        Biology","Clinical Neurology","Neuroscien[...]
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016%2Fj.ejphar.2007.09.030
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Pharmacology"],"issued":{"date-parts":[[2008,1]]},"link":[{"i[...]
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1093%2Fsysbio%2Fsyr078
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Ecology,
        Evolution, Behavior and Systematics","Genetics"],[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1007%2Fs00421-009-1295-z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Orthopedics
        and Sports Medicine","Physiology (medical)",[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1038%2Fnrendo.2010.194
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Endocrinology,
        Diabetes and Metabolism","Endocrinology"],"issued":{"date-parts":[[2010,11,30]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1038","author":[{"affiliation":[],"family":"Furuyashiki","given":"Tomoyuki"},{"affiliation":[],"family":"Narumiya","given":"Shuh"}],"container-title":["Nat
        Rev Endocrinol","Nature Reviews Endocrinology"],"reference-count":134,"page":"163-175","deposited":{"date-parts":[[2011,8,5]],"timestamp":1312502400000},"issue":"3","title":["Stress
        responses: the contribution of prostaglandin E2 and its receptors"],"alternative-id":["nrendo.2010.194"],"type":"journal-article","DOI":"10.1038\/nrendo.2010.194","ISSN":["1759-5029","1759-5037"],"URL":"http:\/\/dx.doi.org\/10.1038\/nrendo.2010.194","source":"CrossRef","publisher":"Nature
        Publishing Group","indexed":{"date-parts":[[2015,6,7]],"timestamp":1433655128624},"volume":"7","member":"http:\/\/id.crossref.org\/member\/339"}}'
  recorded_at: Tue, 14 Jul 2015 14:21:33 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016%2Fj.physbeh.2008.03.022
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Experimental
        and Cognitive Psychology","Behavioral N[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1098%2Frspb.2010.0008
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Immunology
        and Microbiology(all)","Agricultural and Biological Sciences(all)","Medicine(all)","Biochemistry,
        Genetics and Molecular Biology(all)","Environmental Science(all)"],"issued":{"date-parts":[[2010,3,3]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1098","update-policy":"http:\/\/dx.doi.org\/10.1098\/crossmarkpolicy","author":[{"affiliation":[],"family":"Sgro","given":"C.
        M."},{"affiliation":[],"family":"Wegener","given":"B."},{"affiliation":[],"family":"Hoffmann","given":"A.
        A."}],"container-title":["Proceedings of the Royal Society B: Biological Sciences"],"reference-count":26,"page":"2049-2057","deposited":{"date-parts":[[2012,10,22]],"timestamp":1350864000000},"issue":"1690","title":["A
        naturally occurring variant of Hsp90 that is associated with decanalization"],"type":"journal-article","DOI":"10.1098\/rspb.2010.0008","ISSN":["0962-8452","1471-2954"],"URL":"http:\/\/dx.doi.org\/10.1098\/rspb.2010.0008","source":"CrossRef","publisher":"The
        Royal Society","indexed":{"date-parts":[[2015,6,7]],"timestamp":1433691650672},"volume":"277","member":"http:\/\/id.crossref.org\/member\/175"}}'
  recorded_at: Tue, 14 Jul 2015 14:21:34 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016%2Fj.plipres.2006.11.001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Biochemistry","Cell
        Biology"],"issued":{"date-parts"[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1007%2Fs15010-008-8087-y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Infectious
        Diseases","Microbiology (medical)"],"issued":{"date-parts":[[2009,3,23]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1007","author":[{"affiliation":[],"family":"Cardona","given":"P.-J."}],"container-title":["Infection"],"reference-count":56,"page":"80-86","deposited":{"date-parts":[[2013,4,12]],"timestamp":1365724800000},"issue":"2","title":["A
        Dynamic Reinfection Hypothesis of Latent Tuberculosis Infection"],"alternative-id":["8087"],"type":"journal-article","DOI":"10.1007\/s15010-008-8087-y","ISSN":["0300-8126","1439-0973"],"URL":"http:\/\/dx.doi.org\/10.1007\/s15010-008-8087-y","source":"CrossRef","publisher":"Springer
        Science + Business Media","indexed":{"date-parts":[[2015,6,8]],"timestamp":1433773519301},"volume":"37","member":"http:\/\/id.crossref.org\/member\/297"}}'
  recorded_at: Tue, 14 Jul 2015 14:21:37 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1111%2Fj.1460-9568.2007.05843.x
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":["Hypothalamic
        projections to raphe: stress and inflammation"],"[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.5012%2Fbkcs.2011.32.2.620
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Chemistry(all)"],"issued":{"date-parts":[[2011,2,20]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.5012","author":[{"affiliation":[],"family":"Wang","given":"Liang"},{"affiliation":[],"family":"Zhao","given":"Xiao-Jun"}],"container-title":["Bulletin
        of the Korean Chemical Society"],"reference-count":4,"page":"620-624","deposited":{"date-parts":[[2012,12,10]],"timestamp":1355097600000},"issue":"2","title":["","Dynamic
        Research of a Potential Carrier for Hydrophobic Compound Model Pyrene Using
        Amphiphilic Peptide EYK"],"type":"journal-article","DOI":"10.5012\/bkcs.2011.32.2.620","ISSN":["0253-2964"],"URL":"http:\/\/dx.doi.org\/10.5012\/bkcs.2011.32.2.620","source":"CrossRef","publisher":"Korean
        Chemical Society","indexed":{"date-parts":[[2015,2,9]],"timestamp":1423489876974},"volume":"32","member":"http:\/\/id.crossref.org\/member\/2923"}}'
  recorded_at: Tue, 14 Jul 2015 14:21:38 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1890%2F07-1689.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Ecology"],"issued":{"date-parts":[[2008,7]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1890","author":[{"affiliation":[],"family":"Bock","given":"Carl
        E."},{"affiliation":[],"family":"Jones","given":"Zach F."},{"affiliation":[],"family":"Bock","given":"Jane
        H."}],"container-title":["Ecological Applications"],"reference-count":38,"page":"1093-1106","deposited":{"date-parts":[[2011,7,13]],"timestamp":1310515200000},"issue":"5","title":["THE
        OASIS EFFECT: RESPONSE OF BIRDS TO EXURBAN DEVELOPMENT IN A SOUTHWESTERN SAVANNA"],"alternative-id":["10.1890\/07-1689.1"],"type":"journal-article","DOI":"10.1890\/07-1689.1","ISSN":["1051-0761"],"URL":"http:\/\/dx.doi.org\/10.1890\/07-1689.1","source":"CrossRef","publisher":"Ecological
        Society of America","indexed":{"date-parts":[[2015,6,6]],"timestamp":1433612394051},"volume":"18","member":"http:\/\/id.crossref.org\/member\/792"}}'
  recorded_at: Tue, 14 Jul 2015 14:21:38 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1097%2FSHK.0b013e3180caac7e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[""],"subject":["Critical
        Care and Intensive Care Medicine","Emergency Medicine"],"issued":{"date-parts":[[2007,7]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1097","author":[{"affiliation":[],"family":"Yilmaz","given":"Sertac"},{"affiliation":[],"family":"Millington","given":"William
        R."},{"affiliation":[],"family":"Feleder","given":"Carlos"}],"container-title":["Shock"],"reference-count":27,"page":"1","deposited":{"date-parts":[[2010,6,10]],"timestamp":1276128000000},"title":["THE
        PREOPTIC ANTERIOR HYPOTHALAMIC AREA MEDIATES INITIATION OF THE HYPOTENSIVE
        RESPONSE INDUCED BY LPS IN MALE RATS"],"type":"journal-article","DOI":"10.1097\/shk.0b013e3180caac7e","ISSN":["1073-2322"],"URL":"http:\/\/dx.doi.org\/10.1097\/shk.0b013e3180caac7e","source":"CrossRef","publisher":"Ovid
        Technologies (Wolters Kluwer Health)","indexed":{"date-parts":[[2015,6,5]],"timestamp":1433542360801},"member":"http:\/\/id.crossref.org\/member\/276"}}'
  recorded_at: Tue, 14 Jul 2015 14:21:38 GMT
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1089%2Fcyber.2009.0310
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Applied
        Psychology","Social Psychology","Computer Science [...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1080%2F03079450903190871
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Medicine(all)"],"issued":{"date-parts":[[2009,10]]},"score":1.0,[...]
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1007%2Fs00441-010-1037-x
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Histology","Pathology
        and Forensic Medicine","Cell Biolo[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016%2Fj.lfs.2008.04.003
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Biochemistry,
        Genetics and Molecular Biology(all)","Phar[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.3846%2F20297475.2012.659680
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"issued":{"date-parts":[[2012,6]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.3846","author":[{"affiliation":[],"family":"Wo\u017aniak","given":"Mateusz"}],"container-title":["Limes:
        Borderland Studies"],"reference-count":40,"page":"1-10","deposited":{"date-parts":[[2012,6,28]],"timestamp":1340841600000},"issue":"1","title":["Pictures
        of me: possibilities of shaping our body image through virtual reality"],"alternative-id":["10.3846\/20297475.2012.659680"],"type":"journal-article","DOI":"10.3846\/20297475.2012.659680","ISSN":["2029-7475","2029-7483"],"URL":"http:\/\/dx.doi.org\/10.3846\/20297475.2012.659680","source":"CrossRef","publisher":"Vilnius
        Gediminas Technical University","indexed":{"date-parts":[[2015,6,7]],"timestamp":1433683595026},"volume":"5","member":"http:\/\/id.crossref.org\/member\/2209"}}'
  recorded_at: Tue, 14 Jul 2015 14:21:42 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1093%2Finfdis%2Fjis381
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Immunology
        and Allergy","Infectious Diseases"],"issued":{"[...]
[...]
