<% if Article.first && Source.active.any? %>
  <p>Total number of articles with at least one event, linear scale.</p><br/>
<% else %>
  <div class="alert alert-info">No events found</div>
<% end %>

<%= javascript_include_tag 'sources/index' %>
