<% if Work.first && Source.visible.any? %>
  <div class="panel panel-default">
    <div class="panel-heading panel-title">Works with events<small class="pull-right">linear scale</small></div>
    <div class="panel-body" id="work-body">
      <div class="text-muted" id="work-loading">Loading … <%= image_tag "spinner.gif" %></div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading panel-title">Total number of events <small class="pull-right">logarithmic scale</small></div>
    <div class="panel-body" id="event-body">
      <div class="text-muted" id="event-loading">Loading … <%= image_tag "spinner.gif" %></div>
    </div>
  </div>
<% else %>
  <div class="alert alert-info">No events found</div>
<% end %>

<%= javascript_include_tag 'sources/index' %>
