<% if Article.first && Source.visible.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">Total number of events per source, logarithmic scale</div>
    <div class="panel-body" id="events-body">
    </div>
  </div>
<% else %>
  <div class="alert alert-info">No events found</div>
<% end %>
