<% if @source.aggregations.sum(:total) > 0 %>
  <div class="panel panel-default">
    <div class="panel-heading panel-title">Events <small class="pull-right">monthly</small></div>
    <div class="panel-body" id="panel-events">
      <div class="text-muted" id="loading">Loading … <%= image_tag "spinner.gif" %></div>

      <%= javascript_include_tag 'sources/events' %>
    </div>
  </div>
<% else %>
  <div class="alert alert-info">There are currently no events</div>
<% end %>
