<div id="rss" class="pull-right">
  <%= link_to image_tag("feed-icon-28x28.png"), source_path(@source, format: "rss") %>
</div>

<div class="content" id="content">
  <div class="text-muted" id="loading-results">Loading … <%= image_tag "spinner.gif" %></div>
</div>

<%= javascript_include_tag 'works/index' %>
