<h1>Editing configuration for source "<%= @source.name %>"</h1>

<%= render :partial => "form", :object => @source %>

<%= link_to 'Show', source_path(@source) %>
<br/>
<%= link_to 'Back to list', sources_path %>
