<%#
  # $HeadURL$
  # $Id$
  #
  # Copyright (c) 2009-2012 by Public Library of Science, a non-profit corporation
  # http://www.plos.org/
  #
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #     http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.
-%>

<div class="content">
  <div class="page-header">
    <h1>Sources</h1>
  </div>
  
  <% unless @groups.empty? %>
    <% @groups.each do |group| %>
      <% unless group.sources.where("active = 1").empty? %>
        <h2 class="border-bottom"><%= h(group.name) %></h2>
        <% group.sources.where("active = 1").in_groups_of(4, false) do |sources| %>
          <div class="row">
            <% sources.each do |source| %>
              <div class="span3">
                    <h4>
                      <%= image_tag(source.name + ".png", :size => "16x16") if FileTest.exist?("#{Rails.root.to_s}/app/assets/images/#{source.name}.png") %>
                      <%= link_to h(source.display_name), source_path(source) %>
                    </h4>
                    <p><%= h(source.description) if source.description %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>