---
http_interactions:
- request:
    method: get
    uri: http://www.plosreports.org/services/rest?doi=10.1371/journal.pone.0116034&method=usage.stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Last-Modified:
      - Tue, 16 Jun 2015 05:09:21 GMT
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <rest generator="xml_writer" version="1.0"><status>success</status><response><criteria><year>all</year><month>all</month><journal>all</journal><doi>10.1371/journal.pone.0116034</doi></criteria><results><total><total>169</total></total><item id="0"><year>2014</year><month>12</month><get-document>70</get-document><get-pdf>11</get-pdf><get-xml>9</get-xml></item><item id="1"><year>2015</year><month>1</month><get-document>23</get-document><get-pdf>6</get-pdf><get-xml>1</get-xml></item><item id="2"><year>2015</year><month>2</month><get-document>7</get-document><get-pdf>2</get-pdf></item><item id="3"><year>2015</year><month>3</month><get-document>15</get-document><get-pdf>3</get-pdf></item><item id="4"><year>2015</year><month>4</month><get-document>7</get-document><get-pdf>2</get-pdf><get-xml>1</get-xml></item><item id="5"><year>2015</year><month>5</month><get-document>7</get-document><get-pdf>1</get-pdf></item><item id="6"><year>2015</year><month>6</month><get-document>4</get-document></item></results></response></rest>
  recorded_at: Mon, 15 Jun 2015 22:21:03 GMT
recorded_with: VCR 2.9.3
