---
http_interactions:
- request:
    method: get
    uri: http://mediacuration.plos.org/api/v1?doi=10.1371/journal.pone.0111913
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Etag:
      - '"d3923cce72151e2bba41177d244539d9"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"doi":"10.1371/journal.pone.0111913","referrals":[{"referral":"http://www.nytimes.com/2014/12/11/science/new-research-quantifies-the-oceans-plastic-problem.html?_r=1","language":"English","title":"New
        Research Quantifies the Oceans\u2019 Plastic Problem","type":"News","publication":"nytimes","published_on":"2014-12-11T00:00:00Z","link_state":"APPROVED"},{"referral":"http://www.nature.com/news/fate-of-ocean-plastic-remains-a-mystery-1.16508","language":"English","title":"Fate
        of ocean plastic remains a mystery\r\nSurveys find less marine microplastic
        than expected.","type":"News","publication":"Nature","published_on":"2014-12-11T00:00:00Z","link_state":"APPROVED"},{"referral":"http://www.smithsonianmag.com/science-nature/ocean-contains-over-five-trillion-pieces-plastic-weighing-more-250000-tons-180953576/?no-ist","lan[...]
