{
  "alm": { "layout": "plos",
           "uid": "doi",
           "doi_prefix": "10.1371",
           "environment": "development",
           "github_client_id": "",
           "github_secret": "",
           "seed_sample_articles": true,
           "admin": { "username": "EXAMPLE", "email": "admin@example.org", "password": "EXAMPLE" },
           "cas_url": "EXAMPLE",
           "counter": { "url": "EXAMPLE" },
           "figshare": { "url": "EXAMPLE" },
           "crossref": { "username": "EXAMPLE", "password": "EXAMPLE" },
           "facebook": { "access_token": "EXAMPLE" },
           "mendeley": { "api_key": "EXAMPLE" },
           "nature": { "api_key": "EXAMPLE"},
           "pmc": { "url": "EXAMPLE", "filepath": "EXAMPLE" },
           "f1000": { "url": "EXAMPLE", "filename": "EXAMPLE" },
           "researchblogging": { "username": "EXAMPLE", "password": "EXAMPLE" },
           "wos": { "url": "EXAMPLE" }},
  "mysql": { "bind_address": "0.0.0.0",
             "server_root_password": "EXAMPLE",
             "server_repl_password": "EXAMPLE",
             "server_debian_password": "EXAMPLE"},
  "couch_db": { "config": { "httpd": { "bind_address": "0.0.0.0", "port": 5984 }}}
}
