{
  "ruby": {
    "rails_env": "development",
    "db": { "password": "EXAMPLE" }
  },
  "alm": {
    "settings": {
      "uid": "doi",
      "doi_prefix": "",
      "workers": 3
    },
    "sources": {
      "admin": { "password": null, "email": "info@example.org" },
      "crossref": { "username": "EXAMPLE", "password": "EXAMPLE" },
      "facebook": { "access_token": "EXAMPLE" },
      "mendeley": { "client_id": "EXAMPLE", "secret": "EXAMPLE" }
    }
  },
  "couch_db": { "config": { "httpd": { "bind_address": "0.0.0.0", "port": 5984 }}}
}
