---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/members?offset=0&rows=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member-list","message-version":"1.0.0","message":{"items":[{"last-status-check-time":1458536464626,"primary-name":"Hogrefe
        Publishing Group","counts":{"backfile-dois":30944,"current-dois":3288,"total-dois":34232},"breakdowns":{"dois-by-issued-year":[[2003,2423],[2004,2382],[2002,2328],[2005,2325],[2006,2283],[2007,2247],[2008,2005],[2012,1953],[2013,1930],[2014,1910],[2009,1894],[2015,1858],[2010,1851],[2011,1829],[2001,1478],[2000,1476],[1999,1267],[2016,306],[1997,163],[1996,140],[1998,138],[1995,103],[1994,11],[1993,11],[0,1]]},"prefixes":["10.1024","10.1026","10.1027"],"coverage":{"funders-backfile":0.0,"licenses-backfile":0.0,"funders-current":0.0,"resource-links-backfile":0.0,"orcids-backfile":0.0,"update-policies-current":0.0,"orcids-current":0.0,"references-backfile":0.3440408408641815,"award-numbers-backfile":0.0,"update-policies-backfile":0.0,"licenses-current":0.0,"award-numbers-current":0.0,"resource-links-current":0.0,"references-current":0.21715328097343445},"prefix":[{"value":"10.1024","name":"Hogrefe
        Publishing Group","public-references":false},{"value":"10.1026","name":"Hogrefe
        Publishing Group","public-references":false},{"value":"10.1027","name":"Hogrefe
        Publishing Group","public-references":false}],"id":101,"tokens":["hogrefe","publishing","group"],"flags":{"deposits-orcids-current":false,"deposits":true,"deposits-update-policies-backfile":false,"deposits-award-numbers-current":false,"deposits-resource-links-current":false,"deposits-articles":true,"deposits-funders-current":false,"deposits-references-backfile":true,"deposits-licenses-backfile":false,"deposits-award-numbers-backfile":false,"deposits-references-current":true,"deposits-resource-links-backfile":false,"deposits-orcids-backfile":false,"deposits-funders-backfile":false,"deposits-update-policies-current":false,"deposits-licenses-current":false},"location":"Langgass-Strasse
        76 Berne CH-3000 Switzerland","names":["Hogrefe Publishing Group"]},{"last-status-check-time":1458536464715,"primary-name":"Ebsco
        Publishing","counts":{"backfile-dois":89,"current-dois":0,"total-dois":89},"breakdowns":{"dois-by-issued-year":[[2007,23],[2006,23],[2004,18],[2005,14],[2003,11]]},"prefixes":["10.1033"],"coverage":{"funders-backfile":0.0,"licenses-backfile":0.0,"funders-current":0,"resource-links-backfile":0.0,"orcids-backfile":0.0,"update-policies-current":0,"orcids-current":0,"references-backfile":0.0,"award-nu[...]
