---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1023%2FMISSING_TITLE_AND_ISSUED
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,27]],"date-time":"2015-12-27T02:16:26Z","timestamp":1451182586239},"reference-count":0,"publisher":"Springer
        Science + Business Media","issue":"6","published-print":{"date-parts":[[1999]]},"DOI":"10.1023\/MISSING_TITLE_AND_ISSUED","type":"journal-article","created":{"date-parts":[[2002,12,21]],"date-time":"2002-12-21T19:00:06Z","timestamp":1040497206000},"page":"551-574","source":"CrossRef","title":[],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1007","volume":"27","author":[{"affiliation":[],"family":"Olivelle","given":"Patrick"}],"member":"http:\/\/id.crossref.org\/member\/297","container-title":["Journal
        of Indian Philosophy"],"deposited":{"date-parts":[[2012,12,27]],"date-time":"2012-12-27T22:17:37Z","timestamp":1356646657000},"score":1.0,"subtitle":[],"URL":"http:\/\/dx.doi.org\/10.1023\/MISSING_TITLE_AND_ISSUED","ISSN":["0022-1791"],"subject":["Philosophy","Cultural
        Studies"]}}'
  recorded_at: Thu, 07 Apr 2016 13:01:01 GMT
recorded_with: VCR 2.9.3
