<div class="content">
  <div class="page-header">
    <h1>
      <%= pluralize(number_with_delimiter(RetrievalStatus.sum(:event_count)), 'Event') %>
    </h1>
  </div>
  
  <ul class="nav nav-tabs">
    <li class="active"><a href="#article" data-toggle="tab">Articles with Events</a></li>
    <li><a href="#event" data-toggle="tab">All Events</a></li>
  </ul>
  
  <div class="tab-content">
    <div class="tab-pane active" id="article">
      <%= render :partial => 'article' %> 
    </div>
    <div class="tab-pane" id="event">
      <%= render :partial => 'event' %> 
    </div>
  </div>
</div>