---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/articlemetrics/lagotto/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '1420138894'
      Etag:
      - '"e5ef01c3a5bd57539481c67caf19d72b"'
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/repositories/4208139/releases?page=2>; rel="next",
        <https://api.github.com/repositories/4208139/releases?page=2>; rel="last"
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/articlemetrics/lagotto/releases/806699","assets_url":"https://api.github.com/repos/articlemetrics/lagotto/releases/806699/assets","upload_url":"https://uploads.github.com/repos/articlemetrics/lagotto/releases/806699/assets{?name}","html_url":"https://github.com/articlemetrics/lagotto/releases/tag/v.3.11","id":806699,"tag_name":"v.3.11","target_commitish":"master","name":"Lagotto
        3.11","draft":false,"author":{"login":"mfenner","id":23151,"avatar_url":"https://avatars.githubusercontent.com/u/23151?v=3","gravatar_id":"","url":"https://api.github.com/users/mfenner","html_url":"https://github.com/mfenner","followers_url":"https://api.github.com/users/mfenner/followers","following_url":"https://api.github.com/users/mfenner/following{/other_user}","gists_url":"https://api.github.com/users/mfenner/gists{/gist_id}","starred_url":"https://api.github.com/users/mfenner/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mfenner/subscriptions","organizations_url":"https://api.github.com/users/mfenner/orgs","repos_url":"https://api.github.com/users/mfenner/repos","events_url":"https://api.github.com/users/mfenner/events{/privacy}","received_events_url":"https://api.github.com/users/mfenner/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2014-12-24T00:13:15Z","published_at":"2014-12-24T00:15:04Z","assets":[],"tarball_url":"https://api.github.com/repos/articlemetrics/lagotto/tarball/v.3.11","zipball_url":"https://api.github.com/repos/articlemetrics/lagotto/zipball/v.3.11","body":"Lagotto
        3.11 was released on December 24, 2014 with the following changes:\r\n\r\n*
        added Github source (stars and forks for Github repos as works) ([#195](https://github.com/articlemetrics/lagotto/issues/195))\r\n*
        added authentication options ORCID and Github ([#196](https://github.com/articlemetrics/lagotto/issues/196))\r\n*
        fixed bug where retrieval_statuses were not created properly [...]
