---
http_interactions:
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1371/JOURNAL.PONE.0036790
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1371/JOURNAL.PONE.0036790",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Tue, 22 Mar 2016 19:36:59 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1371%2FJOURNAL.PONE.0036790
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,28]],"date-time":"2015-12-28T04:53:13Z","timestamp":1451278393564},"reference-count":0,"publisher":"Public
        Library of Science (PLoS)","issue":"5","DOI":"10.1371\/journal.pone.0036790","type":"journal-article","created":{"date-parts":[[2012,5,15]],"date-time":"2012-05-15T21:15:00Z","timestamp":1337116500000},"page":"e36790","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","source":"CrossRef","title":["New
        Dromaeosaurids (Dinosauria: Theropoda) from the Lower Cretaceous of Utah,
        and the Evolution of the Dromaeosaurid Tail"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1371","volume":"7","author":[{"affiliation":[],"family":"Senter","given":"Phil"},{"affiliation":[],"family":"Kirkland","given":"James
        I."},{"affiliation":[],"family":"DeBlieux","given":"Donald D."},{"affiliation":[],"family":"Madsen","given":"Scott"},{"affiliation":[],"family":"Toth","given":"Natalie"}],"member":"http:\/\/id.crossref.org\/member\/340","published-online":{"date-parts":[[2012,5,15]]},"container-title":["PLoS
        ONE"],"deposited":{"date-parts":[[2014,3,5]],"date-time":"2014-03-05T23:56:41Z","timestamp":1394063801000},"score":1.0,"subtitle":[],"editor":[{"affiliation":[],"family":"Dodson","given":"Peter"}],"issued":{"date-parts":[[2012,5,15]]},"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pone.0036790","ISSN":["1932-6203"],"subject":["Biochemistry,
        Genetics and Molecular Biology(all)","Agricultural and Biological Sciences(all)","Medicine(all)"]}}'
  recorded_at: Tue, 22 Mar 2016 19:37:08 GMT
recorded_with: VCR 2.9.3
