---
http_interactions:
- request:
    method: get
    uri: http://www.pubmedcentral.nih.gov/utils/idconv/v1.0/?email=info@example.org&format=json&ids=2568854&idtype=pmcid&tool=Lagotto%204.0-unstable%20-%20http://lagotto-4-0-unstable.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "ok",
         "responseDate": "2015-04-10 02:46:37",
         "request": "email=info%40example.org;format=json;ids=2568854;idtype=pmcid;tool=Lagotto%204.0-unstable%20-%20http%3A%2F%2Flagotto-4-0-unstable.local",
         "records": [
           {
            "pmcid": "PMC2568854",
            "pmid": "18974818",
            "doi": "10.3163/1536-5050.96.4.016",
            "versions": [
              {
               "pmcid": "PMC2568854.1",
               "current": "true"
              }
            ]
           }
         ]
        }
  recorded_at: Fri, 10 Apr 2015 06:46:12 GMT
- request:
    method: get
    uri: http://www.ebi.ac.uk/europepmc/webservices/rest/MED/18974818/databaseLinks//1/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"version":"4.1","hitCount":0,"request":{"id":"18974818","source":"MED","semanticType":"","page":1}}'
  recorded_at: Fri, 10 Apr 2015 06:46:13 GMT
recorded_with: VCR 2.9.3
