---
http_interactions:
- request:
    method: get
    uri: http://en.search.wordpress.com/?f=json&q=%2210.1371/journal.pbio.1002020%22&size=20&t=post
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: ''
    headers:
      Content-Type:
      - text/html
      Location:
      - https://en.search.wordpress.com/?f=json&q=%2210.1371%2Fjournal.pbio.1002020%22&size=20&t=post
      X-Ac:
      - 1.fra _dca
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sun, 23 Aug 2015 19:10:53 GMT
- request:
    method: get
    uri: https://en.search.wordpress.com/?f=json&q=%2210.1371/journal.pbio.1002020%22&size=20&t=post
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hacker:
      - If you're reading this, you should visit automattic.com/jobs and apply to
        join the fun, mention this header.
      X-Ac:
      - 1.fra _dca
    body:
      encoding: UTF-8
      string: '[{"title":"Are microbes vital on earth?","link":"https:\/\/johandecelle.wordpress.com\/2014\/12\/22\/are-microbes-vital-on-earth\/","epoch_time":"1419280218","author":"johandecelle","guid":"https:\/\/johandecelle.wordpress.com\/2014\/12\/22\/are-microbes-vital-on-earth\/","content":"Life
        in a World without Microbes\r\nJack A. Gilbert and Josh D. Neufeld\r\nPLoS
        Biol 12(12): e1002020. (2014)\u00a0 doi:10.1371\/journal.pbio.1002020\r\n\r\n\r\nLife
        would not long remain possible in the absence of microbes.\u201d\u2014Louis
        Pasteur\r\nOr [&#8230;]"},{"title":"Microscope Research Sources","link":"https:\/\/newwritingtechnogenesis.wordpress.com\/2015\/04\/16\/microscope-research-sources\/","epoch_time":"1429215969","author":"vokoun4","guid":"https:\/\/newwritingtechnogenesis.wordpress.com\/2015\/04\/16\/microscope-research-sources\/","content":"To
        prepare for writing my final essay, I decided to gather ten possible sources
        to use for my research. I attempted to find a mix of both historical [&#8230;]"}]'
  recorded_at: Sun, 23 Aug 2015 19:10:54 GMT
recorded_with: VCR 2.9.3
