---
http_interactions:
- request:
    method: get
    uri: http://pub.orcid.org/v1.2/0000-0002-0159-2197x/orcid-bio
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message-version":"1.2","orcid-profile":null,"orcid-search-results":null,"error-desc":{"value":"Not
        found : No entity found for query"}}'
  recorded_at: Sat, 03 Oct 2015 10:17:39 GMT
recorded_with: VCR 2.9.3
