---
http_interactions:
- request:
    method: get
    uri: https://cn.dataone.org/cn/v1/query/solr/?fl=id,title,author,datePublished,authoritativeMN,dateModified&q=datePublished:%5B2014-09-07T00:00:00Z%20TO%202014-09-05T23:59:59Z%5D%2BdateModified:%5B2014-09-07T00:00:00Z%20TO%202014-09-07T23:59:59Z%5D%2BformatType:METADATA&rows=1000&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":5,"params":{"fl":"id,title,author,datePublished,authoritativeMN,dateModified","start":"0","q":"datePublished:[2014-09-07T00:00:00Z
        TO 2014-09-05T23:59:59Z]+dateModified:[2014-09-07T00:00:00Z TO 2014-09-07T23:59:59Z]+formatType:METADATA","wt":"json","rows":"1000"}},"response":{"numFound":0,"start":0,"docs":[]}}'
  recorded_at: Tue, 14 Jul 2015 14:21:47 GMT
recorded_with: VCR 2.9.3
