---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-update-date:2013-09-04,until-update-date:2013-09-05,until-pub-date:2013-09-05,from-pub-date:2013-09-04&sample=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":20,"items":[{"subtitle":[],"issued":{"date-parts":[[2013,9,4]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.3410","author":[{"affiliation":[],"family":"Galasko","given":"Doug"}],"container-title":["F1000
        - Post-publication peer review of the biomedical literature"],"reference-count":0,"deposited":{"date-parts":[[2013,9,4]],"timestamp":1378252800000},"title":["Faculty
        of 1000 evaluation for Brain homogenates from human tauopathies induce tau
        inclusions in mouse brain."],"type":"dataset","DOI":"10.3410\/f.718082666.793482614","URL":"http:\/\/dx.doi.org\/10.3410\/f.718082666.793482614","source":"CrossRef","publisher":"Faculty
        of 1000, Ltd.","indexed":{"date-parts":[[2015,6,11]],"timestamp":1434025581658},"member":"http:\/\/id.crossref.org\/member\/2560"},{"subtitle":[],"subject":["Physical
        and Theoretical Chemistry","Materials Chemistry","Surfaces, Coatings and Films"],"issued":{"date-parts":[[2013,9,5]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1021","author":[{"affiliation":[],"family":"Nesterova","given":"Irina
        V."},{"affiliation":[],"family":"Elsiddieg","given":"Siddieg O."},{"affiliation":[],"family":"Nesterov","given":"Evgueni
        E."}],"container-title":["J. Phys. Chem. B","The Journal of Physical Chemistry
        B"],"reference-count":58,"page":"10115-10121","deposited":{"date-parts":[[2013,9,5]],"timestamp":1378339200000},"issue":"35","title":["Design
        and Evaluation of an i-Motif-Based Allosteric Control Mechanism in DNA-Hairpin
        Molecular Devices"],"alternative-id":["10.1021\/jp405230g"],"type":"journal-article","DOI":"10.1021\/jp405230g","ISSN":["1520-6106","1520-5207"],"URL":"http:\/\/dx.doi.org\/10.1021\/jp405230g","source":"CrossRef","publisher":"American
        Chemical Society (ACS)","indexed":{"date-parts":[[2015,6,8]],"timestamp":1433782481405},"volume":"117","member":"http:\/\/id.crossref.org\/member\/316"},{"subtitle":[],"subject":["Medicine(all)"],"issued":{"date-parts":[[2013,9,5]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.4314","author":[{"affiliation":[],"family":"Wandabwa","given":"JN"},{"affiliation":[],"family":"Businge","given":"C"},{"affiliation":[],"family":"Longo-Mbenza","given":"B"},{"affiliation":[],"family":"Mdaka","given":"ML"},{"affiliation":[],"family":"Kiondo","given":"P"}],"container-title":["African
        Health Sciences","Afr H. Sci."],"reference-count":0,"deposited":{"date-parts":[[2013,9,5]],"timestamp":1378339200000},"issue":"2","title":["Peripartum
        hysterectomy: Two years experience at Nelson Mandela Academic hospital, Mthatha,
        Eastern Cape South Africa"],"type":"journal-article","DOI":"10.4314\/ahs.v13i2.38","ISSN":["1680-6905"],"URL":"http:\/\/dx.doi.org\/10.4314\/ahs.v13i2.38","source":"CrossRef","publisher":"African
        Journals Online (AJOL)","indexed":{"date-parts":[[2015,6,8]],"timestamp":1433782662351},"volume":"13","member":"http:\/\/id.crossref.org\/member\/2895"},{"subtitle":[],"subject":["Chemistry(all)"],"issued":{"date-parts":[[2013,9,5]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1002","author":[{"affiliation":[],"family":"Mizrahy","given":"Shoshy"},{"affiliation":[],"family":"Landesman-Milo","given":"Dalit"},{"affiliation":[],"family":"Peer","given":"Dan"}],"container-title":["Israel
        Journal of Chemistry","Isr. J. Chem."],"reference-count":72,"page":"n\/a-n\/a","deposited":{"date-parts":[[2013,9,6]],"timestamp":1378425600000},"title":["Sweet
        Fairytale: Carbohydrates as Backbones for Glyconanomedicine"],"type":"journal-article","DOI":"10.1002\/ijch.201300068","ISSN":["0021-2148"],"URL":"http:\/\/dx.doi.org\/10.1002\/ijch.201300068","source":"CrossRef","publisher":"Wiley-Blackwell","indexed":{"date-parts":[[2015,6,8]],"timestamp":1433785433750},"member":"http:\/\/id.crossref.org\/member\/311"},{"subtitle":[],"issued":{"date-parts":[[2013,9,5]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1007","author":[{"affiliation":[],"family":"Mezzi","given":"Marco"},{"affiliation":[],"family":"Comodini","given":"Fabrizio"},{"affiliation":[],"family":"Rossi","given":"Leonardo"}],"container-title":["Seismic
        Design of Industrial Facilities"],"reference-count":0,"page":"349-360","deposited":{"date-parts":[[2013,9,4]],"timestamp":1378252800000},"title":["Dissipative
        Devices for Vulnerability Reduction of Precast Buildings"],"type":"book-chapter","DOI":"10.1007\/978-3-658-02810-7_29","ISBN":["http:\/\/id.crossref.org\/isbn\/978-3-658-02809-1","http:\/\/id.crossref.org\/isbn\/978-3-658-02810-7"],"URL":"http:\/\/dx.doi.org\/10.1007\/978-3-658-02810-7_29","source":"CrossRef","publisher":"Springer
        Science + Business Media","indexed":{"date-parts":[[2015,6,11]],"timestamp":1434025580014},"member":"http:\/\/id.crossref.org\/member\/297"},{"subtitle":[],"subject":["Physical
        and Theoretical Chemistry","Materials Chemistry","Surfaces, Coatings and Films"],"issued":{"date-par[...]
