---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-update-date:2013-09-04,until-update-date:2013-09-05,until-pub-date:2013-09-05,from-pub-date:2013-09-04&sample=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":20,"items":[{"subtitle":[],"issued":{"date-parts":[[2013,9,5]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.4314","author":[{"affiliation":[],"family":"Falodun","given":"A"},{"affiliation":[],"family":"Iyamabo","given":"H"},{"affiliation":[],"family":"Odion","given":"EE"},{"affiliation":[],"family":"Engel-Lutz","given":"N"}],"container-title":["Journal
        of Applied Sciences and Environmental Management"],"reference-count":0,"deposited":{"date-parts":[[2013,9,6]],"timestamp":1378425600000},"issue":"3","title":["Antiproliferative
        and Pro-apoptotic activities of the stem bark of <i>Persea Americana<\/i>
        (lauraceae) mill in Human Breast Adenocarcinoma Cell Line"],"type":"journal-article","DOI":"10.4314\/jasem.v17i3.13","ISSN":["1119-8362"],"URL":"http:\/\/dx.doi.org\/10.4314\/jasem.v17i3.13","source":"CrossRef","publisher":"African
        Journals Online (AJOL)","indexed":{"date-parts":[[2015,6,8]],"timestamp":1433785532740},"volume":"17","member":"http:\/\/id.crossref.org\/member\/2895"},{"subtitle":[],"subject":["Anesthesiology
        and Pain Medicine","Pediatrics, Perinatology, and Child Health"],"issued":{"date-parts":[[2013,9,4]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1111","author":[{"affiliation":[{"name":"Department
        of Paediatric Surgery; John Hunter Children''s Hospital; Newcastle; NSW; Australia"}],"family":"Cassey","given":"John"},{"affiliation":[{"name":"Department
        of Anaesthesia and Intensive Care; John Hunter Hospital; Newcastle; NSW; Australia"}],"family":"Armstrong","given":"Peter"},{"affiliation":[{"name":"School
        of Mathematical and Physical Sciences; University of Newcastle; Newcastle;
        NSW; Australia"}],"family":"Colyvas","given":"Kim"},{"affiliation":[{"name":"Faculty
        of Engineering and Built Environment; University of Newcastle; Newcastle;
        NSW; Australia"}],"family":"Stanger","given":"Rohan"}],"container-title":["Pediatric
        Anesthesia","Paediatr Anaesth"],"reference-count":3,"page":"970-970","deposited":{"date-parts":[[2013,9,4]],"timestamp":1378252800000},"issue":"10","title":["
        Comment on \u2018Prevention of intraoperative hypothermia\u2026\u2019 Witt
        L, Denhardt N, Eich C et\u00a0al "],"type":"journal-article","DOI":"10.1111\/pan.12251","ISSN":["1155-5645"],"URL":"http:\/\/dx.doi.org\/10.1111\/pan.12251","source":"CrossRef","publisher":"Wiley-Blackwell","indexed":{"date-parts":[[2015,6,8]],"timestamp":1433779635399},"volume":"23","member":"http:\/\/id.cr[...]
