<div class="content">
  <div class="row">
    <div class="span3 pagination-centered">
      <h4><%= link_to "#{image_tag("github_64.png")}</br>Sign in with Github".html_safe, user_omniauth_authorize_path(:github) %></h4>
    </div>
  </div>
</div>