---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works/10.1371/journal.pone.0000010/agency
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-agency","message-version":"1.0.0","message":{"DOI":"10.1371\/journal.pone.0000010","agency":{"id":"crossref","label":"CrossRef"}}}'
  recorded_at: Sat, 03 Oct 2015 08:01:21 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1371%2Fjournal.pone.0000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,9]],"timestamp":1433813200265},"reference-count":0,"publisher":"Public
        Library of Science (PLoS)","issue":"1","DOI":"10.1371\/journal.pone.0000010","type":"journal-article","page":"e10","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","source":"CrossRef","title":["Differences
        between Belgian and Brazilian Group A Streptococcus Epidemiologic Landscape"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1371","volume":"1","author":[{"affiliation":[],"family":"Smeesters","given":"Pierre
        Robert"},{"affiliation":[],"family":"Vergison","given":"Anne"},{"affiliation":[],"family":"Campos","given":"Diocl\u00e9cio"},{"affiliation":[],"family":"de
        Aguiar","given":"Eurico"},{"affiliation":[],"family":"Deyi","given":"Veronique
        Yvette Miendje"},{"affiliation":[],"family":"Van Melderen","given":"Laurence"}],"member":"http:\/\/id.crossref.org\/member\/340","container-title":["PLoS
        ONE"],"deposited":{"date-parts":[[2014,3,5]],"timestamp":1393977600000},"score":1.0,"subtitle":[],"editor":[{"affiliation":[],"family":"del
        Poeta","given":"Maurizio"}],"issued":{"date-parts":[[2006,12,20]]},"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pone.0000010","ISSN":["1932-6203"],"subject":["Agricultural
        and Biological Sciences(all)","Medicine(all)","Biochemistry, Genetics and
        Molecular Biology(all)"]}}'
  recorded_at: Sat, 03 Oct 2015 08:01:23 GMT
recorded_with: VCR 2.9.3
