<% if @article.retrieval_statuses.sum(:event_count) > 0 %>
  <p>The 20 most recent CrossRef citations for this article.</p>

  <div class="text-muted" id="loading-events">Loading page … <%= image_tag "spinner.gif" %></div>
  <%= javascript_include_tag 'articles/show' %>
<% else %>
  <div class="alert alert-info">No sources have cited this article</div>
<% end %>
