<% if @article.retrieval_statuses.sum(:event_count) > 0 %>
  <div class="text-muted" id="loading">Loading page … <%= image_tag "spinner.gif" %></div>
  <%= javascript_include_tag 'articles/alm' %>
<% else %>
  <div class="alert alert-info">No sources have cited this article</div>
<% end %>
