---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/search.json?limit=100&q=%2210.1371/journal.ppat.0008776%22%20OR%20%22http://www.plosone.org/article/info:doi/10.1371/journal.ppat.0008776%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=Q%2F9uh%2BY%2FGomUf7M98Rkk%2Fz0BhtyDbF6E4voQEJMAZi42byv%2BZCMtsh1OexzYFoQhVeBZ5C%2F2b9Y%3D
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"facets": {}, "modhash": "", "children":
        [], "after": null, "before": null}}'
  recorded_at: Tue, 14 Jul 2015 14:22:53 GMT
recorded_with: VCR 2.9.3
