---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/search.json?limit=100&q=%2210.1371/journal.pone.0044294%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=9HhCDL%2BdTBLpjTXltUvL%2Ff8Zpci55HbezmCm%2FykEq6PRKS0LyXDZXKkDcvv3v3Q4Eg29rauo1aKRABx750Lqm07nHYIW58I%2B
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"facets": {}, "modhash": "", "children":
        [], "after": null, "before": null}}'
  recorded_at: Mon, 04 Apr 2016 16:44:09 GMT
recorded_with: VCR 2.9.3
