---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/search.json?limit=100&q=%2210.1371/journal.ppat.0008776%22%20OR%20%22http://www.plosone.org/article/info:doi/10.1371/journal.ppat.0008776%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=ODfzc9Ypz4yyf8daiTrbNU1N0t4%2Bdm%2B7hV6XiARA%2FnmXfkp%2B8LiF%2FF%2Bd0RiU3cPPkKS1J8kUTl8KuE6Pz4poclZxFCL18sAs
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"facets": {}, "modhash": "", "children":
        [], "after": null, "before": null}}'
  recorded_at: Mon, 04 Apr 2016 16:44:09 GMT
recorded_with: VCR 2.9.3
