---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/search.json?limit=100&q=%2210.1371/journal.ppat.0008776%22%20OR%20%22http://www.plosone.org/article/info:doi/10.1371/journal.ppat.0008776%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=L3u4MUdHQjyH%2BE0s3crP6pFpNNkQ3UvycwsKfeG%2B2Ja%2FtQoIhTE%2BiPVo6gK%2B25cB0eByaas1vhnL0oh5NoM2J8Ntx%2FeGkSM1
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"facets": {}, "modhash": "", "children":
        [], "after": null, "before": null}}'
  recorded_at: Sat, 19 Mar 2016 18:56:30 GMT
recorded_with: VCR 2.9.3
