<% unless @groups.empty? %>
  <% @groups.each do |group| %>
    <% unless group.sources.where("active = 1").empty? %>
      <h2 class="border-bottom"><%= h(group.name) %></h2>
      <% if @article.retrieval_statuses.any? { |rs| rs.source.group_id == group.id && rs.event_count > 0 } %>
        <% group.sources.where("active = 1").in_groups_of(4, false) do |sources| %>
          <div class="row">
            <% sources.each do |source| %>
              <% rs = @article.retrieval_statuses.detect { |rs| rs.source_id == source.id && rs.event_count > 0 } %>
              <% if rs %>
                <div class="span3 text-center dashboard">
                  <h1 class="signpost">
                    <%= link_to_if rs.events_url, number_with_delimiter(rs.event_count), rs.events_url %>
                  </h1>
                  <div><%= link_to h(source.display_name), source_path(source) %></div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p class="muted">No metrics found.</p>
      <% end %>
    <% end %>
  <% end %>
<% end %>