---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works/10.1371/journal.pone.0044294/agency
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-agency","message-version":"1.0.0","message":{"DOI":"10.1371\/journal.pone.0044294","agency":{"id":"crossref","label":"CrossRef"}}}'
  recorded_at: Sat, 03 Oct 2015 08:02:09 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1371%2Fjournal.pone.0044294
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,9]],"timestamp":1433829839095},"reference-count":0,"publisher":"Public
        Library of Science (PLoS)","issue":"10","DOI":"10.1371\/journal.pone.0044294","type":"journal-article","page":"e44294","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","source":"CrossRef","title":["Gene
        Expression Analysis in Human Breast Cancer Associated Blood Vessels"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1371","volume":"7","author":[{"affiliation":[],"family":"Jones","given":"Dylan
        T."},{"affiliation":[],"family":"Lechertier","given":"Tanguy"},{"affiliation":[],"family":"Mitter","given":"Richard"},{"affiliation":[],"family":"Herbert","given":"John
        M. J."},{"affiliation":[],"family":"Bicknell","given":"Roy"},{"affiliation":[],"family":"Jones","given":"J.
        Louise"},{"affiliation":[],"family":"Li","given":"Ji-Liang"},{"affiliation":[],"family":"Buffa","given":"Francesca"},{"affiliation":[],"family":"Harris","given":"Adrian
        L."},{"affiliation":[],"family":"Hodivala-Dilke","given":"Kairbaan"}],"member":"http:\/\/id.crossref.org\/member\/340","container-title":["PLoS
        ONE"],"deposited":{"date-parts":[[2014,3,7]],"timestamp":1394150400000},"score":1.0,"subtitle":[],"editor":[{"affiliation":[],"family":"Pal","given":"Soumitro"}],"issued":{"date-parts":[[2012,10,2]]},"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pone.0044294","ISSN":["1932-6203"],"subject":["Agricultural
        and Biological Sciences(all)","Medicine(all)","Biochemistry, Genetics and
        Molecular Biology(all)"]}}'
  recorded_at: Sat, 03 Oct 2015 08:02:10 GMT
recorded_with: VCR 2.9.3
