---
http_interactions:
- request:
    method: get
    uri: http://mediacuration.plos.org/api/v1?doi=10.1371/journal.pone.0047712
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"b7637d494f0099903c23a42b6d3b23dd"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"doi":"10.1371/journal.pone.0047712","referrals":[{"referral":"http://www.huffingtonpost.com/2013/11/08/personal-hygiene-facts_n_4217839.html","language":"","title":"Everything
        You Know About Your Personal Hygiene Is Wrong ","type":"News","publication":"Huffington
        Post","published_on":"2013-11-26T00:00:00Z","link_state":"APPROVED"}]}'
  recorded_at: Thu, 01 Jan 2015 16:32:26 GMT
recorded_with: VCR 2.9.3
