---
http_interactions:
- request:
    method: get
    uri: http://search.datacite.org/api?fl=doi,creator,title,publisher,publicationYear,resourceTypeGeneral,datacentre_symbol,relatedIdentifier,updated&fq=is_active:true&q=relatedIdentifier:*&rows=0&sort=updated%20asc&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":1},"response":{"numFound":1589220,"start":0,"docs":[]}}
  recorded_at: Mon, 28 Sep 2015 17:13:16 GMT
recorded_with: VCR 2.9.3
