---
http_interactions:
- request:
    method: get
    uri: http://blogs.nature.com/posts.json?doi=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
    body:
      encoding: UTF-8
      string: '[{"post":{"blog":{"percent_complex_words":20.2492,"popularity":3462,"created_at":"2008-11-07T11:49:04Z","title":"Climate
        Progress","niche_tag":"environment","updated_at":"2013-03-15T16:40:26Z","flesch":-23.0903,"feed_url":"climateprogress.org/feed/","url":"climateprogress.org/","decided_on":"2008-11-08T21:55:23Z","rank":1,"num_posts_per_week":7.6484,"id":594,"outgoing_bloglove":3129,"num_words":2606.35,"ip":"bogus
        address","niche_rank":1,"header_title":"BLOGS","fog":33.8667,"description":"An
        insider''s view of climate science, politics and solutions.","status":"accepted"},"links_to_doi":["10.1073/pnas.1212247109"],"percent_complex_words":null,"popularity":0,"created_at":"2013-03-14T22:36:18Z","title":"Why
        You Should Care About The Increasing Amount Of Fraud In Scientific Research","body":"The
        Washington Post reported on the equivalent of an ongoing academic thriller
        unfurling at Johns Hopkins earlier this week, involving a researcher who alleges
        he was fired in retaliation for his criticism of flawed methodology \u2014
        later used in an article published in Nature, one of most prestigio...","updated_at":"2013-03-14T22:36:18Z","flesch":null,"url":"thinkprogress.org.feedsportal.com/c/34726/f/638927/s/29946269/l/0Lthinkprogress0Borg0Chealth0C20A130C0A30C140C17120A510Crising0Eresearch0Eretraction0Erates0C/story01.htm","blog_id":594,"id":804357,"hashed_id":"1624342e56633d27ad647d3597c1d6bf1a8b4db8abbaf49bb4b54f47ebace51e","num_words":null,"published_at":"2013-03-14T20:22:40Z","fog":null}},{"post":{"blog":{"percent_complex_words":13.4314,"popularity":79,"created_at":"2008-11-06T14:08:42Z","title":"Reciprocal
        Space","niche_tag":"life_sciences","updated_at":"2013-03-15T00:15:16Z","flesch":30.0222,"feed_url":"http://occamstypewriter.org/scurry/feed/","url":"http://occamstypewriter.org/scurry/","decided_on":"2008-11-07T12:38:45Z","rank":51,"num_posts_per_week":1.0031,"id":582,"outgoing_bloglove":97,"num_words":3782.37,"ip":"bogus
        add[...]
