---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&continue=&format=json&list=search&srinfo=totalhits&srlimit=50&srnamespace=0&sroffset=0&srprop=timestamp&srsearch=%2210.1371/journal.pone.0044271%22%20OR%20%22http://www.plosone.org/article/info:doi/10.1371/journal.pone.0044271%22&srwhat=text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: ''
    headers:
      Location:
      - https://en.wikipedia.org/w/api.php?action=query&continue=&format=json&list=search&srinfo=totalhits&srlimit=50&srnamespace=0&sroffset=0&srprop=timestamp&srsearch=%2210.1371%2Fjournal.pone.0044271%22+OR+%22http%3A%2F%2Fwww.plosone.org%2Farticle%2Finfo%3Adoi%2F10.1371%2Fjournal.pone.0044271%22&srwhat=text
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 14 Jul 2015 14:20:59 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&continue=&format=json&list=search&srinfo=totalhits&srlimit=50&srnamespace=0&sroffset=0&srprop=timestamp&srsearch=%2210.1371/journal.pone.0044271%22%20OR%20%22http://www.plosone.org/article/info:doi/10.1371/journal.pone.0044271%22&srwhat=text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"searchinfo":{"totalhits":2},"search":[{"ns":0,"title":"Lesula","timestamp":"2014-05-24T12:54:07Z"},{"ns":0,"title":"Primates
        described in the 2010s","timestamp":"2015-04-23T20:05:36Z"}]}}'
  recorded_at: Tue, 14 Jul 2015 14:21:00 GMT
- request:
    method: get
    uri: http://commons.wikimedia.org/w/api.php?action=query&continue=&format=json&list=search&srinfo=totalhits&srlimit=50&srnamespace=6&sroffset=0&srprop=timestamp&srsearch=%2210.1371/journal.pone.0044271%22%20OR%20%22http://www.plosone.org/article/info:doi/10.1371/journal.pone.0044271%22&srwhat=text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: ''
    headers:
      Location:
      - https://commons.wikimedia.org/w/api.php?action=query&continue=&format=json&list=search&srinfo=totalhits&srlimit=50&srnamespace=6&sroffset=0&srprop=timestamp&srsearch=%2210.1371%2Fjournal.pone.0044271%22+OR+%22http%3A%2F%2Fwww.plosone.org%2Farticle%2Finfo%3Adoi%2F10.1371%2Fjournal.pone.0044271%22&srwhat=text
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 14 Jul 2015 14:21:00 GMT
- request:
    method: get
    uri: https://commons.wikimedia.org/w/api.php?action=query&continue=&format=json&list=search&srinfo=totalhits&srlimit=50&srnamespace=6&sroffset=0&srprop=timestamp&srsearch=%2210.1371/journal.pone.0044271%22%20OR%20%22http://www.plosone.org/article/info:doi/10.1371/journal.pone.0044271%22&srwhat=text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - appli[...]
