<% if @work.retrieval_statuses.sum(:event_count) > 0 %>
  <div class="panel panel-default">
    <div class="panel-heading panel-title">Metrics <small class="pull-right" id="control-metrics"></small></div>
    <div class="panel-body" id="panel-metrics">
      <div class="text-muted" id="loading">Loading … <%= image_tag "spinner.gif" %></div>

      <%= javascript_include_tag 'works/alm' %>
    </div>
  </div>
<% else %>
  <div class="alert alert-info">No sources have cited this work</div>
<% end %>
