<% unless @work.relations.empty? %>
  <div class="panel-group" id="event">
    <% @work.relations.with_sources.each do |relation| %>
      <% if relation.source.present? %>
        <div class="panel panel-default" id="<%= relation.source.name %>">
          <%= render partial: 'works/source', locals: { relation: relation } %>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-info">There are currently no events</div>
<% end %>
