<div class="row">
  <div class="col-md-9" id="content-recommendations">
    <div class="text-muted loading" id="loading-recommendations">Loading … <%= image_tag "spinner.gif" %></div>
  </div>
</div>

<%= javascript_include_tag 'works/recommendations' %>

