<div class="content" id="content-recommendations">
  <div class="text-muted loading" id="loading-recommendations">Loading … <%= image_tag "spinner.gif" %></div>
</div>

<%= javascript_include_tag 'works/recommendations' %>
