<div class="row">
  <div class="col-md-9" id="content-results">
    <div class="panel panel-default">
      <div class="panel-heading panel-title">Results <small class="pull-right" id="control-results"></small></div>
      <div class="panel-body" id="panel-results">
        <div class="text-muted" id="loading-results">Loading … <%= image_tag "spinner.gif" %></div>

        <%= javascript_include_tag 'works/results' %>
      </div>
    </div>
  </div>
</div>
