<div class="panel-heading panel-title">
  <%= link_to ("<strong>#{relation.source.title}</strong>" + (relation.total > 0 ? " <span class='badge'>#{relation.total}</span>" : "") + "<small class='pull-right'>#{relation.occurred_at > '1970-01-01' ? relation.occured_at.to_s(:short) + ' UTC' : ''}</small>").html_safe, "##{relation.source.name}", :class => "accordion-toggle", :data => { :toggle => "collapse", :parent => "#event" }, :href => "##{relation.source.name}-inner" %>
</div>
<div id="<%= relation.source.name %>-inner" class="panel-collapse collapse">
  <div class="panel-body work-inner">
    <h4>
      <%= link_to relation.source.title, source_path(relation.source) %>
      <% unless relation.provenance_url.nil? %>| <%= link_to "Further Information", relation.provenance_url, :target => "_blank" %><% end %>
    </h4>
  </div>
</div>
