---
http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?fl=id,publication_date,title_display,cross_published_journal_name,author_display,volume,issue,elocation_id&fq=%2Bpublication_date:%5B2015-04-07T00:00:00Z%20TO%202015-04-08T23:59:59Z%5D%2Bdoc_type:full&q=*:*&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Last-Modified:
      - Sun, 23 Aug 2015 07:00:40 GMT
      Etag:
      - '"NWU2ODIwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":466,"start":0,"docs":[]}}
  recorded_at: Sun, 23 Aug 2015 19:11:06 GMT
recorded_with: VCR 2.9.3
