---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-update-date:2015-04-05,until-update-date:2015-04-05&offset=0&rows=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":1000,"items":[{"indexed":{"date-parts":[[2015,6,10]],"timestamp":1433905558731},"reference-count":20,"publisher":"Wiley-Blackwell","issue":"4","DOI":"10.1111\/poms.12262","type":"journal-article","page":"535-546","source":"CrossRef","title":["The
        Failure of Practical Intuition: How Forward-Coverage Inventory Targets Cause
        the Landslide Effect"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1111","volume":"24","author":[{"affiliation":[{"name":"Carroll
        School of Management; Boston College; Chestnut Hill Massachusetts 02467 USA"}],"family":"Neale","given":"John
        J."},{"affiliation":[{"name":"School of Management; Boston University; Boston
        Massachusetts 02215 USA"}],"family":"Willems","given":"Sean P."}],"member":"http:\/\/id.crossref.org\/member\/311","container-title":["Production
        and Operations Management","Prod Oper Manag"],"deposited":{"date-parts":[[2015,4,6]],"timestamp":1428278400000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2014,9,23]]},"URL":"http:\/\/dx.doi.org\/10.1111\/poms.12262","ISSN":["1059-1478"],"subject":["Industrial
        and Manufacturing Engineering","Management Science and Operations Research","Management
        of Technology and Innovation"]},{"indexed":{"date-parts":[[2015,6,10]],"timestamp":1433905558768},"reference-count":0,"publisher":"American
        Psychological Association (APA)","issue":"4","DOI":"10.1037\/pspi0000011","type":"journal-article","page":"623-636","source":"CrossRef","title":["Psychopathology,
        adversity, and creativity: Diversifying experiences in the development of
        eminent African Americans."],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1037","volume":"108","author":[{"affiliation":[],"family":"Damian","given":"Rodica
        Ioana"},{"affiliation":[],"family":"Simonton","given":"Dean Keith"}],"member":"http:\/\/id.crossref.org\/member\/15","container-title":["Journal
        of Personality and Social Psychology"],"deposited":{"date-parts":[[2015,4,6]],"timestamp":1428278400000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2015]]},"alternative-id":["2014-31348-001"],"URL":"http:\/\/dx.doi.org\/10.1037\/pspi0000011","ISSN":["1939-1315","0022-3514"],"subject":["Social
        Psychology","Sociology and Political Science"]},{"indexed":{"date-parts":[[2015,6,10]],"timestamp":1433905558875},"reference-count":14,"publisher":"Elsevier
        BV","issue":"4","license":[{"content-version":"tdm","delay-in-days":0,"start":{"date-parts":[[2014,9,1]],"timestamp":1409529600000},"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"DOI":"10.1016\/j.jchirv.2014.04.004","type":"journal-article","page":"268-273","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"CrossRef","title":["Extension
        de l\u2019\u00e9ligibilit\u00e9 \u00e0 la chirurgie ambulatoire par h\u00e9bergement
        non m\u00e9dicalis\u00e9 des patients\u00a0: appariement de 66\u00a0s\u00e9jours
        \u00e0 la Base nationale PMSI 2011"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","volume":"151","author":[{"affiliation":[],"family":"Bouam","given":"S."},{"affiliation":[],"family":"Gaucher","given":"S."},{"affiliation":[],"family":"Matrella","given":"F."},{"affiliation":[],"family":"Cappiello","given":"F."},{"affiliation":[],"family":"Frenkiel","given":"J."},{"affiliation":[],"family":"B\u00e9thoux","given":"J.-P."}],"member":"http:\/\/id.crossref.org\/member\/78","container-title":["Journal
        de Chirurgie Visc\u00e9rale"],"link":[{"intended-application":"text-mining","content-version":"vor","content-type":"text\/xml","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S1878786X14001065?httpAccept=text\/xml"},{"intended-application":"text-mining","content-version":"vor","content-type":"text\/plain","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S1878786X14001065?httpAccept=text\/plain"}],"deposited":{"date-parts":[[2015,4,6]],"timestamp":1428278400000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2014,9]]},"alternative-id":["S1878786X14001065"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.jchirv.2014.04.004","ISSN":["1878-786X"],"subject":["Surgery"],"assertion":[{"label":"This
        article is maintained by","name":"publisher","value":"Elsevier"},{"label":"Article
        Title","name":"articletitle","value":"Extension de l\u2019\u00e9ligibilit\u00e9
        \u00e0 la chirurgie ambulatoire par h\u00e9bergement non m\u00e9dicalis\u00e9
        des patients\u00a0: appariement de 66\u00a0s\u00e9jours \u00e0 la Base nationale
        PMSI 2011"},{"label":"Journal Title","name":"journaltitle","value":"Journal
        de Chirurgie Visc\u00e9rale"},{"label":"CrossRef DOI link to publisher maintained
        version","name":"articlel[...]
