---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-update-date:2015-04-07,until-update-date:2015-04-08&offset=0&rows=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":1000,"items":[{"indexed":{"date-parts":[[2015,12,20]],"date-time":"2015-12-20T08:56:44Z","timestamp":1450601804833},"reference-count":51,"publisher":"Korean
        Society of Exercise Physiology","issue":"4","published-print":{"date-parts":[[2008,11]]},"DOI":"10.15857\/ksep.2008.17.4.483","type":"journal-article","created":{"date-parts":[[2015,3,27]],"date-time":"2015-03-27T03:32:29Z","timestamp":1427427149000},"page":"483-494","source":"CrossRef","title":["Clustering
        of metabolic syndrome risk factors are associated with physical activity and
        cardiorespiratory fitness in elementary school children."],"prefix":"http:\/\/id.crossref.org\/prefix\/10.15857","volume":"17","author":[{"affiliation":[],"family":"\ud64d\ud61c\ub828"},{"affiliation":[],"family":"\ubc15\uc9c4\uad6d"},{"affiliation":[],"family":"Hyun-Sik
        Kang"}],"member":"http:\/\/id.crossref.org\/member\/6522","container-title":["exercisescience","Exercise
        Science"],"deposited":{"date-parts":[[2015,4,7]],"date-time":"2015-04-07T03:16:35Z","timestamp":1428376595000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2008,11]]},"URL":"http:\/\/dx.doi.org\/10.15857\/ksep.2008.17.4.483","ISSN":["1226-1726"]},{"indexed":{"date-parts":[[2015,12,20]],"date-time":"2015-12-20T08:56:45Z","timestamp":1450601805003},"reference-count":28,"publisher":"Korean
        Society of Exercise Physiology","issue":"4","published-print":{"date-parts":[[2008,11]]},"DOI":"10.15857\/ksep.2008.17.4.495","type":"journal-article","created":{"date-parts":[[2015,3,27]],"date-time":"2015-03-27T03:32:29Z","timestamp":1427427149000},"page":"495-504","source":"CrossRef","title":["The
        relation between physica[...]
