---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-update-date:2015-04-07,until-update-date:2015-04-08&offset=0&rows=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":1000,"items":[{"subtitle":[],"subject":["Computer
        Science(all)","Theoretical Computer Science"],"issued":{"date-parts":[[1985]]},"link":[{"intended-application":"text-mining","content-version":"vor","content-type":"text\/xml","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:0304-3975(85)90099-4?httpAccept=text\/xml"},{"intended-application":"text-mining","content-version":"vor","content-type":"text\/plain","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:0304-3975(85)90099-4?httpAccept=text\/plain"}],"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","author":[{"affiliation":[],"family":"Paredaens","given":"J"}],"container-title":["Theoretical
        Computer Science"],"reference-count":0,"page":"1","deposited":{"date-parts":[[2015,4,9]],"timestamp":1428537600000},"title":["Foreword"],"alternative-id":["0304-3975(85)90099-4"],"type":"journal-article","DOI":"10.1016\/0304-3975(85)90099-4","ISSN":["0304-3975"],"URL":"http:\/\/dx.doi.org\/10.1016\/0304-3975(85)90099-4","source":"CrossRef","publisher":"Elsevier
        BV","indexed":{"date-parts":[[2015,5,9]],"timestamp":1431134457303},"volume":"40","member":"http:\/\/id.crossref.org\/member\/78"},{"subtitle":[],"subject":["Computer
        Science(all)","Theoretical Computer Science"],"issued":{"date-parts":[[1985]]},"link":[{"intended-application":"text-mining","content-version":"vor","content-type":"text\/xml","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:0304-3975(85)90098-2?httpAccept=text\/xml"},{"intended-application":"text-mining","content-version":"vor","content-type":"text\/plain","URL":"http:\/\/api.elsevier.com\/content\/articl[...]
