---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-update-date:2015-04-05,until-update-date:2015-04-05&offset=0&rows=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":1000,"items":[{"subtitle":[],"subject":["Health(social
        science)","Medicine(all)","Behavioral Neuroscience","Biochemistry","Neurology","Toxicology"],"license":[{"content-version":"tdm","delay-in-days":0,"start":{"date-parts":[[2015,3,1]],"timestamp":1425168000000},"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"issued":{"date-parts":[[2015,3]]},"link":[{"intended-application":"text-mining","content-version":"vor","content-type":"text\/xml","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0741832914202205?httpAccept=text\/xml"},{"intended-application":"text-mining","content-version":"vor","content-type":"text\/plain","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0741832914202205?httpAccept=text\/plain"}],"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","author":[{"affiliation":[],"family":"Nascimento","given":"Nara
        F.","ORCID":"http:\/\/orcid.org\/0000-0002-2177-3593"},{"affiliation":[],"family":"Carlson","given":"Karen
        N."},{"affiliation":[],"family":"Amaral","given":"Danielle N."},{"affiliation":[],"family":"Logan","given":"Ryan
        W."},{"affiliation":[],"family":"Seggio","given":"Joseph A."}],"container-title":["Alcohol"],"reference-count":102,"deposited":{"date-parts":[[2015,4,5]],"timestamp":1428192000000},"funder":[{"award":[],"name":"BSU
        ATP"},{"award":[],"name":"CARS"}],"title":["Alcohol and lithium have opposing
        effects on the period and phase of the behavioral free-running activity rhythm"],"alternative-id":["S0741832914202205"],"type":"journal-article","DOI":"10.1016\/j.alcohol.2015.02.006","ISSN":["0741-8329"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.alcohol.2015.02.006","source":"CrossRef","publisher":"Elsevier
        BV","indexed":{"date-parts":[[2015,4,8]],"timestamp":1428536002368},"member":"http:\/\/id.crossref.org\/member\/78"},{"subtitle":[],"subject":["Toxicology"],"license":[{"content-version":"tdm","delay-in-days":0,"start":{"date-parts":[[2015,3,1]],"timestamp":1425168000000},"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"content-version":"vor","delay-in-days":9,"start":{"date-parts":[[2015,3,10]],"timestamp":1425945600000},"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0\/"}],"issued":{"date-parts":[[2015,3]]},"link":[{"intended-application":"text[...]
