---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-update-date:2015-04-07,until-update-date:2015-04-08&offset=0&rows=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":1000,"items":[{"indexed":{"date-parts":[[2015,6,6]],"timestamp":1433619826333},"reference-count":0,"publisher":"Canadian
        Science Publishing","issue":"5","DOI":"10.1139\/cjm-47-5-404","type":"journal-article","page":"404-411","source":"CrossRef","title":["Cytokinin
        production by plant growth promoting rhizobacteria and selected mutants"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1139","volume":"47","author":[{"affiliation":[],"family":"Garc\u00eda
        de Salamone","given":"Ines E."},{"affiliation":[],"family":"Hynes","given":"Russell
        K."},{"affiliation":[],"family":"Nelson","given":"Louise M."}],"member":"http:\/\/id.crossref.org\/member\/155","container-title":["Rev.
        can. microbiol.","Can. J. Microbiol.","Revue canadienne de microbiologie","Canadian
        Journal of Microbiology"],"deposited":{"date-parts":[[2015,4,9]],"timestamp":1428537600000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2001]]},"URL":"http:\/\/dx.doi.org\/10.1139\/cjm-47-5-404","ISSN":["1480-3275","0008-4166"],"subject":["Molecular
        Biology","Applied Microbiology and Biotechnology","Immunology","Microbiology","Genetics"]},{"indexed":{"date-parts":[[2015,6,6]],"timestamp":1433619826361},"reference-count":0,"publisher":"Canadian
        Science Publishing","issue":"5","DOI":"10.1139\/cgj-38-5-911","type":"journal-article","page":"911-923","source":"CrossRef","title":["Terrain-based
        mapping of landslide susceptibility using a geographical information system:
        a case study"],"prefix":"http:\/\[...]
