---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1890%2F0012-9658(2006)87%5B2832:tiopma%5D2.0.co;2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2016,11,28]],"date-time":"2016-11-28T12:49:49Z","timestamp":1480337389583},"reference-count":39,"publisher":"Wiley-Blackwell","issue":"11","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":3226,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Ecology"],"cited-count":0,"published-print":{"date-parts":[[2006,11]]},"DOI":"10.1890\/0012-9658(2006)87[2832:tiopma]2.0.co;2","type":"journal-article","created":{"date-parts":[[2007,6,4]],"date-time":"2007-06-04T23:36:12Z","timestamp":1181000172000},"page":"2832-2841","source":"CrossRef","title":["THE
        IMPACT OF PARASITE MANIPULATION AND PREDATOR FORAGING BEHAVIOR ON PREDATOR\u2013PREY
        COMMUNITIES"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1002","volume":"87","author":[{"given":"A.","family":"Fenton","affiliation":[]},{"given":"S.
        A.","family":"Rands","affiliation":[]}],"member":"http:\/\/id.crossref.org\/member\/311","container-title":["Ecology"],"original-title":[],"link":[{"URL":"https:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.1890%2F0012-9658(2006)87%5B2832:TIOPMA%5D2.0.CO;2","content-type":"unspecified","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2016,10,4]],"date-time":"2016-10-04T23:20:17Z","timestamp":1475623217000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2006,11]]},"alternative-id":["10.1890\/0012-9658(2006)87[2832:TIOPMA]2.0.CO;2"],"URL":"http:\/\/dx.doi.org\/10.1890\/0012-9658(2006)87[2832:tiopma]2.0.co;2","ISSN":["0012-9658"],"citing-count":39,"subject":["Ecology,
        Evolution, Behavior and Systematics"]}}'
  recorded_at: Sat, 11 Feb 2017 14:28:41 GMT
recorded_with: VCR 2.9.3
