---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016%2Fj.ejphar.2015.03.018
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Pharmacology"],"license":[{"content-version":"tdm","delay-in-days":0,"start":{"date-parts":[[2015,7,1]],"timestamp":1435708800000},"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"issued":{"date-parts":[[2015,7]]},"link":[{"intended-application":"text-mining","content-version":"vor","content-type":"text\/xml","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0014299915002332?httpAccept=text\/xml"},{"intended-application":"text-mining","content-version":"vor","content-type":"text\/plain","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0014299915002332?httpAccept=text\/plain"}],"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","author":[{"affiliation":[],"family":"Beck","given":"Sarah
        E."},{"affiliation":[],"family":"Queen","given":"Suzanne E."},{"affiliation":[],"family":"Witwer","given":"Kenneth
        W."},{"affiliation":[],"family":"Metcalf Pate","given":"Kelly A."},{"affiliation":[],"family":"Mangus","given":"Lisa
        M."},{"affiliation":[],"family":"Gama","given":"Lucio"},{"affiliation":[],"family":"Adams","given":"Robert
        J."},{"affiliation":[],"family":"Clements","given":"Janice E."},{"affiliation":[],"family":"Christine
        Zink","given":"M."},{"affiliation":[],"family":"Mankowski","given":"Joseph
        L."}],"container-title":["European Journal of Pharmacology"],"reference-count":98,"page":"303-312","deposited":{"date-parts":[[2015,5,21]],"timestamp":1432166400000},"funder":[{"award":["T32
        OD011089","P40 OD013117","R01 NS089482","P01 MH070306","R01 NS077869"],"name":"National
        Institutes of Health","DOI":"10.13039\/100000002"}],"title":["Paving the path
        to HIV neurotherapy: Predicting SIV CNS disease"],"assertion":[{"label":"This
        article is maintained by","name":"publisher","value":"Elsevier"},{"label":"Article
        Title","name":"articletitle","value":"Paving the path to HIV neurotherapy:
        Predicting SIV CNS disease"},{"label":"Journal Title","name":"journaltitle","value":"European
        Journal of Pharmacology"},{"label":"CrossRef DOI link to publisher maintained
        version","name":"articlelink","value":"http:\/\/dx.doi.org\/10.1016\/j.ejphar.2015.03.018"},{"label":"Content
        Type","name":"content_type","value":"article"},{"label":"Copyright","name":"copyright","value":"Copyright
        \u00a9 2015 Elsevier B.V. All rights reserved."}],"alternative-id":["S0014299915002332"],"type":"journal-article","DOI":"10.1016\/j.ejphar.2015.03.018","ISSN":["0014-2999"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.ejphar.2015.03.018","source":"CrossRef","publisher":"Elsevier
        BV","indexed":{"date-parts":[[2015,6,10]],"timestamp":1433931393586},"volume":"759","member":"http:\/\/id.crossref.org\/member\/78"}}'
  recorded_at: Tue, 14 Jul 2015 14:25:31 GMT
recorded_with: VCR 2.9.3
