---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works/10.1371%2Fjournal.pone.0000030
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,9]],"timestamp":1433813201127},"reference-count":0,"publisher":"Public
        Library of Science (PLoS)","issue":"1","DOI":"10.1371\/journal.pone.0000030","type":"journal-article","page":"e30","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","source":"CrossRef","title":["Triose
        Phosphate Isomerase Deficiency Is Caused by Altered Dimerization\u2013Not
        Catalytic Inactivity\u2013of the Mutant Enzymes"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1371","volume":"1","author":[{"affiliation":[],"family":"Ralser","given":"Markus"},{"affiliation":[],"family":"Heeren","given":"Gino"},{"affiliation":[],"family":"Breitenbach","given":"Michael"},{"affiliation":[],"family":"Lehrach","given":"Hans"},{"affiliation":[],"family":"Krobitsch","given":"Sylvia"}],"member":"http:\/\/id.crossref.org\/member\/340","container-title":["PLoS
        ONE"],"deposited":{"date-parts":[[2014,3,5]],"timestamp":1393977600000},"score":1.0,"subtitle":[],"editor":[{"affiliation":[],"family":"Janbon","given":"Guilhem"}],"issued":{"date-parts":[[2006,12,20]]},"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pone.0000030","ISSN":["1932-6203"],"subject":["Agricultural
        and Biological Sciences(all)","Medicine(all)","Biochemistry, Genetics and
        Molecular Biology(all)"]}}'
  recorded_at: Mon, 28 Sep 2015 21:46:51 GMT
recorded_with: VCR 2.9.3
