---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works/10.1890%2F0012-9658(2006)87%5B2832:tiopma%5D2.0.co;2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,9,18]],"date-time":"2015-09-18T15:17:17Z","timestamp":1442589437254},"reference-count":39,"publisher":"Ecological
        Society of America","issue":"11","DOI":"10.1890\/0012-9658(2006)87[2832:tiopma]2.0.co;2","type":"journal-article","created":{"date-parts":[[2007,6,4]],"date-time":"2007-06-04T23:36:12Z","timestamp":1181000172000},"page":"2832-2841","source":"CrossRef","title":["THE
        IMPACT OF PARASITE MANIPULATION AND PREDATOR FORAGING BEHAVIOR ON PREDATOR\u2013PREY
        COMMUNITIES"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1890","volume":"87","author":[{"affiliation":[],"family":"Fenton","given":"A."},{"affiliation":[],"family":"Rands","given":"S.
        A."}],"member":"http:\/\/id.crossref.org\/member\/792","container-title":["Ecology"],"deposited":{"date-parts":[[2011,7,4]],"date-time":"2011-07-04T11:23:33Z","timestamp":1309778613000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2006,11]]},"alternative-id":["10.1890\/0012-9658(2006)87[2832:TIOPMA]2.0.CO;2"],"URL":"http:\/\/dx.doi.org\/10.1890\/0012-9658(2006)87[2832:tiopma]2.0.co;2","ISSN":["0012-9658"]}}'
  recorded_at: Mon, 26 Oct 2015 14:50:45 GMT
recorded_with: VCR 2.9.3
