---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works/10.1890%2F0012-9658(2006)87%5B2832:tiopma%5D2.0.co;2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,6]],"timestamp":1433590833541},"reference-count":39,"publisher":"Ecological
        Society of America","issue":"11","DOI":"10.1890\/0012-9658(2006)87[2832:tiopma]2.0.co;2","type":"journal-article","page":"2832-2841","source":"CrossRef","title":["THE
        IMPACT OF PARASITE MANIPULATION AND PREDATOR FORAGING BEHAVIOR ON PREDATOR\u2013PREY
        COMMUNITIES"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1890","volume":"87","author":[{"affiliation":[],"family":"Fenton","given":"A."},{"affiliation":[],"family":"Rands","given":"S.
        A."}],"member":"http:\/\/id.crossref.org\/member\/792","container-title":["Ecology"],"deposited":{"date-parts":[[2011,7,4]],"timestamp":1309737600000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2006,11]]},"alternative-id":["10.1890\/0012-9658(2006)87[2832:TIOPMA]2.0.CO;2"],"URL":"http:\/\/dx.doi.org\/10.1890\/0012-9658(2006)87[2832:tiopma]2.0.co;2","ISSN":["0012-9658"],"subject":["Ecology,
        Evolution, Behavior and Systematics"]}}'
  recorded_at: Mon, 28 Sep 2015 21:46:52 GMT
recorded_with: VCR 2.9.3
