---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1890%2F0012-9658(2006)87%5B2832:tiopma%5D2.0.co;2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2016,2,24]],"date-time":"2016-02-24T16:11:21Z","timestamp":1456330281823},"reference-count":39,"publisher":"Wiley-Blackwell","issue":"11","license":[{"content-version":"tdm","delay-in-days":3226,"start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1"}],"published-print":{"date-parts":[[2006,11]]},"DOI":"10.1890\/0012-9658(2006)87[2832:tiopma]2.0.co;2","type":"journal-article","created":{"date-parts":[[2007,6,4]],"date-time":"2007-06-04T23:36:12Z","timestamp":1181000172000},"page":"2832-2841","source":"CrossRef","title":["THE
        IMPACT OF PARASITE MANIPULATION AND PREDATOR FORAGING BEHAVIOR ON PREDATOR\u2013PREY
        COMMUNITIES"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1002","volume":"87","author":[{"affiliation":[],"family":"Fenton","given":"A."},{"affiliation":[],"family":"Rands","given":"S.
        A."}],"member":"http:\/\/id.crossref.org\/member\/311","container-title":["Ecology"],"link":[{"intended-application":"text-mining","content-version":"vor","content-type":"unspecified","URL":"http:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.1890%2F0012-9658(2006)87%5B2832:TIOPMA%5D2.0.CO;2"}],"deposited":{"date-parts":[[2016,2,24]],"date-time":"2016-02-24T15:03:26Z","timestamp":1456326206000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2006,11]]},"alternative-id":["10.1890\/0012-9658(2006)87[2832:TIOPMA]2.0.CO;2"],"URL":"http:\/\/dx.doi.org\/10.1890\/0012-9658(2006)87[2832:tiopma]2.0.co;2","ISSN":["0012-9658"],"subject":["Ecology,
        Evolution, Behavior and Systematics"]}}'
  recorded_at: Tue, 26 Apr 2016 13:48:10 GMT
recorded_with: VCR 2.9.3
