---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016%2Fj.ejphar.2015.03.018
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,8,23]],"timestamp":1440288601639},"reference-count":98,"publisher":"Elsevier
        BV","license":[{"content-version":"tdm","delay-in-days":0,"start":{"date-parts":[[2015,7,1]],"timestamp":1435708800000},"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"funder":[{"award":["R01
        NS077869","R01 NS089482","P01 MH070306","T32 OD011089","P40 OD013117"],"name":"National
        Institutes of Health","DOI":"10.13039\/100000002"}],"DOI":"10.1016\/j.ejphar.2015.03.018","type":"journal-article","page":"303-312","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"CrossRef","title":["Paving
        the path to HIV neurotherapy: Predicting SIV CNS disease"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","volume":"759","author":[{"affiliation":[],"family":"Beck","given":"Sarah
        E."},{"affiliation":[],"family":"Queen","given":"Suzanne E."},{"affiliation":[],"family":"Witwer","given":"Kenneth
        W."},{"affiliation":[],"family":"Metcalf Pate","given":"Kelly A."},{"affiliation":[],"family":"Mangus","given":"Lisa
        M."},{"affiliation":[],"family":"Gama","given":"Lucio"},{"affiliation":[],"family":"Adams","given":"Robert
        J."},{"affiliation":[],"family":"Clements","given":"Janice E."},{"affiliation":[],"family":"Christine
        Zink","given":"M."},{"affiliation":[],"family":"Mankowski","given":"Joseph
        L."}],"member":"http:\/\/id.crossref.org\/member\/78","container-title":["European
        Journal of Pharmacology"],"link":[{"intended-application":"text-mining","content-version":"vor","content-type":"text\/xml","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0014299915002332?httpAccept=text\/xml"},{"intended-application":"text-mining","content-version":"vor","content-type":"text\/plain","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0014299915002332?httpAccept=text\/plain"}],"deposited":{"date-parts":[[2015,8,21]],"timestamp":1440115200000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2015,7]]},"alternative-id":["S0014299915002332"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.ejphar.2015.03.018","ISSN":["0014-2999"],"subject":["Pharmacology"],"assertion":[{"label":"This
        article is maintained by","name":"publisher","value":"Elsevier"},{"label":"Article
        Title","name":"articletitle","value":"Paving the path to HIV neurotherapy:
        Predicting SIV CNS disease"},{"label":"Journal Title","name":"journaltitle","value":"European
        Journal of Pharmacology"},{"label":"CrossRef DOI link to publisher maintained
        version","name":"articlelink","value":"http:\/\/dx.doi.org\/10.1016\/j.ejphar.2015.03.018"},{"label":"Content
        Type","name":"content_type","value":"article"},{"label":"Copyright","name":"copyright","value":"Copyright
        \u00a9 2015 Elsevier B.V. All rights reserved."}]}}'
  recorded_at: Sun, 23 Aug 2015 22:40:22 GMT
recorded_with: VCR 2.9.3
