---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works/10.1890%2F0012-9658(2006)87%5B2832:tiopma%5D2.0.co;2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Cascade:
      - pass
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE html>
        <html>
        <head>
          <style type="text/css">
          body { text-align:center;font-family:helvetica,arial;font-size:22px;
            color:#888;margin:20px}
          #c {margin:0 auto;width:500px;text-align:left}
          </style>
        </head>
        <body>
          <h2>Sinatra doesn&rsquo;t know this ditty.</h2>
          <img src='http://api.crossref.org/__sinatra__/404.png'>
          <div id="c">
            Try this:
            <pre>get &#x27;&#x2F;works&#x2F;10.1890&#x2F;0012-9658%282006%2987%5B2832%3Atiopma%5D2.0.co%3B2&#x27; do
          &quot;Hello World&quot;
        end
        </pre>
          </div>
        </body>
        </html>
  recorded_at: Mon, 22 Feb 2016 19:06:11 GMT
recorded_with: VCR 2.9.3
