---
http_interactions:
- request:
    method: get
    uri: http://search.datacite.org/api?fl=relatedIdentifier,doi,creator,title,publisher,publicationYear&fq=has_metadata:true&indent=true&q=relatedIdentifier:10.1371/journal.ppat.1000446&rows=100&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: ''
    headers:
      Location:
      - http://2nd.railnet.train/
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 03 Mar 2015 09:36:58 GMT
- request:
    method: get
    uri: http://2nd.railnet.train/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |+
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
        <html>
          <head>
            <meta http-equiv="refresh" content="0; URL=/railnet/de_DE/start/index.html">
          </head>
          <body>
          </body>
        </html>

  recorded_at: Tue, 03 Mar 2015 09:36:58 GMT
recorded_with: VCR 2.9.3
