---
http_interactions:
- request:
    method: get
    uri: http://search.datacite.org/api?fl=relatedIdentifier,doi,creator,title,publisher,publicationYear&fq=has_metadata:true&indent=true&q=relatedIdentifier:10.1371/journal.pone.0043007&rows=100&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "responseHeader":{
            "status":0,
            "QTime":1},
          "response":{"numFound":0,"start":0,"docs":[]
          }}
  recorded_at: Thu, 01 Jan 2015 15:45:50 GMT
recorded_with: VCR 2.9.3
