---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ropensci/alm/stargazers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1428854078'
      Etag:
      - '"250ea1bb8dba117cd1f2bfd7323a06fc"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"login":"sckott","id":577668,"avatar_url":"https://avatars.githubusercontent.com/u/577668?v=3","gravatar_id":"","url":"https://api.github.com/users/sckott","html_url":"https://github.com/sckott","followers_url":"https://api.github.com/users/sckott/followers","following_url":"https://api.github.com/users/sckott/following{/other_user}","gists_url":"https://api.github.com/users/sckott/gists{/gist_id}","starred_url":"https://api.github.com/users/sckott/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sckott/subscriptions","organizations_url":"https://api.github.com/users/sckott/orgs","repos_url":"https://api.github.com/users/sckott/repos","events_url":"https://api.github.com/users/sckott/events{/privacy}","received_events_url":"https://api.github.com/users/sckott/received_events","type":"User","site_admin":false},{"login":"audy","id":115904,"avatar_url":"https://avatars.githubusercontent.com/u/115904?v=3","gravatar_id":"","url":"https://api.github.com/users/audy","html_url":"https://github.com/audy","followers_url":"https://api.github.com/users/audy/followers","following_url":"https://api.github.com/users/audy/following{/other_user}","gists_url":"https://api.github.com/users/audy/gists{/gist_id}","starred_url":"https://api.github.com/users/audy/starred{/owner}{/repo}","subscriptions_url":"https://[...]
