---
http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?fl=id,publication_date,title,cross_published_journal_name,author_display&fq=doc_type:full&q=everything:%22https://github.com/rougier/ten-rules%22&rows=1000&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 01 Jan 2015 06:23:50 GMT
      Etag:
      - '"ZmYyNjg4MDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":1,"start":0,"docs":[{"id":"10.1371/journal.pcbi.1003833","cross_published_journal_name":["PLOS Computational Biology","PLOS Collections"],"publication_date":"2014-09-11T00:00:00Z","author_display":["Nicolas P. Rougier","Michael Droettboom","Philip E. Bourne"],"title":"Ten Simple Rules for Better Figures"}]}}
  recorded_at: Thu, 01 Jan 2015 13:43:47 GMT
recorded_with: VCR 2.9.3
