---
http_interactions:
- request:
    method: get
    uri: http://blogs.nature.com/posts.json?doi=10.1371/journal.pone.0035869
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
    body:
      encoding: UTF-8
      string: '[{"post":{"percent_complex_words":18.4732,"popularity":0,"created_at":"2012-05-21T10:31:26Z","blog":{"percent_complex_words":19.8033,"popularity":94,"created_at":"2008-11-06T15:50:14Z","title":"Dr
        Shock MD PhD","niche_tag":"medicine","updated_at":"2013-03-05T18:56:56Z","flesch":-21.1582,"feed_url":"www.shockmd.com/feed/atom/","url":"www.shockmd.com","decided_on":"2008-11-07T17:58:49Z","rank":39,"num_posts_per_week":4.5414,"id":586,"outgoing_bloglove":126,"num_words":1900.1,"ip":"bogus
        address","niche_rank":10,"header_title":"BLOGS","fog":32.7375,"description":"This
        is the personal blog of a Dutch psychiatrist working in a University hospital.
        His specialty in psychiatry is the treatment of depression. This explains
        his interest in electroconvulsive therapy and the development of new forms
        of neurostimulation for the treatment of depression.","status":"accepted"},"links_to_doi":["10.1371/journal.pone.0035869"],"title":"Research
        Blogging in PLos ONE","body":"Buffer\n                \u00a0\nNo related posts.","updated_at":"2012-09-10T08:23:13Z","flesch":-58.707,"url":"www.shockmd.com/2012/05/21/research-blogging-in-plos-one/","blog_id":586,"id":736240,"hashed_id":"6fb8a9fb8c4e75ca130db12ae407f3318d26036a6504c76ad5ccda7d6f2e9246","num_words":1716,"published_at":"2012-05-21T05:27:40Z","fog":47.7657}},{"post":{"percent_complex_words":13.0501,"popularity":0,"created_at":"2012-05-18T16:50:46Z","blog":{"percent_complex_words":13.7228,"popularity":22,"created_at":"2008-11-05T13:10:54Z","title":"O''Really?
        at Duncan.Hull.name","niche_tag":"life_sciences","updated_at":"2013-03-14T18:10:43Z","flesch":7.25186,"feed_url":"duncan.hull.name/feed/","url":"duncan.hull.name","decided_on":"2008-11-05T13:44:05Z","rank":166,"num_posts_per_week":0.6594,"id":551,"outgoing_bloglove":25,"num_words":1949.39,"ip":"bogus
        address","niche_rank":49,"header_title":"BLOGS","fog":23.8148,"description":"Viva
        La Weboluti\u00f3n!","status":"accepted"},"links_to_doi":["10.1371/journal.pone.0035869"],"title":"Web
        analytics: Numbers speak louder than words","body":"Two hundred light painting
        by B. Rosen, via \u00a0Flickr available by Creative Common license\nAccording
        to the software which runs this site, this is the 200th\u00a0post here at
        O\u2019Really?\u00a0\u00a0To mark the occasion, here are some stats via WordPress
        with thoughts and general navel-gazing\u00a0analysis paralysis\u00a0[1] ...","updated_at":"2012-05-19T14:46:40Z","flesch":-3.73599,"url":"duncan.hull.name/2012/05/18[...]
