<div class='border'>
  <div class='page'>
    <h1>Metrics Developer API</h1>

    <p>This is the developer API for the Article Level Metrics application.</p>

    <p>For more information, please visit: <a href="http://article-level-metrics.plos.org/">http://article-level-metrics.plos.org/</a></p>
  </div>
</div>