---
http_interactions:
- request:
    method: get
    uri: https://cn.dataone.org/cn/v1/query/solr/?fl=id,title,author,datePublished,authoritativeMN,dateModified&q=dateModified:%5B2015-04-07T00:00:00Z%20TO%202015-04-08T23:59:59Z%5D%2BformatType:METADATA&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":5,"params":{"fl":"id,title,author,datePublished,authoritativeMN,dateModified","start":"0","q":"dateModified:[2015-04-07T00:00:00Z
        TO 2015-04-08T23:59:59Z]+formatType:METADATA","wt":"json","rows":"0"}},"response":{"numFound":140,"start":0,"docs":[]}}'
  recorded_at: Thu, 25 Jun 2015 04:44:58 GMT
recorded_with: VCR 2.9.3
