---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/oauth/access_token?client_id=<FACEBOOK_CLIENT_ID>&client_secret=<FACEBOOK_CLIENT_SECRET>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Facebook-Api-Version:
      - v2.0
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: access_token=<FACEBOOK_CLIENT_ID>|ujiT_Cb58T4QUkneUYJu0L3zmwM
  recorded_at: Sat, 09 Apr 2016 13:49:36 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.1/?access_token=<FACEBOOK_CLIENT_ID>%7CujiT_Cb58T4QUkneUYJu0L3zmwM&id=http://www.plosone.org/article/info:doi/10.1371/journal.pone.0000001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <FACEBOOK_CLIENT_ID>|ujiT_Cb58T4QUkneUYJu0L3zmwM
  response:
    status:
      code: 200
      message: ''
    headers:
      Etag:
      - '"d1f116018bb4017aa22515c9f3bad8ff477a9d2b"'
      Facebook-Api-Version:
      - v2.2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"og_object":{"id":"318336314932679","description":"PLOS ONE: an inclusive,
        peer-reviewed, open-access resource from the PUBLIC LIBRARY OF SCIENCE. Reports
        of well-performed scientific studies from all disciplines freely available
        to the whole world.","title":"PLOS ONE: Neural Substrate of Cold-Seeking Behavior
        in Endotoxin Shock","type":"website","updated_time":"2013-01-11T22:07:49+0000","url":"http:\/\/www.plosone.org\/article\/info\u00253Adoi\u00252F10.1371\u00252Fjournal.pone.0000001"},"share":{"comment_count":0,"share_count":0},"id":"http:\/\/www.plosone.org\/article\/info:doi\/10.1371\/journal.pone.0000001"}'
  recorded_at: Sat, 09 Apr 2016 13:49:36 GMT
recorded_with: VCR 2.9.3
