<div class="border">
  <div class="page">
    <h1>Editing group "<%=h @group.name %>"</h1>

    <%= render @group %>

    <%= link_to 'Show', @group %>
    <br/>
    <%= link_to 'Back to list', groups_path %>
  </div>
</div>