---
http_interactions:
- request:
    method: get
    uri: http://www.pubmedcentral.nih.gov/utils/idconv/v1.0/?email=info@example.org&format=json&ids=&idtype=doi&tool=Lagotto%204.0-unstable%20-%20http://lagotto-4-0-unstable.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "error",
         "message": "Parameter 'ids' should not be empty",
         "responseDate": "2015-04-09 18:02:27",
         "request": "email=info%40example.org;format=json;ids=;idtype=doi;tool=Lagotto%204.0-unstable%20-%20http%3A%2F%2Flagotto-4-0-unstable.local"
        }
  recorded_at: Thu, 09 Apr 2015 21:48:40 GMT
recorded_with: VCR 2.9.3
