---
http_interactions:
- request:
    method: get
    uri: http://www.pubmedcentral.nih.gov/utils/idconv/v1.0/?format=json&ids=&idtype=doi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "error",
         "message": "Parameter 'ids' should not be empty",
         "responseDate": "2015-03-26 05:09:11",
         "request": "format=json;ids=;idtype=doi"
        }
  recorded_at: Thu, 26 Mar 2015 08:55:21 GMT
recorded_with: VCR 2.9.3
