<div class="row">
  <div class="col-md-9" id="content-docs">
    <div class="content markdown">
      <div class="panel panel-default">
        <div id="api_key" data-id="<%= @doc.id %>" class="panel-heading panel-title"><%= @doc.title %></div>
        <div class="panel-body">
          <%= markdown @doc.content %>
        </div>
      </div>
    </div>
  </div>
</div>
