<div class="content markdown">
  <div class="panel panel-default">
    <div class="panel-heading panel-title"><%= @doc.title %></div>
    <div class="panel-body">
      <%= markdown @doc.content %>
    </div>
  </div>
</div>
