<div class="wrapper">
  <!-- https://www.pexels.com/photo/vintage-technology-keyboard-old-2318/ -->
  <div class="<%= @show_image.present? ? 'landing-header' : 'landing-alert-header' %>" style="background-image: url('//<%= ENV['CDN_HOST'] %>/images/eventdata/keyboard.jpg');">
    <div class="container-fluid">
      <div class="motto">
        <h1><%= ENV['SITE_TITLE'] %></h1>
        <p>Collect events around DataCite DOIs.</p>
      </div>
    </div>
  </div>

  <div class="section section-white">
    <div class="row row-section">
      <div class="container-fluid">
        <div class="col-sm-8 col-sm-offset-2" id="content-docs">
         <div class="content markdown">
           <div id="content">
             <%= markdown @doc.content %>
           </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
