<div class="content markdown">
  <% if @doc.title && @doc.title != "Home" %>
    <div class="page-header">
      <h1><%= @doc.title %></h1>
    </div>
  <% end %>

  <%= markdown @doc.content %>
</div>
