<% unless @doc.content.blank? %>
  <% cache(@doc) do %>
    <%= render partial: "docs/#{@doc.layout}" %>
  <% end %>
<% else %>
  <div class="alert alert-info">No documentation for <%= params[:id] %> found</div>
<% end %>

<%= javascript_include_tag 'docs/show' %>
