<% unless @doc.content.blank? %>
  <% cache(@doc) do %>
    <div class="markdown">
      <%= markdown @doc.content %>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-info">No documentation for <%= params[:id] %> found</div>
<% end %>
