<div class="markdown">
  <% unless @doc.content.blank? %>
    <% cache(@doc) do %>
      <%= markdown @doc.content %>
    <% end %>
  <% else %>
    <div class="alert alert-info">No documentation found</div>
  <% end %>
</div>
