---
http_interactions:
- request:
    method: post
    uri: https://api.mendeley.com/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=all
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic MjkzNjpiVkJtMGZmZUtxaWU0emZL
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Mendeley-Trace-Id:
      - 1GUXRBrGS04
    body:
      encoding: UTF-8
      string: '{"access_token":"MSwxNDYwMjIzODE0NTI5LCwyOTM2LGFsbCwsN2VoT2VlN2JicWxzSjJKVzU5ekMzZUV6TWxV","token_type":"bearer","expires_in":3600,"refresh_token":null,"msso":null,"scope":"all"}'
  recorded_at: Sat, 09 Apr 2016 16:43:34 GMT
- request:
    method: get
    uri: https://api.mendeley.com/catalog?doi=10.1371/journal.pone.0043007&view=stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer MSwxNDYwMjIzODE0NTI5LCwyOTM2LGFsbCwsN2VoT2VlN2JicWxzSjJKVzU5ekMzZUV6TWxV
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.mendeley-document.1+json
      X-Mendeley-Trace-Id:
      - DSSbhrVpdsY
    body:
      encoding: UTF-8
      string: '[{"title":"Glass shape influences consumption rate for alcoholic beverages","type":"journal","authors":[{"first_name":"Angela
        S.","last_name":"Attwood"},{"first_name":"Nicholas E.","last_name":"Scott-Samuel"},{"first_name":"George","last_name":"Stothart"},{"first_name":"Marcus
        R.","last_name":"Munaf??"}],"year":2012,"source":"PLoS ONE","identifiers":{"doi":"10.1371/journal.pone.0043007","isbn":"1932-6203
        (Electronic)\\r1932-6203 (Linking)","scopus":"2-s2.0-84865100981","issn":"19326203","pmid":"22912776"},"id":"7d75f20d-1c84-34fb-8553-6d39ed94544a","abstract":"BACKGROUND:
        High levels of alcohol consumption and increases in heavy episodic drinking
        (binge drinking) are a growing public concern, due to their association with
        increased risk of personal and societal harm. Alcohol consumption has been
        shown to be sensitive to factors such as price and availability. The aim of
        this study was to explore the influence of glass shape on the rate of consumption
        of alcoholic and non-alcoholic beverages.\\n\\nMETHOD[...]
