---
http_interactions:
- request:
    method: post
    uri: https://api.mendeley.com/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=all
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic MjkzNjpiVkJtMGZmZUtxaWU0emZL
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Mendeley-Trace-Id:
      - tOMkBhLCHjY
    body:
      encoding: UTF-8
      string: '{"access_token":"MSwxNDYwMjIzODE1MjgwLCwyOTM2LGFsbCwsWHVXUW1RUWZId1R4MTlJUmM1X2xJb1V0Sy1Z","token_type":"bearer","expires_in":3600,"refresh_token":null,"msso":null,"scope":"all"}'
  recorded_at: Sat, 09 Apr 2016 16:43:35 GMT
recorded_with: VCR 2.9.3
