---
http_interactions:
- request:
    method: get
    uri: http://www.plosreports.org/services/rest?doi=10.1371/journal.pone.0008776&method=usage.stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 01 Jan 2015 21:22:18 GMT
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <rest generator="xml_writer" version="1.0"><status>success</status><response><criteria><year>all</year><month>all</month><journal>all</journal><doi>10.1371/journal.pone.0008776</doi></criteria><results><total><total>5514</total></total><item id="0"><year>2010</year><month>1</month><get-document>299</get-document><get-pdf>90</get-pdf><get-xml>1</get-xml></item><item id="1"><year>2010</year><month>2</month><get-document>94</get-document><get-pdf>35</get-pdf><get-xml>1</get-xml></item><item id="2"><year>2010</year><month>3</month><get-document>56</get-document><get-pdf>14</get-pdf></item><item id="3"><year>2010</year><month>4</month><get-document>62</get-document><get-pdf>11</get-pdf><get-xml>1</get-xml></item><item id="4"><year>2010</year><month>5</month><get-document>104</get-document><get-pdf>12</get-pdf><get-xml>1</get-xml></item><[...]
