---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works/10.1371/journal.pone.0000030
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Agricultural
        and Biological Sciences(all)","Medicine(all)","Biochemistry, Genetics and
        Molecular Biology(all)"],"issued":{"date-parts":[[2006,12,20]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1371","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","author":[{"family":"Ralser","given":"Markus"},{"family":"Heeren","given":"Gino"},{"family":"Breitenbach","given":"Michael"},{"family":"Lehrach","given":"Hans"},{"family":"Krobitsch","given":"Sylvia"}],"container-title":["PLoS
        ONE"],"reference-count":0,"page":"e30","deposited":{"date-parts":[[2014,3,5]],"timestamp":1393977600000},"issue":"1","title":["Triose
        Phosphate Isomerase Deficiency Is Caused by Altered Dimerization\u2013Not
        Catalytic Inactivity\u2013of the Mutant Enzymes"],"editor":[{"family":"Janbon","given":"Guilhem"}],"type":"journal-article","DOI":"10.1371\/journal.pone.0000030","ISSN":["1932-6203"],"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pone.0000030","source":"CrossRef","publisher":"Public
        Library of Science (PLoS)","indexed":{"date-parts":[[2015,2,10]],"timestamp":1423607058493},"volume":"1","member":"http:\/\/id.crossref.org\/member\/340"}}'
  recorded_at: Thu, 09 Apr 2015 22:59:59 GMT
recorded_with: VCR 2.9.3
