---
http_interactions:
- request:
    method: get
    uri: http://api.figshare.com/v1/publishers/search_for?doi=10.1371/journal.pone.0067729
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count": 6, "items": [{"files": ["http://files.figshare.com/1114011/Table_1.xls"],
        "pos_in_sequence": 0, "stats": {"downloads": 0, "page_views": 11, "likes":
        0}, "users": ["Bernard E. Pfeil", "Anna Petri", "Bengt Oxelman"], "links":
        [], "tags": ["Molecular systematics", "introgression", "Plant science", "Evolutionary
        processes", "Evolutionary biology", "Evolutionary systematics", "Plant taxonomy",
        "speciation", "Botany", "Flowering plants", "plants", "Organismal evolution",
        "phylogenetics", "Plant evolution", "hybridization", "distances"], "title":
        "<p>Genetic distances among the <i>Physolychnis a</i>- and <i>b-</i>copies.</p>",
        "figshare_url": "http://figshare.com/articles/_Genetic_distances_among_the_Physolychnis_a_and_b_copies_/741664",
        "defined_type": 3, "doi": ["http://dx.doi.org/10.1371/journal.pone.0067729.t001"],
        "published_date": "2013-07-08 02:11:36", "article_id": 741664, "categories":
        ["Biological Sciences"], "description": "<p>Distances are calculated in PAUP*
        (Swofford, 2000). Numbers following taxon names correspond to specimen IDs
        in the <i>Sileneae</i> database <a href=\"http://www.plosone.org/article/info:doi/10.1371/journal.pone.0067729#pone.0067729-Oxelman2\"
        target=\"_blank\">[18]</a>. Distances between the two copies are within square
        brackets.</p>"}, {"files": ["http://files.figshare.com/1114012/Table_2.xls"],
        "pos_in_sequence": 0, "stats": {"downloads": 0, "page_views": 10, "likes":
        0}, "users": ["Bernard E. Pfeil", "Anna Petri", "Bengt Oxelman"], "links":
        [], "tags": ["Molecular systematics", "introgression", "Plant science", "Evolutionary
        processes", "primer", "Evolutionary biology", "Evolutionary systematics",
        "Plant taxonomy", "speciation", "Botany", "Flowering plants", "plants", "Organismal
        evolution", "phylogenetics", "Plant evolution", "hybridization"], "title":
        "<p>Results from <i>Multiple primer amplification.</i></p>", "figshare_url":
        "http://figshare.com/articles/_Results_from_Multiple_primer_amplification_/741665",
        "defined_type": 3, "doi": ["http://dx.doi.org/10.1371/journal.pone.0067729.t002"],
        "published_date": "2013-07-08 02:11:36", "article_id": 741665, "categories":
        ["Biological Sciences"], "description": "<span class=\"pl_xls_label\">a</span><p
        >One sequence contains one site diagnostic to the other section.</p><span
        class=\"pl_xls_label\">b</span><p >Three sequences contains one site each
        diagnostic to the other section.</p><span class=\"pl_xls_label\">c</span><p
        >15 sequences share one site diagnostic to the other section.</p><span class=\"pl_xls_label\">d</span><p
        >5 (4) sequences share one site diagnostic to the other section.</p><p>Column
        A) No. read[...]
