---
http_interactions:
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1371/JOURNAL.PONE.0067729
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Crossref-Deployment-Name:
      - svc1-1
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1371/JOURNAL.PONE.0067729",
         "RA": "Crossref"
        }
        ]
  recorded_at: Sat, 11 Feb 2017 20:27:49 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1371%2FJOURNAL.PONE.0067729
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2016,12,28]],"date-time":"2016-12-28T23:41:03Z","timestamp":1482968463997},"reference-count":48,"publisher":"Public
        Library of Science (PLoS)","issue":"7","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2013,7,8]],"date-time":"2013-07-08T00:00:00Z","timestamp":1373241600000},"delay-in-days":0,"content-version":"vor"}],"content-domain":{"domain":["www.plosone.org"],"crossmark-restriction":false},"short-container-title":["PLoS
        ONE"],"cited-count":0,"DOI":"10.1371\/journal.pone.0067729","type":"journal-article","created":{"date-parts":[[2013,7,8]],"date-time":"2013-07-08T20:59:20Z","timestamp":1373317160000},"page":"e67729","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","source":"CrossRef","title":["Introgressive
        Hybridization between Anciently Diverged Lineages of Silene (Caryophyllaceae)"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1371","volume":"8","author":[{"given":"Anna","family":"Petri","affiliation":[]},{"given":"Bernard
        E.","family":"Pfeil","affiliation":[]},{"given":"Bengt","family":"Oxelman","affiliation":[]}],"member":"http:\/\/id.crossref.org\/member\/340","published-online":{"date-parts":[[2013,7,8]]},"container-title":["PLoS
        ONE"],"original-title":[],"deposited":{"date-parts":[[2016,12,28]],"date-time":"2016-12-28T22:52:13Z","timestamp":1482965533000},"score":1.0,"subtitle":[],"editor":[{"given":"Pawel","family":"Michalak","affiliation":[]}],"short-title":[],"issued":{"date-parts":[[2013,7,8]]},"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pone.0067729","ISSN":["1932-6203"],"citing-count":48,"subject":["Biochemistry,
        Genetics and Molecular Biology(all)","Agricultural and Biological Sciences(all)","Medicine(all)"]}}'
  recorded_at: Sat, 11 Feb 2017 20:27:50 GMT
recorded_with: VCR 2.9.3
