---
http_interactions:
- request:
    method: get
    uri: http://www.citeulike.org/api/posts/for/doi/10.1371%2Fjournal.pone.0115074
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Mime-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: |
        <posts>
        <post username="chasmand" article_id="13466607">
        <link url="http://www.citeulike.org/user/chasmand/article/13466607"/>
        <post_time>2014-12-30 19:24:31</post_time>
        <tag>network-topology</tag>
        <tag>tissue_specific_nw</tag>
        <linkout type="DOI" url="http://dx.doi.org/10.1371/journal.pone.0115074"/>
        </post>

        <post username="shandar" article_id="13466607">
        <link url="http://www.citeulike.org/user/shandar/article/13466607"/>
        <post_time>2014-12-21 14:04:54</post_time>
        <tag>shandar-dec2014</tag>
        <linkout type="DOI" url="http://dx.doi.org/10.1371/journal.pone.0115074"/>
        </post>

        </posts>
  recorded_at: Thu, 01 Jan 2015 15:57:59 GMT
recorded_with: VCR 2.9.3
