---
http_interactions:
- request:
    method: get
    uri: http://pub.orcid.org/v1.2/0000-0002-4133-2218/orcid-bio
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message-version":"1.2","orcid-profile":{"orcid":null,"orcid-id":null,"orcid-identifier":{"value":null,"uri":"http://orcid.org/0000-0002-4133-2218","path":"0000-0002-4133-2218","host":"orcid.org"},"orcid-deprecated":null,"orcid-preferences":{"locale":"EN"},"orcid-history":{"creation-method":"WEBSITE","completion-date":{"value":1351069178043},"submission-date":{"value":1351065546414},"last-modified-date":{"value":1459182983589},"claimed":{"value":true},"source":null,"deactivation-date":null,"verified-email":{"value":true},"verified-primary-email":{"value":true},"visibility":null},"orcid-bio":{"personal-details":{"given-names":{"value":"Hannes","visibility":null},"family-name":{"value":"Grobe","visibility":null},"credit-name":null,"other-names":null},"biography":{"value":"","visibility":"PUBLIC"},"researcher-urls":null,"contact-details":{"email":[],"address":{"country":{"value":"DE","visibility":"PUBLIC"}}},"keywords":null,"external-identifiers":{"external-identifier":[{"orcid":null,"external-id-orcid":null,"external-id-common-name":{"value":"Scopus
        Author ID"},"external-id-reference":{"value":"7003808390"},"external-id-url":{"value":"http://www.scopus.com/inward/authorDetails.url?authorID=7003808390&partnerID=MN8TOARS"},"external-id-source":null,"source":{"source-orcid":{"value":null,"uri":"http://orcid.org/0000-0002-5982-8983","path":"0000-0002-5982-8983","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"Scopus
        to ORCID"},"source-date":{"value":1377847183702}}}],"visibility":"PUBLIC"},"delegation":null,"scope":null},"orcid-activities":null,"orcid-internal":null,"type":"USER","group-type":null,"client-type":null},"orcid-search-results":null,"error-desc":null}'
  recorded_at: Sat, 30 Apr 2016 14:54:26 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1594/PANGAEA.733793
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1594/PANGAEA.733793",
         "RA": "Data Cite"
        }
        ]
  recorded_at: Sat, 30 Apr 2016 14:54:27 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1594/PANGAEA.733793
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1594/PANGAEA.733793",
         "RA": "Data Cite"
        }
        ]
  recorded_at: Sat, 30 Apr 2016 14:54:28 GMT
recorded_with: VCR 2.9.3
