---
http_interactions:
- request:
    method: get
    uri: http://www.biomedcentral.com/search/results?format=json&terms=10.1186/s13007-014-0041-7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 14 Jul 2015 14:08:24 GMT
      X-Ua-Device:
      - classic
    body:
      encoding: UTF-8
      string: "{\"entries\":[{\"arxId\":\"s13007-014-0041-7\",\"blurbTitle\":\"Mapping
        mutations from SNP data\",\"blurbText\":\"This article describes a software
        tool that can be used to map SNPs identified in high-throughput sequencing
        data from bulked segregant populations. The software maps SNPs present in
        annotated coding sequences, which may represent candidate causative mutations.\",\"imageUrl\":\"/content/figures/s13007-014-0041-7-toc.gif\",\"articleUrl\":\"/content/10/1/41\",\"articleFullUrl\":\"http://www.plantmethods.com/content/10/1/41\",\"type\":\"software\",\"doi\":\"10.1186/s13007-014-0041-7\",\"isOpenAccess\":\"true\",\"isFree\":\"true\",\"isHighlyAccessed\":\"false\",\"bibliograhyTitle\":\"<p>Mapping
        mutations in plant genomes with the user-friendly web application CandiSNP<\\/p>\",\"authorNames\":\"
        \       \\n    <span class=\\\"author-names\\\">    Etherington GJ, Monaghan
        J, Zipfel C and MacLean D<\\/span>\\n    \",\"longCitation\":\"<em>Plant Methods<\\/em>
        2014, <strong>10<\\/strong>:41\",\"status\":\"LIVE\",\"abstractPath\":\"http://www.plantmethods.com/content/10/1/41/abstract\",\"journal
        Id\":\"10088\",\"published Date\":\"2014-12-30\" }]}\r\n"
  recorded_at: Tue, 14 Jul 2015 14:14:14 GMT
recorded_with: VCR 2.9.3
