---
http_interactions:
- request:
    method: get
    uri: http://www.biomedcentral.com/search/results?format=json&terms=https://github.com/najoshi/sickle
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: ''
    headers:
      Content-Type:
      - text/html
      Location:
      - http://www.biomedcentral.com/search
      X-Cf-Requestid:
      - 56f95c80-7e6f-4358-6ede-671a467d9702
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Mon, 21 Mar 2016 13:15:22 GMT
- request:
    method: get
    uri: http://www.biomedcentral.com/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 406
      message: ''
    headers:
      Content-Type:
      - text/html
      X-Cf-Requestid:
      - 9f533c43-bcc6-4244-6604-3716424676bb, afdb215d-8987-4bbc-729c-de95e0ffc849
      X-Orig-Host:
      - www.biomedcentral.com
    body:
      encoding: UTF-8
      string: "<html>\n    <head>\n        <meta charset=\"utf-8\">\n        <title>406
        Not Acceptable</title>\n        <script type=\"text/javascript\" src=\"/utterlyidle/rendering/matchFailure.js\"></script>\n
        \       <link rel=\"stylesheet\" href=\"/utterlyidle/rendering/style.css\"
        type=\"text/css\"/>\n    </head>\n<body>\n    <h1>406 Not Acceptable</h1>\n
        \   <p>Did you mean one of these?</p>\n\n    <ul class=\"resources\">\n <li
        class=\"resource\"><form action=\"/\" method=\"GET\">\n    <span class=\"method\">GET</span>\n/?\n
        \   <input type=\"submit\" value=\"Submit\"/>\n</form></li> \n    </ul>\n\n</body>\n</html>"
  recorded_at: Mon, 21 Mar 2016 13:15:22 GMT
recorded_with: VCR 2.9.3
