<div class="content">
  <div class="page-header">
    <h1><%= link_to "Responses", admin_responses_path %></h1>
  </div>

   <p>Number of articles that have been updated with new information from sources.</p>

   <div id="responses">
     <%= render :partial => 'index' %>
  </div>
</div>
