<div class="content">
  <div class="page-header">
    <h1>Responses</h1>
  </div>

 <p>Number of articles that have been updated with new information from sources.</p>
 
  <table class="table table-striped" id="ResponsesTable">
    <thead>
      <tr>
        <th>Source</th>
        <th>Status</th>
        <th class="hidden-phone number">Responses&nbsp;(24&nbsp;hours)</th>
        <th class="number">Errors (24&nbsp;hours)</th>
      </tr>
    </thead>
    <tbody>
      <% @sources.each do|source| %>
        <tr>
          <td><%= link_to h(source.display_name), admin_source_path(source.name) %></td>
          <td><%= status_label(source).html_safe %></td>
          <td class="hidden-phone number"><%= number_with_delimiter(@responses_count[source.id].nil? ? 0 : @responses_count[source.id]) %></td>
          <td class="number"><%= link_to_unless @errors_count[source.id].nil?, number_with_delimiter(@errors_count[source.id].nil? ? 0 : @errors_count[source.id]), admin_error_messages_path(:source_id => source.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>