<div class="content">
  <div class="page-header">
    <h1>Responses</h1>
  </div>

   <p>Number of articles that have been updated with new information from sources.</p>
 
   <div id="responses">
     <div class="alert alert-info" id="loading">Loading page…</div>
     <%= javascript_tag do -%>
       <%= render :partial => 'index', formats: :js %> 
     <% end %>
  </div>
</div>