<nav class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">Lagotto Dev</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'status'}}Status{{/link-to}}</li>
        <li>{{#link-to 'works'}}Works{{/link-to}}</li>
        <li>{{#link-to 'sources'}}Sources{{/link-to}}</li>
        <li>{{#link-to 'publishers'}}Publishers{{/link-to}}</li>
        <li>{{#link-to 'users'}}Users{{/link-to}}</li>
        <li>{{#link-to 'alerts'}}Notifications{{/link-to}}</li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {{#each doc in docs}}
              <li><a href="/#/docs/{{doc.id}}">{{doc.title}}</a></li>
            {{/each}}
            <li class="divider"></li>
            <li><a href="http://discuss.lagotto.io">Support Forum</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Name <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">

            <li class="divider"></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
