---
http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?fl=id,publication_date,title_display,cross_published_journal_name,author_display,volume,issue,elocation_id&fq=%2Bpublication_date:%5B2013-09-01T00:00:00Z%20TO%202013-09-01T23:59:59Z%5D%20%2Bdoc_type:full%20-article_type:%22Issue%20Image%22&q=*:*&rows=1000&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Last-Modified:
      - Tue, 14 Jul 2015 04:58:55 GMT
      Etag:
      - '"OWViMDgwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":0,"start":0,"docs":[]}}
  recorded_at: Tue, 14 Jul 2015 14:13:38 GMT
recorded_with: VCR 2.9.3
