---
http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?fl=id,publication_date,title_display,cross_published_journal_name,author_display,volume,issue,elocation_id&fq=publication_date:%5B2015-04-05T00:00:00Z%20TO%202015-04-05T23:59:59Z%5D%2Bdoc_type:full&q=*:*&rows=1000&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Last-Modified:
      - Tue, 29 Sep 2015 16:37:11 GMT
      Etag:
      - '"YzgxYWM4MDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":0,"start":0,"docs":[]}}
  recorded_at: Tue, 29 Sep 2015 16:57:52 GMT
recorded_with: VCR 2.9.3
