---
http_interactions:
- request:
    method: get
    uri: http://www.citeulike.org/api/posts/for/doi/10.1371%2Fjournal.pone.0115074
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Mime-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: |
        <posts>
        <post username="FizaAli" article_id="13466607">
        <link url="http://www.citeulike.org/user/FizaAli/article/13466607"/>
        <post_time>2015-07-01 07:36:17</post_time>
        <tag>dataset-hyperedge-miner</tag>
        <tag>functional-linkage-network</tag>
        <tag>tissue-specificity</tag>
        <linkout type="DOI" url="http://dx.doi.org/10.1371/journal.pone.0115074"/>
        <linkout type="Pubmed Central" url="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4267779/"/>
        <linkout type="Pubmed" url="http://view.ncbi.nlm.nih.gov/pubmed/25513809"/>
        <linkout type="Hubmed" url="http://www.hubmed.org/display.cgi?uids=25513809"/>
        </post>

        <post username="ahsanur" article_id="13466607">
        <link url="http://www.citeulike.org/user/ahsanur/article/13466607"/>
        <post[...]
