---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-update-date:2013-09-04,until-update-date:2013-09-05,until-pub-date:2013-09-05,from-pub-date:2013-09-04&sample=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":20,"items":[{"subtitle":[],"issued":{"date-parts":[[2013,9,5]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1007","author":[{"affiliation":[],"family":"Shakya","given":"Surya
        Man"},{"affiliation":[],"family":"Tuladhar","given":"Bhushan"}],"container-title":["Municipal
        Solid Waste Management in Asia and the Pacific Islands","Environmental Science
        and Engineering"],"reference-count":0,"page":"233-253","deposited":{"date-parts":[[2013,9,4]],"timestamp":1378252800000},"title":["State
        of Municipal Solid Waste Management in the Municipalities of Nepal"],"type":"book-chapter","DOI":"10.1007\/978-981-4451-73-4_12","ISSN":["1863-5520","1863-5539"],"ISBN":["http:\/\/id.crossref.org\/isbn\/978-981-4451-72-7","http:\/\/id.crossref.org\/isbn\/978-981-4451-73-4"],"URL":"http:\/\/dx.doi.org\/10.1007\/978-981-4451-73-4_12","source":"CrossRef","publisher":"Springer
        Science + Business Media","indexed":{"date-parts":[[2015,6,11]],"timestamp":1434025589950},"member":"http:\/\/id.crossref.org\/member\/297"},{"subtitle":[],"subject":["Medicine(all)"],"issued":{"date-parts":[[2013,9,5]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.4314","author":[{"affiliation":[],"family":"Oppong","given":"AK"},{"affiliation":[],"family":"Oti-Boadi","given":"M"}],"container-title":["African
        Health Sciences","Afr H. Sci."],"reference-count":0,"deposited":{"date-parts":[[2013,9,5]],"timestamp":1378339200000},"issue":"2","title":["HIV\/AIDS
        knowledge among undergraduate university students: implications for health
        education programs in Ghana"],"type":"journal-article","DOI":"10.4314\/ahs.v13i2.11","ISSN":["1680-6905"],"URL":"http:\/\/dx.doi.org\/10.4314\/ahs.v13i2.11","source":"CrossRef","publisher":"African
        Journals Online (AJOL)","indexed":{"date-parts":[[2015,6,8]],"timestamp":1433782661340},"volume":"13","member":"http:\/\/id.crossref.org\/member\/2895"},{"subtitle":[],"issued":{"date-parts":[[2013,9,5]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.5852","author":[{"affiliation":[],"family":"Leduc","given":"Daniel"}],"container-title":["European
        Journal of Taxonomy","EJT"],"reference-count":0,"deposited":{"date-parts":[[2013,9,5]],"timestamp":1378339200000},"issue":"55","title":["Two
        new free-living nematode species (Trefusiina: Trefusiidae) from the Chatham
 [...]
