---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-update-date:2013-09-04,until-update-date:2013-09-05,until-pub-date:2013-09-05,from-pub-date:2013-09-04&sample=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":20,"items":[{"subtitle":[],"subject":["Chemistry(all)","Industrial
        and Manufacturing Engineering","Chemical Engineering(all)"],"issued":{"date-parts":[[2013,9,4]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1021","author":[{"family":"Georgakis","given":"Christos"}],"container-title":["Industrial
        & Engineering Chemistry Research","Ind. Eng. Chem. Res."],"reference-count":19,"page":"12369-12382","deposited":{"date-parts":[[2013,9,4]],"timestamp":1378252800000},"issue":"35","title":["Design
        of Dynamic Experiments: A Data-Driven Methodology for the Optimization of
        Time-Varying Processes"],"type":"journal-article","DOI":"10.1021\/ie3035114","ISSN":["0888-5885","1520-5045"],"URL":"http:\/\/dx.doi.org\/10.1021\/ie3035114","source":"CrossRef","publisher":"American
        Chemical Society (ACS)","indexed":{"date-parts":[[2015,2,10]],"timestamp":1423573856695},"volume":"52","member":"http:\/\/id.crossref.org\/member\/316"},{"subtitle":[],"subject":["Statistical
        and Nonlinear Physics","Mathematical Physics","Modelling and Simulation","Statistics
        and Probability","Physics and Astronomy(all)"],"issued":{"date-parts":[[2013,9,4]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1088","author":[{"family":"Teeny","given":"Nicolas"},{"family":"F\u00e4hnle","given":"Manfred"}],"container-title":["Journal
        of Physics A: Mathematical and Theoretical"[...]
