---
http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v2.0/0000-0002-0159-2197/person
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"last-modified-date":{"value":1452488714540},"name":{"created-date":{"value":1460756583763},"last-modified-date":{"value":1460756583763},"given-names":{"value":"Jonathan
        A."},"family-name":{"value":"Eisen"},"credit-name":{"value":""},"source":null,"visibility":"PUBLIC","path":"0000-0002-0159-2197"},"other-names":{"last-modified-date":null,"other-name":[],"path":"/0000-0002-0159-2197/other-names"},"biography":{"created-date":{"value":1460756583765},"last-modified-date":{"value":1460756583765},"content":"","visibility":"PUBLIC","path":"/0000-0002-0159-2197/biography"},"researcher-urls":{"last-modified-date":{"value":1452488714540},"researcher-url":[{"created-date":{"value":1452488714533},"last-modified-date":{"value":1452488714533},"source":{"source-orcid":{"uri":"http://orcid.org/0000-0002-0159-2197","path":"0000-0002-0159-2197","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"Jonathan
        A. Eisen"}},"url-name":"microBEnet","url":{"value":"http://microBE.net"},"visibility":"PUBLIC","path":"/0000-0002-0159-2197/researcher-urls/607339","put-code":607339,"display-index":0},{"created-date":{"value":1452488714536},"last-modified-date":{"value":1452488714536},"source":{"source-orcid":{"uri":"http://orcid.org/0000-0002-0159-2197","path":"0000-0002-0159-2197","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"Jonathan
        A. Eisen"}},"url-name":"Tree of Life Blog","url":{"value":"http://phylogenomics.blogspot.com"},"visibility":"PUBLIC","path":"/0000-0002-0159-2197/researcher-urls/607340","put-code":607340,"display-index":0},{"created-date":{"va[...]
