---
http_interactions:
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1371/JOURNAL.PMED.0030186
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1371/JOURNAL.PMED.0030186",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sun, 20 Mar 2016 17:44:51 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1371%2FJOURNAL.PMED.0030186
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,12,21]],"date-time":"2015-12-21T16:54:30Z","timestamp":1450716870193},"reference-count":19,"publisher":"Public
        Library of Science (PLoS)","issue":"6","DOI":"10.1371\/journal.pmed.0030186","type":"journal-article","created":{"date-parts":[[2006,5,26]],"date-time":"2006-05-26T12:53:01Z","timestamp":1148647981000},"page":"e186","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pmed.corrections_policy","source":"CrossRef","title":["Implementation
        Research Is Needed to Achieve International Health Goals"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1371","volume":"3","author":[{"affiliation":[],"family":"Sanders","given":"David"},{"affiliation":[],"family":"Haines","given":"Andy"}],"member":"http:\/\/id.crossref.org\/member\/340","published-online":{"date-parts":[[2006,6,6]]},"container-title":["PLoS
        Med","PLoS Medicine"],"deposited":{"date-parts":[[2015,10,20]],"date-time":"2015-10-20T20:03:10Z","timestamp":1445371390000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2006,6,6]]},"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pmed.0030186","ISSN":["1549-1676"],"subject":["Medicine(all)"]}}'
  recorded_at: Sun, 20 Mar 2016 17:44:52 GMT
[...]
