---
http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?fl=id,publication_date,title_display,cross_published_journal_name,author_display&fq=%2Bpublication_date:%5B2013-09-04T00:00:00Z%20TO%202013-09-05T23:59:59Z%5D%2Bdoc_type:full&q=*:*&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 06 Jan 2015 07:27:48 GMT
      Etag:
      - '"Mjk4NGM4MDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":394,"start":0,"docs":[]}}
  recorded_at: Thu, 05 Sep 2013 00:00:00 GMT
recorded_with: VCR 2.9.3
