---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/members?offset=0&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member-list","message-version":"1.0.0","message":{"items":[],"total-results":6260,"query":{"search-terms":null,"start-index":0},"items-per-page":0}}'
  recorded_at: Mon, 21 Mar 2016 13:17:22 GMT
recorded_with: VCR 2.9.3
