---
http_interactions:
- request:
    method: post
    uri: https://api.mendeley.com/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=all
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic MjkzNjpiVkJtMGZmZUtxaWU0emZL
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Mendeley-Trace-Id:
      - ao1MYmpTyN8
    body:
      encoding: UTF-8
      string: '{"access_token":"MSwxNDYwMzk3MDQ2MjM5LCwyOTM2LGFsbCwsUmxzMDl2eV95bXJYcXBScF93eV9CU2YzWDln","token_type":"bearer","expires_in":3600,"refresh_token":null,"msso":null,"scope":"all"}'
  recorded_at: Mon, 11 Apr 2016 16:50:46 GMT
- request:
    method: get
    uri: https://api.mendeley.com/catalog?doi=10.1371/journal.pone.004429x&view=stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer MSwxNDYwMzk3MDQ2MjM5LCwyOTM2LGFsbCwsUmxzMDl2eV95bXJYcXBScF93eV9CU2YzWDln
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.mendeley-document.1+json
      X-Mendeley-Trace-Id:
      - LyqJj68QJCo
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 11 Apr 2016 16:50:46 GMT
recorded_with: VCR 2.9.3
