---
http_interactions:
- request:
    method: post
    uri: https://api.mendeley.com/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=all
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic MjkzNjpiVkJtMGZmZUtxaWU0emZL
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Mendeley-Trace-Id:
      - tTz99hBFAxY
    body:
      encoding: UTF-8
      string: '{"access_token":"MSwxNDYwMjIzODEzNjIxLCwyOTM2LGFsbCwsbUdSWlhwZFhOS1FZOVZaTncxYm8xRlo0MzNB","token_type":"bearer","expires_in":3600,"refresh_token":null,"msso":null,"scope":"all"}'
  recorded_at: Sat, 09 Apr 2016 16:43:33 GMT
- request:
    method: get
    uri: https://api.mendeley.com/catalog?doi=10.1371/journal.pone.0044294&view=stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer MSwxNDYwMjIzODEzNjIxLCwyOTM2LGFsbCwsbUdSWlhwZFhOS1FZOVZaTncxYm8xRlo0MzNB
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.mendeley-document.1+json
      X-Mendeley-Trace-Id:
      - zyURR6bFGBw
    body:
      encoding: UTF-8
      string: '[{"title":"Gene Expression Analysis in Human Breast Cancer Associated
        Blood Vessels","type":"journal","authors":[{"first_name":"Dylan T.","last_name":"Jones"},{"first_name":"Tanguy","last_name":"Lechertier"},{"first_name":"Richard","last_name":"Mitter"},{"first_name":"John
        M J","last_name":"Herbert"},{"first_name":"Roy","last_name":"Bicknell"},{"first_name":"J.
        Louise","last_name":"Jones"},{"first_name":"Ji Liang","last_name":"Li"},{"first_name":"Francesca","last_name":"Buffa"},{"first_name":"Adrian
        L.","last_name":"Harris"},{"first_name":"Kairbaan","last_name":"Hodivala-Dilke"}],"year":2012,"source":"PLoS
        ONE","identifiers":{"pmid":"23056178","isbn":"1932-6203 (Electronic)\r1932-6203
        (Linking)","doi":"10.1371/journal.pone.0044294","scopus":"2-s2.0-84867016983","issn":"19326203"},"id":"acd00543-b6a1-3c5c-9f24-e809b0286c0a","abstract":"Angiogenesis
        is essential for solid tumour growth, whilst the molecular profiles of tumour
        blood vessels have been reported to be different between cancer types. Although
        presently available anti-angiogenic strategies are providing some promise
        for the treatment of some cancers it is perhaps not surprisingly that, none
        of the anti-angiogenic agents available work on all tumours. Thus, the discovery
        of novel anti-angiogenic targets, relevant to ind[...]
