---
http_interactions:
- request:
    method: post
    uri: https://api.mendeley.com/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=all
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic MjkzNjpiVkJtMGZmZUtxaWU0emZL
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Mendeley-Trace-Id:
      - 3TCvAJjF30s
    body:
      encoding: UTF-8
      string: '{"access_token":"MSwxNDYwMjIzODEyMzAwLCwyOTM2LGFsbCwsNUVxaTRfX09EOGhyeGFWeGt5M0dWZmlNdnNJ","token_type":"bearer","expires_in":3600,"refresh_token":null,"msso":null,"scope":"all"}'
  recorded_at: Sat, 09 Apr 2016 16:43:32 GMT
- request:
    method: get
    uri: https://api.mendeley.com/catalog?doi=10.1371/journal.pone.000001&view=stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer MSwxNDYwMjIzODEyMzAwLCwyOTM2LGFsbCwsNUVxaTRfX09EOGhyeGFWeGt5M0dWZmlNdnNJ
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.mendeley-document.1+json
      X-Mendeley-Trace-Id:
      - Dzt44hMiMZY
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 09 Apr 2016 16:43:32 GMT
recorded_with: VCR 2.9.3
