---
http_interactions:
- request:
    method: post
    uri: https://api.mendeley.com/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=all
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic MjkzNjpiVkJtMGZmZUtxaWU0emZL
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Mendeley-Trace-Id:
      - t5qdxnHydfc
    body:
      encoding: UTF-8
      string: '{"access_token":"MSwxNDYwMjIzODEyNzUwLCwyOTM2LGFsbCwsOFlVVExpd2tRQ1Q4RGJLZXFHLVZVQzFRc0NR","token_type":"bearer","expires_in":3599,"refresh_token":null,"msso":null,"scope":"all"}'
  recorded_at: Sat, 09 Apr 2016 16:43:32 GMT
- request:
    method: get
    uri: https://api.mendeley.com/catalog?doi=10.1371/journal.pone.0000001&view=stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer MSwxNDYwMjIzODEyNzUwLCwyOTM2LGFsbCwsOFlVVExpd2tRQ1Q4RGJLZXFHLVZVQzFRc0NR
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.mendeley-document.1+json
      X-Mendeley-Trace-Id:
      - Y1JP1X5SMyo
    body:
      encoding: UTF-8
      string: '[{"title":"Neural substrate of cold-seeking behavior in endotoxin shock","type":"journal","authors":[{"first_name":"Maria
        C.","last_name":"Almeida"},{"first_name":"Alexandre A.","last_name":"Steiner"},{"first_name":"Luiz
        G S","last_name":"Branco"},{"first_name":"Andrej A.","last_name":"Romanovsky"}],"year":2006,"source":"PLoS
        ONE","identifiers":{"pmid":"17183631","doi":"10.1371/journal.pone.0000001","scopus":"2-s2.0-54949114304","issn":"19326203"},"id":"1d813d97-a3c8-37ab-a526-4d31bf761e19","abstract":"Systemic
        inflammation is a leading cause of hospital death. Mild systemic inflammation
        is accompanied by warmth-seeking behavior (and fever), whereas severe inflammation
        is associated with cold-seeking behavior (and hypothermia). Both behaviors
        are adaptive. Which brain structures mediate which behavior is unknown. The
        involvement of hypothalamic structures, namely, the preoptic area (POA), paraventricular
        nucleus (PVH), or dorsomedial nucleus (DM[...]
