<div class="content">
  <div class="page-header">
    <h1>API Requests</h1>
  </div>
  
  <div id="charts">
    <div id="hour-chart" class="req-chart">
      <div class="title">Time of Day</div>
    </div>
    <div id="db-chart" class="req-chart">
      <div class="title">DB Duration (ms)</div>
    </div>
    <div id="duration-chart" class="req-chart">
      <div class="title">View Duration (ms)</div>
    </div>
    <div id="date-chart" class="req-chart">
      <div class="title">Date</div>
    </div>
  </div>

  <aside id="totals"><span id="active">-</span> of <span id="total">-</span> requests selected.</aside>

  <div id="lists">
    <div id="request-list" class="list"></div>
  </div>
  
  <%= javascript_tag do -%>
    <%= render :partial => 'request', formats: :js %> 
  <% end %>
</div>