<div class="content">
  <div class="page-header">
    <h1 id="api_key" data-api_key="<%= CONFIG[:api_key] %>" data-key="<%= params[:key] %>">API Requests</h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      Duration of the last 10,000 requests to the ALM API. Filter by <a href="javascript:filter([null, null, [0, 100]])">fast</a> or <a href="javascript:filter([null, null, [1000, 50000]])">slow</a> responses.
    </div>

    <div id="charts">
      <div id="hour-chart" class="col-md-4 req-chart">
        <h5>Time of Day (UTC)</h5>
      </div>
      <div id="db-chart" class="col-md-4 req-chart">
        <h5>Database Duration (ms)</h5>
      </div>
      <div id="duration-chart" class="col-md-4 req-chart">
        <h5>View Duration (ms)</h5>
      </div>
    </div>

    <div id="lists">
      <div id="request-list" class="col-md-12 list">
      <div id="totals" class="pull-right"><span id="active">-</span> of <span id="total">-</span> requests selected.</div>
      </div>
    </div>
  </div>

  <%= javascript_tag do -%>
    <%= render :partial => 'index', formats: :js %>
  <% end %>
</div>
