<div class="content">
  <div class="page-header">
    <h1>API Requests</h1>
  </div>
  
  <div class="row">
    <div class="span12">
      Duration of the last 50,000 API requests. Filter by <a href="javascript:filter([null, null, null, [0, 100]])">fast</a> or <a href="javascript:filter([null, null, null, [1000, 50000]])">slow</a> responses, or by responses from <a href="javascript:filter([[new Date(new Date().getTime() - 1 * 60 * 60 * 1000), new Date()], null, null, null])">the last hour</a>.
    </div>

    <div id="charts">
      <div id="date-chart" class="span6 req-chart">
        <h5>Date and Time</h5>
      </div>
      <div id="db-chart" class="span6 req-chart">
        <h5>Database Duration (ms)</h5>
      </div>
      <div id="hour-chart" class="span6 req-chart">
        <h5>Time of Day (UTC)</h5>
      </div>
      <div id="duration-chart" class="span6 req-chart">
        <h5>View Duration (ms)</h5>
      </div>
    </div>

    <div id="lists">
      <div id="request-list" class="span12 list">
      <div id="totals" class="pull-right"><span id="active">-</span> of <span id="total">-</span> requests selected.</div>
      </div>
    </div>
  </div>
  
  <%= javascript_tag do -%>
    <%= render :partial => 'request', formats: :js %> 
  <% end %>
</div>