---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-update-date:2015-04-07,until-update-date:2015-04-08&sample=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":20,"items":[{"indexed":{"date-parts":[[2015,6,10]],"timestamp":1433923231894},"reference-count":46,"publisher":"Springer
        Science + Business Media","issue":"1","DOI":"10.1186\/s13054-015-0878-9","type":"journal-article","update-policy":"http:\/\/dx.doi.org\/10.1007\/springer_crossmark_policy","source":"CrossRef","title":["Tryptase
        is involved in the development of early ventilator-induced pulmonary fibrosis
        in sepsis-induced lung injury"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1186","volume":"19","author":[{"affiliation":[],"family":"Villar","given":"Jes\u00fas"},{"affiliation":[],"family":"Cabrera-Ben\u00edtez","given":"Nuria
        E"},{"affiliation":[],"family":"Valladares","given":"Francisco"},{"affiliation":[],"family":"Garc\u00eda-Hern\u00e1ndez","given":"Sonia"},{"affiliation":[],"family":"Ramos-Nuez","given":"\u00c1ngela"},{"affiliation":[],"family":"Mart\u00edn-Barrasa","given":"Jos\u00e9
        Lu\u00eds"},{"affiliation":[],"family":"Muros","given":"Mercedes"},{"affiliation":[],"family":"Kacmarek","given":"Robert
        M"},{"affiliation":[],"family":"Slutsky","given":"Arthur S"}],"member":"http:\/\/id.crossref.org\/member\/297","container-title":["Critical
        Care","Crit Care"],"deposited":{"date-parts":[[2015,4,8]],"timestamp":1428451200000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2015,4,3]]},"alternative-id":["878"],"URL":"http:\/\/dx.doi.org\/10.1186\/s13054-015-0878-9","ISSN":["1364-8535"],"subject":["Critical
        Care and Intensive Care Medicine"]},{"indexed":{"date-parts":[[2015,6,13]],"timestamp":1434155436393},"reference-count":0,"publisher":"ASTM
        International","DOI":"10.1520\/stp12168s","type":"book-chapter","page":"246-246-16","source":"CrossRef","title":["Experiences
        with EPA''s Proposed Screening Analyses for Bioconcentratable Compounds"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1520","author":[{"affiliation":[],"family":"Louch","given":"JR"},{"affiliation":[],"family":"LaFleur","given":"LE"},{"affiliation":[],"family":"Woodrow","given":"DM"},{"affiliation":[],"family":"Wilson","given":"GR"}],"member":"http:\/\/id.crossref.org\/member\/381","container-title":["Environmental
        Toxicology and Risk Assessment: Seventh Volume"],"deposited":{"date-parts":[[2015,4,7]],"timestamp":1428364800000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[1998,1,1]]},"ISBN":["http:\/\/id.crossref.org\/isbn\/978-0-8031-1485-2"],"URL":"http:\/\/dx.doi.org\/10.1520\/stp12168s"},{"indexed":{"date-parts":[[2015,6,5]],"timestamp":1433510859788},"reference-count":0,"publisher":"American
        Psychological Association (APA)","issue":"2","DOI":"10.1037\/\/0736-9735.10.2.169","type":"journal-article","page":"169-185","source":"CrossRef","title":["Conflicts
        over selfishness: One aspect of some women''s wish for a baby."],"prefix":"http:\/\/id.crossref.org\/prefix\/[...]
