---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-update-date:2015-04-07,until-update-date:2015-04-08&sample=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":20,"items":[{"indexed":{"date-parts":[[2015,6,10]],"timestamp":1433913963509},"reference-count":8,"publisher":"ASTM
        International","issue":"1","DOI":"10.1520\/cca10020j","type":"journal-article","page":"38","source":"CrossRef","title":["Thermal
        Properties of Commercially Available High-Strength Concretes"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1520","volume":"19","author":[{"affiliation":[],"family":"Hooton","given":"RD"},{"affiliation":[],"family":"Van
        Geem","given":"MG"},{"affiliation":[],"family":"Gajda","given":"J"},{"affiliation":[],"family":"Dombrowski","given":"K"}],"member":"http:\/\/id.crossref.org\/member\/381","container-title":["Cement,
        Concrete and Aggregates","Cement, Concrete, Aggr."],"deposited":{"date-parts":[[2015,4,7]],"timestamp":1428364800000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[1997]]},"URL":"http:\/\/dx.doi.org\/10.1520\/cca10020j","ISSN":["0149-6123"],"subject":["Materials
        Science(all)","Building and Construction"]},{"indexed":{"date-parts":[[2015,6,10]],"timestamp":1433916151813},"reference-count":39,"publisher":"ASTM
        International","issue":"1","DOI":"10.1520\/acem20130095","type":"journal-article","page":"20130095","source":"CrossRef","title":["Measuring
        Freeze and Thaw Damage in Mortars Containing Deicing Salt Using a Low-Temperature
        Longitudinal Guarded Comparative Calorimeter and Acoustic Emission"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1520","volume":"3","author":[{"affiliation":[{"name":"Graduate
        Research Assistant, Lyles School of Civil Engineering, Purdue Univ., 550 Stadium
        Mall Dr., West Lafayette, IN 47907, US, e-mail: yfarnam@purdue.edu"}],"family":"Farnam","given":"Yaghoob"},{"affiliation":[{"name":"Chemical
        Engineer, Materials and Structural Systems Division, National Institute of
        Standards and Technology, 100 Bureau Dr., Stop 8615, Gaithersburg, MD 20899,
        US, e-mail: dale.bentz@nist.gov"}],"family":"Bentz","given":"Dale"},{"affili[...]
