---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-update-date:2015-04-07,until-update-date:2015-04-08&sample=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":20,"items":[{"indexed":{"date-parts":[[2015,12,22]],"date-time":"2015-12-22T20:26:39Z","timestamp":1450815999362},"reference-count":0,"publisher":"ASTM
        International","DOI":"10.1520\/stp46537s","type":"book-chapter","created":{"date-parts":[[2009,8,25]],"date-time":"2009-08-25T19:17:25Z","timestamp":1251227845000},"page":"52-52-12","source":"CrossRef","title":["Key
        to Abbreviations of Publications Appearing in the Bibliography"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1520","member":"http:\/\/id.crossref.org\/member\/381","container-title":["1959
        Supplement to the Bibliography and Abstracts on Electrical Contacts"],"deposited":{"date-parts":[[2015,4,7]],"date-time":"2015-04-07T20:38:47Z","timestamp":1428439127000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[null]]},"ISBN":["http:\/\/id.crossref.org\/isbn\/978-0-8031-6816-9"],"URL":"http:\/\/dx.doi.org\/10.1520\/stp46537s"},{"indexed":{"date-parts":[[2015,12,22]],"date-time":"2015-12-22T20:34:38Z","timestamp":1450816478398},"reference-count":38,"publisher":"ASTM
        International","published-print":{"date-parts":[[2014,7,31]]},"DOI":"10.1520\/stp157320130102","type":"book-chapter","created":{"date-parts":[[2014,7,25]],"date-time":"2014-07-25T02:43:29Z","timestamp":1406256209000},"page":"38-74","source":"CrossRef","title":["Ion
        Exchange and Mechanical Purification of Fire-Resistant Phosphate Ester Fluids
        Used in Steam-Turbine Control Systems"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1520","author":[{"affiliation":[{"name":"W.
        David Phillips and Associates, Stockport, Cheshire, GB."}],"family":"Phillips","given":"W.
        D."},{"affiliation":[{"name":"Ontario Power Generation, Nuclear Services,
        889 Brock Rd., Pickering, Ontario, CA, L1W 3J2 (Corresponding author), e-mail:
        george.staniewski@opg.com"}],"family":"Staniewski","given":"J. W. G."},{"affiliation":[{"name":"Kinectrics
        Inc., Chemistry, Toronto, Ontario, CA."}],"family":"Suryanarayan","given":"S."}],"member":"http:\/\/id.crossref.org\/member\/381","published-online":{"date-parts":[[2014,7,16]]},"container-title":["Fire
        Resistant Fluids"],"deposited":{"date-parts":[[2015,4,7]],"date-time":"2015-04-07T18:39:19Z","timestamp":1428431959000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2014,7,16]]},"ISBN":["http:\/\/id.crossref.org\/isbn\/978-0-8031-7591-4"],"URL":"http:\/\/dx.doi.org\/10.1520\/stp157320130102"},{"indexed":{"date-parts":[[2015,12,20]],"date-time":"2015-12-20T11:58:18Z","timestamp":1450612698092},"reference-count":119,"publisher":"Mary
        Ann Liebert Inc","issue":"12","published-print":{"date-parts":[[2015,4,20]]},"DOI":"10.1089\/ars.2014.6208","type":"journal-article","created":{"date-parts":[[2015,1,8]],"date-time":"2015-01-08T09:04:44Z","timestamp":1420707884000},"page":"1020-1031","source":"CrossRef","title":["Mitofusin
        2 as a Driver That Controls Energy Metabolism and Insulin Signaling"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1089","volume":"22","author":[{"affiliation":[],"family":"Zorzano","given":"Antonio"},{"affiliation":[],"family":"Hern\u00e1ndez-Alvarez","given":"Mar\u00eda
        Isabel"},{"affiliation":[],"family":"Sebasti\u00e1n","given":"David"},{"affiliation":[],"family":"Mu\u00f1oz","given":"Juan
        Pablo"}],"member":"http:\/\/id.crossref.org\/member\/278","container-title":["Antioxidants
        & Redox Signaling"],"deposited":{"date-parts":[[2015,4,7]],"date-time":"2015-04-07T15:27:18Z","timestamp":1428420438000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2015,4,20]]},"alternative-id":["10.1089\/ars.2014.6208"],"URL":"http:\/\/dx.doi.org\/10.1089\/ars.2014.6208","ISSN":["1523-0864","1557-7716"],"subject":["Clinical
        Biochemistry","Cell Biology","Biochemistry","Physiology","Molecular Biology"]},{"indexed":{"date-parts":[[2015,12,20]],"date-time":"2015-12-20T11:56:47Z","timestamp":1450612607669},"reference-count":35,"publisher":"Springer
        Science + Business Media","issue":"2","published-print":{"date-parts":[[2015,4]]},"DOI":"10.1007\/s13770-014-0082-z","type":"journal-article","created":{"date-parts":[[2014,12,2]],"date-time":"2014-12-02T17:27:45Z","timestamp":1417541265000},"page":"113-120","update-policy":"http:\/\/dx.doi.org\/10.1007\/springer_crossmark_policy","source":"CrossRef","title":["The
        effect of human freeze dried corticocancellous block onlay graft on bone formation
        in rat calvarium"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1007","volume":"12","author":[{"affiliation":[],"family":"Chung","given":"Hyejin"},{"affiliation":[],"family":"Hong","given":"Ji-Youn"},{"affiliation":[],"family":"Jung","given":"Gyu-Un"},{"affiliation":[],"family":"Pang","given":"Eun-Kyoung"}[...]
