---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-update-date:2015-04-07,until-update-date:2015-04-08&sample=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":20,"items":[{"indexed":{"date-parts":[[2015,12,22]],"date-time":"2015-12-22T20:12:40Z","timestamp":1450815160637},"reference-count":0,"publisher":"ASTM
        International","DOI":"10.1520\/stp24848s","type":"book-chapter","created":{"date-parts":[[2009,3,9]],"date-time":"2009-03-09T20:33:24Z","timestamp":1236630804000},"page":"57-57-9","source":"CrossRef","title":["Spontaneous
        Ignition Temperature of Tracheal Tubes"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1520","author":[{"affiliation":[],"family":"Wolf","given":"GL"},{"affiliation":[],"family":"McGuire","given":"JG"},{"affiliation":[],"family":"Nolan","given":"PF"},{"affiliation":[],"family":"Sidebotham","given":"GW"}],"member":"http:\/\/id.crossref.org\/member\/381","container-title":["Flammability
        and Sensitivity of Materials in Oxygen-Enriched Atmospheres: Sixth Volume"],"deposited":{"date-parts":[[2015,4,7]],"date-time":"2015-04-07T19:12:20Z","timestamp":1428433940000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[null]]},"ISBN":["http:\/\/id.crossref.org\/isbn\/978-0-8031-1855-3"],"URL":"http:\/\/dx.doi.org\/10.1520\/stp24848s"},{"indexed":{"date-parts":[[2015,7,17]],"date-time":"2015-07-17T03:01:38Z","timestamp":1437102098370},"reference-count":0,"publisher":"Maney
        Publishing","issue":"172","DOI":"10.1179\/003962674791965448","type":"journal-article","created":null,"page":"265-269","source":"CrossRef","title":["A
        PRACTICAL METHOD OF CALIBRATING SHORT RANGE EDM INSTRUMENTS"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1179","volume":"22","author":[{"affiliation":[],"family":"Obenson","given":"Gabriel"}],"member":"http:\/\/id.crossref.org\/member\/138","container-title":["Survey
        Review"],"deposited":{"date-parts":[[2015,4,9]],"date-time":"2015-04-09T00:00:00Z","timestamp":1428537600000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[1974,4,1]]},"alternative-id":["0039-6265(19740401)22:172L.265;1-"],"URL":"http:\/\/dx.doi.org\/10.1179\/003962674791965448","ISSN":["0039-6265","1752-2706"]},{"indexed":{"date-parts":[[2015,7,15]],"date-time":"2015-07-15T19:07:38Z","timestamp":1436987258311},"reference-count":0,"publisher":"The
        Haworth Press","issue":"1","DOI":"10.1300\/j354v21n01_15","type":"journal-article","created":null,"page":"63-66","source":"CrossRef","title":["Respiratory
        Depression with Opioids"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1300","volume":"21","author":[{"affiliation":[],"family":"Dahan","given":"Albert"}],"member":"http:\/\/id.crossref.org\/member\/260","container-title":["Journal
        Of Pain & Palliative Care Pharmacotherapy","J. Of Pain & Palliative Care Pharmacotherapy","WPPC"],"deposited":{"date-parts":[[2015,4,9]],"date-time":"2015-04-09T00:00:00Z","timestamp":1428537600000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2007,3,19]]},"alternative-id":["902973871"],"URL":"http:\/\/dx.doi.org\/10.1300\/j354v21n01_15","ISSN":["1536-0288"]},{"indexed":{"date-parts":[[2015,12,22]],"date-time":"2015-12-22T20:38:35Z","timestamp":1450816715909},"reference-count":0,"publisher":"Oxford
        University Press (OUP)","published-print":{"date-parts":[[2015,2]]},"DOI":"10.1093\/med\/9780199363315.003.0072","type":"book-chapter","created":{"date-parts":[[2015,4,7]],"date-time":"2015-04-07T10:28:11Z","timestamp":1428402491000},"page":"549-553","source":"CrossRef","title":["Special
        Considerations in Older Adults with Cancer"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1093","author":[{"affiliation":[],"family":"Wiesel","given":"Talia
        Weiss"},{"affiliation":[],"family":"Alici","given":"Yesne"}],"member":"http:\/[...]
