---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-update-date:2015-04-07,until-update-date:2015-04-08&sample=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":20,"items":[{"indexed":{"date-parts":[[2015,12,20]],"date-time":"2015-12-20T13:26:06Z","timestamp":1450617966158},"reference-count":8,"publisher":"Elsevier
        BV","license":[{"content-version":"tdm","delay-in-days":0,"start":{"date-parts":[[2014,1,1]],"date-time":"2014-01-01T00:00:00Z","timestamp":1388534400000},"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"content-version":"vor","delay-in-days":349,"start":{"date-parts":[[2014,12,16]],"date-time":"2014-12-16T00:00:00Z","timestamp":1418688000000},"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0\/"}],"published-print":{"date-parts":[[2014]]},"DOI":"10.1016\/j.proeng.2014.11.094","type":"journal-article","created":{"date-parts":[[2014,12,17]],"date-time":"2014-12-17T01:47:21Z","timestamp":1418780841000},"page":"748-757","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"CrossRef","title":["Buckling
        Analysis of Rectangular Functionally Graded Material Plates under Uniaxial
        and Biaxial Compression Load"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","volume":"86","author":[{"affiliation":[],"family":"Ramu","given":"I."},{"affiliation":[],"family":"Mohanty","given":"S.C."}],"member":"http:\/\/id.crossref.org\/member\/78","container-title":["Procedia
        Engineering"],"link":[{"intended-application":"text-mining","content-version":"vor","content-type":"text\/xml","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S1877705814020530?httpAccept=text\/xml"},{"intended-application":"text-mining","content-version":"vor","content-type":"text\/plain","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S1877705814020530?httpAccept=text\/plain"}],"deposited":{"date-parts":[[2015,4,8]],"date-time":"2015-04-08T14:54:23Z","timestamp":1428504863000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2014]]},"alternative-id":["S1877705814020530"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.proeng.2014.11.094","ISSN":["1877-7058"],"subject":["Engineering(all)"],"assertion":[{"label":"This
        article is maintained by","name":"publisher","value":"Elsevier"},{"label":"Article
        Title","name":"articletitle","value":"Buckling Analysis of Rectangular Functionally
        Graded Material Plates under Uniaxial and Biaxial Compression Load"},{"label":"Journal
        Title","name":"journaltitle","value":"Procedia Engineering"},{"label":"CrossRef
        DOI link to publisher maintained version","name":"articlelink","value":"http:\/\/dx.doi.org\/10.1016\/j.proeng.2014.11.094"},{"label":"Content
        Type","name":"content_type","value":[...]
