---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-update-date:2015-04-07,until-update-date:2015-04-08&sample=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":20,"items":[{"subtitle":[],"subject":["Physics
        and Astronomy (miscellaneous)"],"license":[{"content-version":"vor","delay-in-days":5,"start":{"date-parts":[[2000,3,6]],"timestamp":952300800000},"URL":"http:\/\/link.aps.org\/licenses\/aps-default-license"}],"issued":{"date-parts":[[2000,3]]},"link":[{"intended-application":"syndication","content-version":"vor","content-type":"unspecified","URL":"http:\/\/link.aps.org\/article\/10.1103\/PhysRevD.61.077902"}],"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1103","author":[{"affiliation":[],"family":"Carter","given":"G.
        W."},{"affiliation":[],"family":"Jackson","given":"A. D."}],"container-title":["Physical
        Review D","Phys. Rev. D"],"reference-count":8,"deposited":{"date-parts":[[2015,4,7]],"timestamp":1428364800000},"issue":"7","title":["Finding
        the pion in the chiral random matrix vacuum"],"type":"journal-article","DOI":"10.1103\/physrevd.61.077902","ISSN":["0556-2821","1089-4918"],"URL":"http:\/\/dx.doi.org\/10.1103\/physrevd.61.077902","source":"CrossRef","publisher":"American
        Physical Society (APS)","indexed":{"date-parts":[[2015,6,10]],"timestamp":1433909337869},"volume":"61","member":"http:\/\/id.crossref.org\/member\/16"},{"subtitle":[],"issued":{"date-parts":[[2001]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1109","author":[{"affiliation":[],"family":"Daizhan
        Cheng"},{"affiliation":[],"family":"Guowu Yang"}],"container-title":["Proceedings
        of the 40th IEEE Conference on Decision and Control (Cat. No.01CH37228)"],"reference-count":0,"deposited":{"date-parts":[[2015,4,9]],"timestamp":1428537600000},"title":["Linear
        symmetry of nonlinear systems"],"type":"proceedings-article","DOI":"10.1109\/.2001.981164","ISBN":["http:\/\/id.crossref.org\/isbn\/0-7803-7061-9"],"URL":"http:\/\/dx.doi.org\/10.1109\/.2001.981164","source":"CrossRef","publisher":"Institute
        of Electrical & Electronics Engineers (IEEE)","indexed":{"date-parts":[[2015,6,11]],"timestamp":1434049205329},"member":"http:\/\/id.crossref.org\/member\/263"},{"subtitle":[],"issued":{"date-parts":[[2015,3]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1007","update-policy":"http:\/\/dx.doi.org\/10.1007\/springer_crossmark_policy","author":[{"affiliation":[],"family":"Margraf","given":"Marian"},{"affiliation":[],"family":"Pfeiffer","given":"Stefan"}],"container-title":["Datenschutz
        Datensich","Datenschutz und Datensicherheit - DuD"],"reference-count":14,"page":"246-249","deposited":{"date-parts":[[2015,4,8]],"timestamp":1428451200000},"issue":"4","title":["Benutzerzentrierte
        Entwicklung f\u00fcr das Internet der Dinge"],"alternative-id":["404"],"type":"journal-article","DOI":"10.1007\/s11623-015-0404-x","ISSN":["1614-0702","1862-2607"],"URL":"http:\/\/dx.doi.org\/10.1007\/s11623-015-0404-x","source":"CrossRef","publisher":"Springer
        Science + Business Media","indexed":{"date-parts":[[2015,6,10]],"timestamp":1433924067299},"volume":"39","member":"http:\/\/id.crossref.org\/member\/297"},{"subtitle":[],"subject":["Clinical
        Neurology","Physiology (medical)","Neurology"],"license":[{"content-version":"tdm","delay-in-days":0,"start":{"date-parts":[[2015,5,1]],"timestamp":1430438400000},"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"issued":{"date-parts":[[2015,5]]},"link":[{"intended-application":"text-mining","content-version":"vor","content-type":"text\/xml","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0967586814006833?httpAccept=text\/xml"},{"intended-application":"text-mining","content-version":"vor","content-type":"text\/plain","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0967586814006833?httpAccept=text\/plain"}],"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","author":[{"affiliation":[],"family":"Verla","given":"Terence","ORCID":"http:\/\/orcid.org\/0000-0003-4887-8798"},{"affiliation":[],"family":"Marky","given":"Andrew"},{"affiliation":[],"family":"Farber","given":"Harrison"},{"affiliation":[],"family":"Petraglia","given":"Frank
        W.","suffix":"III"},{"affiliation":[],"family":"Gallis","given":"John"},{"affiliation":[],"family":"Lokhnygina","given":"Yuliya"},{"affiliation":[],"family":"Parente","given":"Beth"},{"affiliation":[],"family":"Hickey","given":"Patrick"},{"affiliation":[],"family":"Turner","given":"Dennis
        A."},{"affiliation":[],"family":"Lad","given":"Shivanand P."}],"container-title":["Journal
        of Clinical Neuroscience"],"reference-count":35,"page":"872-876","deposited":{"date-parts":[[2015,4,9]],"timestamp":1428537600000},"issue":"5","funder":[{"award":[],"name":"USA
        National Center"}],"title":["Impact of advancing age on post-operative complications
        of deep brain stimulation surgery for essential tremor"],"assertion":[{"label":"This
        article is maintained by","name":"publisher","value":"Elsevier"},{"label":"Article
        Title","name":"articletitle","value":"Impact of advancing age on post-operative
        complications of deep brain stimulation surgery for essential tremor"},{"label":"Journal
        Title","name":"journaltitle","value":"Journal of Clinical Neuroscience"},{"label":"CrossRef
        DOI link to publisher maintained version","name":"articlelink","value":"http:\/\/dx.doi.org\/10.1016\/j.jocn.2014.11.005"},{"label":"Content
        Type","name":"content_type",[...]
