defaults: &defaults
  pool: 5
  timeout: 5000
  database: lagotto_<%= Rails.env %>
  adapter: mysql2
  username: root
  password:

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
