development:
  useragent: Article Metrics
  hostname: http://dev.alm.example.org 

test:
  useragent: Article Metrics
  hostname: http://test.alm.example.org 

stage:
  useragent: Article Metrics
  hostname: http://stage.alm.example.org 
  
production:
  useragent: Article Metrics
  hostname: http://alm.example.org 


