<p>This is the ALM article statistics report, generated <%= Time.zone.now.to_formatted_s(:long) %> UTC.</p>

<p><%= number_with_delimiter(@articles_count) %> Articles<br/>

<p><%= link_to "Download report", "#{CONFIG[:public_server]}/files/alm_report.zip" %></p>
