<p>Some workers are missing at <%= Time.zone.now.to_formatted_s(:long) %> UTC:</p>

<p>Expected <%= pluralize(CONFIG[:workers], 'worker') %>, but only <%= pluralize(@workers_count, 'worker') %> running.</p>

<p><%= link_to "Go to admin dashboard", admin_root_url(:host => CONFIG[:public_server]) %></p>
