<p>This is the Lagotto work statistics report, generated <%= Time.zone.now.to_formatted_s(:long) %> UTC.</p>

<p><%= number_with_delimiter(@status.works_count) %> Works<br/>

<p>The report is available for download from <%= link_to "Zenodo", ENV['ZENODO_URL'] %>.</p>
