<p>This is the daily ALM report.</p>

<% unless @reviews.empty? -%>
<p><% @reviews.each do |review| -%>
<%= review.message %><br/>
<% end -%></p>
<% else -%>
<p>No review found.</p>
<% end -%>

<p>See all alerts: <%= admin_alerts_url %></p>
