<p>A fatal error has occured at <%= Time.zone.now.to_formatted_s(:long) %> UTC:</p>

<p><%= @message %></p>

<p><%= link_to "Go to admin dashboard", notifications_url(host: ENV['SERVERNAME'], level: "fatal") %></p>
