---
http_interactions:
- request:
    method: get
    uri: http://www.pubmedcentral.nih.gov/utils/idconv/v1.0/?email=info@example.org&format=json&ids=25104065&idtype=pmid&tool=Lagotto%204.1.1%20-%20http://lagotto-master.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "ok",
         "responseDate": "2015-07-06 16:04:25",
         "request": "email=info%40example.org;format=json;ids=25104065;idtype=pmid;tool=Lagotto%204.1.1%20-%20http%3A%2F%2Flagotto-master.local",
         "records": [
           {
            "pmcid": "PMC4125989",
            "pmid": "25104065",
            "doi": "10.1038/srep05994",
            "versions": [
              {
               "pmcid": "PMC4125989.1",
               "current": "true"
              }
            ]
           }
         ]
        }
  recorded_at: Mon, 06 Jul 2015 20:04:25 GMT
[...]
- request:
    method: get
    uri: http://www.pubmedcentral.nih.gov/utils/idconv/v1.0/?email=info@example.org&format=json&ids=24141493&idtype=pmid&tool=Lagotto%204.1.1%20-%20http://lagotto-master.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "ok",
         "responseDate": "2015-07-06 16:04:26",
         "request": "email=info%40example.org;format=json;ids=24141493;idtype=pmid;tool=Lagotto%204.1.1%20-%20http%3A%2F%2Flagotto-master.local",
         "records": [
           {
            "pmcid": "PMC4022966",
            "pmid": "24141493",
            "doi": "10.1038/nmeth.2694",
            "versions": [
              {
               "pmcid": "PMC4022966.1",
               "mid": "NIHMS570678",
               "current": "true"
              }
            ]
           }
         ]
        }
  recorded_at: Mon, 06 Jul 2015 20:04:26 GMT
[...]
- request:
    method: get
    uri: http://www.pubmedcentral.nih.gov/utils/idconv/v1.0/?email=info@example.org&format=json&ids=23284297&idtype=pmid&tool=Lagotto%204.1.1%20-%20http://lagotto-master.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "ok",
         "responseDate": "2015-07-06 16:04:32",
         "request": "email=info%40example.org;format=json;ids=23284297;idtype=pmid;tool=Lagotto%204.1.1%20-%20http%3A%2F%2Flagotto-master.local",
         "records": [
           {
            "pmcid": "PMC3527207",
            "pmid": "23284297",
            "doi": "10.1371/journal.pgen.1003129",
            "versions": [
              {
               "pmcid": "PMC3527207.1",
               "current": "true"
              }
            ]
           }
         ]
        }
  recorded_at: Mon, 06 Jul 2015 20:04:32 GMT
recorded_with: VCR 2.9.3
