---
http_interactions:
- request:
    method: get
    uri: http://www.pubmedcentral.nih.gov/utils/idconv/v1.0/?email=info@example.org&format=json&ids=25104065&idtype=pmid&tool=Lagotto%20-%20http://lagotto-4-4-unstable.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: ''
    headers:
      Location:
      - http://www.ncbi.nlm.nih.gov/pmc/utils/idconv/v1.0/?email=info%2540example.org&format=json&ids=25104065&idtype=pmid&tool=Lagotto+-+http%253A%252F%252Flagotto-4-4-unstable.local
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="http://www.ncbi.nlm.nih.gov/pmc/utils/idconv/v1.0/?email=info%2540example.org&amp;format=json&amp;ids=25104065&amp;idtype=pmid&amp;tool=Lagotto+-+http%253A%252F%252Flagotto-4-4-unstable.local">here</a>.</p>
        </body></html>
  recorded_at: Sun, 23 Aug 2015 18:59:28 GMT
- request:
    method: get
    uri: http://www.ncbi.nlm.nih.gov/pmc/utils/idconv/v1.0/?email=info%2540example.org&format=json&ids=25104065&idtype=pmid&tool=Lagotto%20-%20http%253A%252F%252Flagotto-4-4-unstable.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "ok",
         "responseDate": "2015-08-23 14:59:25",
         "request": "email=info%2540example.org;format=json;ids=25104065;idtype=pmid;tool=Lagotto%20-%20http%253A%252F%252Flagotto-4-4-unstable.local",
         "records": [
           {
            "pmcid": "PMC4125989",
            "pmid": "25104065",
            "doi": "10.1038/srep05994",
            "versions": [
              {
               "pmcid": "PMC4125989.1",
               "current": "true"
              }
            ]
           }
         ]
        }
  recorded_at: Sun, 23 Aug 2015 18:59:28 GMT
[...]
- request:
    method: get
    uri: http://www.ncbi.nlm.nih.gov/pmc/utils/idconv/v1.0/?email=info%2540example.org&format=json&ids=24141493&idtype=pmid&tool=Lagotto%20-%20http%253A%252F%252Flagotto-4-4-unstable.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "ok",
         "responseDate": "2015-08-23 14:59:26",
         "request": "email=info%2540example.org;format=json;ids=24141493;idtype=pmid;tool=Lagotto%20-%20http%253A%252F%252Flagotto-4-4-unstable.local",
         "records": [
           {
            "pmcid": "PMC4022966",
            "pmid": "24141493",
            "doi": "10.1038/nmeth.2694",
            "versions": [
              {
               "pmcid": "PMC4022966.1",
               "mid": "NIHMS570678",
               "current": "true"
              }
            ]
           }
         ]
        }
  recorded_at: Sun, 23 Aug 2015 18:59:29 GMT
[...]
- request:
    method: get
    uri: http://www.ncbi.nlm.nih.gov/pmc/utils/idconv/v1.0/?email=info%2540example.org&format=json&ids=23284297&idtype=pmid&tool=Lagotto%20-%20http%253A%252F%252Flagotto-4-4-unstable.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "ok",
         "responseDate": "2015-08-23 14:59:30",
         "request": "email=info%2540example.org;format=json;ids=23284297;idtype=pmid;tool=Lagotto%20-%20http%253A%252F%252Flagotto-4-4-unstable.local",
         "records": [
           {
            "pmcid": "PMC3527207",
            "pmid": "23284297",
            "doi": "10.1371/journal.pgen.1003129",
            "versions": [
              {
               "pmcid": "PMC3527207.1",
               "current": "true"
              }
            ]
           }
         ]
        }
  recorded_at: Sun, 23 Aug 2015 18:59:34 GMT
recorded_with: VCR 2.9.3
