---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&list=search&srinfo=totalhits&srlimit=1&srnamespace=0&srprop=timestamp&srsearch=%2210.1371/journal.pone.0044271%22%20OR%20%22http://www.plosone.org/article/info:doi/10.1371/journal.pone.0000023%22&srwhat=text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=hhvm
    body:
      encoding: UTF-8
      string: '{"query-continue":{"search":{"sroffset":1}},"warnings":{"query":{"*":"Formatting
        of continuation data will be changing soon. To continue using the current
        formatting, use the ''rawcontinue'' parameter. To begin using the new format,
        pass an empty string for ''continue'' in the initial query."}},"query":{"searchinfo":{"totalhits":2},"search":[{"ns":0,"title":"Lesula","timestamp":"2014-05-24T12:54:07Z"}]}}'
  recorded_at: Thu, 01 Jan 2015 16:59:54 GMT
- request:
    method: get
    uri: http://commons.wikimedia.org/w/api.php?action=query&format=json&list=search&srinfo=totalhits&srlimit=1&srnamespace=6&srprop=timestamp&srsearch=%2210.1371/journal.pone.0044271%22%20OR%20%22http://www.plosone.org/article/info:doi/10.1371/journal.pone.0000023%22&srwhat=text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - php=hhvm
    body:
      encoding: UTF-8
      string: '{"query-continue":{"search":{"sroffset":1}},"warnings":{"query":{"*":"Formatting
        of continuation data will be changing soon. To continue using the current
        formatting, use the ''rawcontinue'' parameter. To begin using the new format,
        pass an empty string for ''continue'' in the initial query."}},"query":{"searchinfo":{"totalhits":8},"search":[{"ns":6,"title":"File:Cercopithecus
        lomamiensis Female.jpg","timestamp":"2013-08-29T21:27:22Z"}]}}'
  recorded_at: Thu, 01 Jan 2015 17:00:00 GMT
recorded_with: VCR 2.9.3
