<div class="content">
  <div class="page-header">
    <h1>Administration</h1>
  </div>

  <ul class="nav nav-tabs" id="admin-nav">
    <%= render :partial => 'admin/navigation' %> 
  </ul>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Errors in the last 24 hours</th>
      </tr>
    </thead>
    <tbody>
      <% @sources.each do|source| %>
        <tr>
          <td><%= link_to h(source.display_name), admin_source_path(source) %></td>
          <td><%= status_label(source).html_safe %></td>
          <td><%= source.retrieval_histories.with_errors(1).count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>