---
http_interactions:
- request:
    method: get
    uri: http://www.pubmedcentral.nih.gov/utils/idconv/v1.0/?email=info@example.org&format=json&ids=10.1371/journal.pone.0000030&idtype=doi&tool=Lagotto%204.2%20-%20http://lagotto-4-2-unstable.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "ok",
         "responseDate": "2015-06-07 11:52:14",
         "request": "email=info%40example.org;format=json;ids=10.1371%2Fjournal.pone.0000030;idtype=doi;tool=Lagotto%204.2%20-%20http%3A%2F%2Flagotto-4-2-unstable.local",
         "records": [
           {
            "pmcid": "PMC1762313",
            "pmid": "17183658",
            "doi": "10.1371/journal.pone.0000030",
            "versions": [
              {
               "pmcid": "PMC1762313.1",
               "current": "true"
              }
            ]
           }
         ]
        }
  recorded_at: Sun, 07 Jun 2015 15:37:24 GMT
recorded_with: VCR 2.9.3
