---
http_interactions:
- request:
    method: get
    uri: http://www.pubmedcentral.nih.gov/utils/idconv/v1.0/?format=json&ids=10.1371/journal.pone.0000030&idtype=doi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "ok",
         "responseDate": "2015-01-01 08:24:42",
         "request": "format=json;ids=10.1371%2Fjournal.pone.0000030;idtype=doi",
         "warning": "no e-mail provided; no tool provided",
         "records": [
           {
            "pmcid": "PMC1762313",
            "pmid": "17183658",
            "doi": "10.1371/journal.pone.0000030",
            "versions": [
              {
               "pmcid": "PMC1762313.1",
               "current": "true"
              }
            ]
           }
         ]
        }
  recorded_at: Thu, 01 Jan 2015 13:23:34 GMT
recorded_with: VCR 2.9.3
