---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=has-orcid:true,from-update-date:1999-04-05,until-update-date:1999-04-05&offset=0&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":0,"items":[],"total-results":0,"facets":{}}}'
  recorded_at: Tue, 26 Apr 2016 18:54:13 GMT
recorded_with: VCR 2.9.3
