---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=has-orcid:true,from-update-date:2015-04-07,until-update-date:2015-04-08&sample=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":20,"items":[{"indexed":{"date-parts":[[2015,12,20]],"date-time":"2015-12-20T12:02:54Z","timestamp":1450612974149},"reference-count":31,"publisher":"Elsevier
        BV","license":[{"content-version":"tdm","delay-in-days":0,"start":{"date-parts":[[2015,6,1]],"date-time":"2015-06-01T00:00:00Z","timestamp":1433116800000},"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"funder":[{"award":[],"name":"National
        University of Sciences and Technology"}],"published-print":{"date-parts":[[2015,6]]},"DOI":"10.1016\/j.memsci.2015.02.011","type":"journal-article","created":{"date-parts":[[2015,3,3]],"date-time":"2015-03-03T18:34:39Z","timestamp":1425407679000},"page":"75-83","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"CrossRef","title":["Membrane
        biofouling retardation and improved sludge characteristics using quorum quenching
        bacteria in submerged membrane bioreactor"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","volume":"483","author":[{"affiliation":[],"family":"Maqbool","given":"Tahir"},{"affiliation":[],"family":"Khan","given":"Sher
        Jamal","ORCID":"http:\/\/orcid.org\/0000-0003-2832-638X"},{"affiliation":[],"family":"Waheed","given":"Hira"},{"affiliation":[],"family":"Lee","given":"Chung-Hak"},{"affiliation":[],"family":"Hashmi","given":"Imran"},{"affiliation":[],"family":"Iqbal","given":"Hamid"}],"member":"http:\/\/id.crossref.org\/member\/78","container-title":["Journal
        of Membrane Science"],"link":[{"intended-application":"text-mining","content-version":"vor","content-type":"text\/xml","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0376738815001088?httpAccept=text\/xml"},{"intended-application":"text-mining","content-version":"vor","content-type":"text\/plain","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0376738815001088?httpAccept=text\/plain"}],"deposited":{"date-parts":[[2015,4,7]],"date-time":"2015-04-07T15:25:58Z","timestamp":1428420358000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2015,6]]},"alternative-id":["S0376738815001088"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.memsci.2015.02.011","ISSN":["0376-7388"],"subject":["Physical
        and Theoretical Chemistry","Filtration and Separation","Materials Science(all)","Biochemistry"],"assertion":[{"label":"This
        article is maintained by","name":"publisher","value":"Elsevier"},{"label":"Article
        Title","name":"articletitle","value":"Membrane biofouling retardation and
        improved sludge characteristics using quorum quenching bacteria in submerged
        membrane bioreactor"},{"label":"Journal Title","name":"journaltitle","value":"Journal
        of Membrane Science"},{"label":"CrossRef DOI link to publisher maintained
        version","name":"articlelink","value":"http:\/\/dx.doi.org\/10.1016\/j.memsci.2015.02.011"},{"label":"Content
        Type","name":"content_type","value":"article"},{"label":"Copyright","name":"copyright","value":"Copyright
        \u00a9 2015 Elsevier B.V. All rights reserved."}]},{"indexed":{"date-parts":[[2015,12,20]],"date-time":"2015-12-20T13:16:10Z","timestamp":1450617370307},"reference-count":31,"publisher":"Elsevier
        BV","issue":"1","license":[{"content-version":"tdm","delay-in-days":0,"start":{"date-parts":[[2015,1,1]],"date-time":"2015-01-01T00:00:00Z","timestamp":1420070400000},"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"content-version":"vor","delay-in-days":0,"start":{"date-parts":[[2014,9,1]],"date-time":"2014-09-01T00:00:00Z","timestamp":1409529600000},"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0\/"}],"published-print":{"date-parts":[[2015,1]]},"DOI":"10.1016\/j.sjdr.2014.06.002"[...]
