---
http_interactions:
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1371/journal.pone.0036790
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1371/journal.pone.0036790",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sat, 06 Feb 2016 23:08:43 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1371%2Fjournal.pone.0036790
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Cascade:
      - pass
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE html>
        <html>
        <head>
          <style type="text/css">
          body { text-align:center;font-family:helvetica,arial;font-size:22px;
            color:#888;margin:20px}
          #c {margin:0 auto;width:500px;text-align:left}
          </style>
        </head>
        <body>
          <h2>Sinatra doesn&rsquo;t know this ditty.</h2>
          <img src='http://api.crossref.org/__sinatra__/404.png'>
          <div id="c">
            Try this:
            <pre>get '/works/10.1371%2Fjournal.pone.0036790' do
          "Hello World"
        end</pre>
          </div>
        </body>
        </html>
  recorded_at: Sat, 06 Feb 2016 23:08:44 GMT
recorded_with: VCR 2.9.3
