---
http_interactions:
- request:
    method: get
    uri: http://www.pubmedcentral.nih.gov/utils/idconv/v1.0/?email=info@example.org&format=json&ids=25688565&idtype=pmcid&tool=Lagotto%204.0-unstable%20-%20http://lagotto-4-0-unstable.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "ok",
         "responseDate": "2015-04-10 02:36:42",
         "request": "email=info%40example.org;format=json;ids=25688565;idtype=pmcid;tool=Lagotto%204.0-unstable%20-%20http%3A%2F%2Flagotto-4-0-unstable.local",
         "records": [
           {
            "pmcid": "PMC25688565",
            "live": "false",
            "status": "error",
            "errmsg": "invalid article id"
           }
         ]
        }
  recorded_at: Fri, 10 Apr 2015 06:36:42 GMT
recorded_with: VCR 2.9.3
