---
http_interactions:
- request:
    method: get
    uri: http://pub.orcid.org/v1.2/search/orcid-bio/?q=digital-object-ids:%2210.1371/journal.pone.0044294%22&rows=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message-version":"1.2","orcid-profile":null,"orcid-search-results":{"orcid-search-result":[],"num-found":0},"error-desc":null}'
  recorded_at: Tue, 14 Jul 2015 14:19:14 GMT
recorded_with: VCR 2.9.3
