<div class="header" id="navtop">
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="http://eventdata.crossref.org"><img src="https://assets.crossref.org/logo/crossref-event-data-logo-200.svg" width="150" height="125" alt="Crossref Event Data" class="crossref-logo"></a>
      </div>
      <div class="navbar-collapse collapse">
        <% unless ["sessions","registrations"].include?(controller.controller_name) %>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="account_menu_link"><%= current_user.name %> <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to "#{icon('user')} Your Account".html_safe, user_path("me") %></li>
                  <li class="divider"></li>
                  <li><%= link_to "#{icon('sign-out')} Sign Out".html_safe, destroy_user_session_path, :method => :delete, :id => "sign_out" %></li>
                </ul>
              </li>
            <% else %>
              <li><%= login_link %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
