---
http_interactions:
- request:
    method: get
    uri: http://www.pubmedcentral.nih.gov/utils/idconv/v1.0/?email=info@example.org&format=json&ids=10.1371/journal.pone.0000030x&idtype=doi&tool=Lagotto%20-%20http://lagotto-4-4-unstable.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: ''
    headers:
      Location:
      - http://www.ncbi.nlm.nih.gov/pmc/utils/idconv/v1.0/?email=info%40example.org&format=json&ids=10.1371%2Fjournal.pone.0000030x&idtype=doi&tool=Lagotto+-+http%3A%2F%2Flagotto-4-4-unstable.local
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="http://www.ncbi.nlm.nih.gov/pmc/utils/idconv/v1.0/?email=info%40example.org&amp;format=json&amp;ids=10.1371%2Fjournal.pone.0000030x&amp;idtype=doi&amp;tool=Lagotto+-+http%3A%2F%2Flagotto-4-4-unstable.local">here</a>.</p>
        </body></html>
  recorded_at: Sat, 03 Oct 2015 10:17:37 GMT
- request:
    method: get
    uri: http://www.ncbi.nlm.nih.gov/pmc/utils/idconv/v1.0/?email=info@example.org&format=json&ids=10.1371/journal.pone.0000030x&idtype=doi&tool=Lagotto%20-%20http://lagotto-4-4-unstable.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "ok",
         "responseDate": "2015-10-03 06:17:37",
         "request": "email=info%40example.org;format=json;ids=10.1371%2Fjournal.pone.0000030x;idtype=doi;tool=Lagotto%20-%20http%3A%2F%2Flagotto-4-4-unstable.local",
         "records": [
           {
            "doi": "10.1371/journal.pone.0000030x",
            "live": "false",
            "status": "error",
            "errmsg": "invalid article id"
           }
         ]
        }
  recorded_at: Sat, 03 Oct 2015 10:17:37 GMT
recorded_with: VCR 2.9.3
