<div class="content">
  <div class="page-header">
    <h1 id="api_key" data-api_key="<%= ENV['API_KEY'] %>">Status <small id="update_date"><%= date_from_iso8601(@status.update_date) + ' UTC' %></small></h1>
  </div>

  <ul class="nav nav-tabs" id="nav_index">
    <li class="active"><a href="#summary" data-toggle="tab" title="Summary">Summary</a></li>
    <% if can?(:read, Alert) %>
      <li><a href="#workers" data-toggle="tab" title="Workers">Workers</a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="summary">
      <%= render :partial => 'summary' %>
    </div>

    <% if can?(:read, Alert) %>
      <div class="tab-pane" id="workers">
        <%= render :partial => 'workers' %>
      </div>
    <% end %>
  </div>
</div>
