---
http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?fl=id,publication_date,title,cross_published_journal_name,author_display&fq=doc_type:full&q=everything:%22https://github.com/pymor/pymor%22&rows=1000&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Last-Modified:
      - Wed, 16 Mar 2016 07:59:35 GMT
      Etag:
      - '"ZGJhZDk4MDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":0,"start":0,"docs":[]}}
  recorded_at: Wed, 16 Mar 2016 08:23:53 GMT
recorded_with: VCR 2.9.3
