<div class="content">
  <div class="page-header">
    <h1><%= link_to "Jobs", admin_delayed_jobs_path %></h1>
  </div>

  <p>Number of background jobs, stale and queued articles.</p>

  <div id="delayed_jobs">
    <%= render :partial => 'index' %>
 </div>
</div>
