<% if can?(:read, Alert) %>
  <div class="visible-phone">
    <dt>Status</dt>
    <dd><%= h(@source.state) %></dd>
  </div>
<% end %>
<% unless @source.group.blank? %>
  <dt>Group</dt>
  <dd><%= h(@source.group.name) %></dd>
<% end %>
<% unless @source.description.blank? %>
  <dt>Description</dt>
  <dd><%= h(@source.description) %></dd>
<% end %>
