<div class="row">
    <div class="span9">
      <div class="markdown">
        <%= markdown @doc[:text] %>
      </div>
    </div>
    <div class="span2">
      <div class="sidebar-nav-fixed-lower visible-desktop">
        <ul class="nav nav-list">
          <li class="nav-header">Documentation</li>
          <% documents.each do|document| %>
            <li><%= link_to h(document.tr('-', ' ')), doc_path(document) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
