<% unless @source.retrieval_statuses.most_cited.empty? %>
  <div class="pull-right">
    <%= link_to image_tag("feed-icon-28x28.png"), source_path(@source, format: "rss") %>
  </div>
  <% @source.retrieval_statuses.most_cited.each do |retrieval_status| %>
    <h4 class="article"><%= link_to retrieval_status.article.title, retrieval_status.article %></h4>
    <%= retrieval_status.article.published_on.to_s(:long) %> - <%= pluralize retrieval_status.event_count, "event" %>
  <% end %>
<% else %>
  <div class="alert alert-info">No articles have been cited by this source</div>
<% end %>