<h1 id="api_key" data-name="<%= @source.name %>" data-api_key="<%= CONFIG[:api_key] %>" data-page="" data-q="" data-class_name="" data-order="<%= @source.name %>">
  <%= h(@source.display_name) %> <small id="update_date"></small>
</h1>