<div class="<%= pane %>" id="documentation">
  <%= render :partial => 'admin/sources/documentation' %>
</div>

<div class="tab-pane" id="most-cited">
  <%= render :partial => 'admin/sources/most-cited' %>
</div>
