---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.7554
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"daf85afdb45f3c2713bc7e75916ba82a"
      Status:
      - 200 OK
      X-Ratelimit-Limit-Hour:
      - '10000'
      X-Ratelimit-Remaining-Hour:
      - '9999'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.7554","type":"prefixes","attributes":{"registration-agency":"Crossref","updated":"2016-09-21T21:07:27Z"}}}'
  recorded_at: Sun, 12 Mar 2017 11:04:28 GMT
recorded_with: VCR 2.9.3
