---
http_interactions:
- request:
    method: get
    uri: http://search.openedition.org/feed.php?field%5B%5D=All&op%5B%5D=AND&pf=Hypotheses.org&q%5B%5D=10.1371/journal.pone.0000001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Backend:
      - calenda2
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rdf:RDF \n xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"\n
        xmlns=\"http://purl.org/rss/1.0/\"\n xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\n
        xmlns:dcterms=\"http://purl.org/dc/terms/\"\n>\n  <channel rdf:about=\"http%3A%2F%2Fsearch.openedition.org%2Ffeed.php%3Ffield%255B%255D%3DAll%26op%255B%255D%3DAND%26pf%3DHypotheses.org%26q%255B%255D%3D10.1371%252Fjournal.pone.0000001\">\n
        \   <title>10.1371/journal.pone.0000001 - Recherche OpenEdition</title>\n
        \   <description>Flux RSS de votre recherche: 10.1371/journal.pone.0000001</description>\n
        \   <link>http://search.openedition.org</link>\n    <items>\n      <rdf:Seq>\n
        \     </rdf:Seq>\n    </items>\n  </channel>\n\n\n</rdf:RDF>\n\n"
  recorded_at: Thu, 01 Jan 2015 17:08:48 GMT
recorded_with: VCR 2.9.3
