---
http_interactions:
- request:
    method: get
    uri: http://search.openedition.org/feed.php?field%5B%5D=All&op%5B%5D=AND&pf=Hypotheses.org&q%5B%5D=%22http://www.plosone.org/article/info:doi/10.1371/journal.pone.00000104%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
      X-Backend:
      - calenda1
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rdf:RDF \n xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"\n
        xmlns=\"http://purl.org/rss/1.0/\"\n xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\n
        xmlns:dcterms=\"http://purl.org/dc/terms/\"\n>\n  <channel rdf:about=\"http%3A%2F%2Fsearch.openedition.org%3A80%2Ffeed.php%3Ffield%255B%255D%3DAll%26op%255B%255D%3DAND%26pf%3DHypotheses.org%26q%255B%255D%3D%2522http%253A%252F%252Fwww.plosone.org%252Farticle%252Finfo%253Adoi%252F10.1371%252Fjournal.pone.00000104%2522\">\n
        \   <title>&quot;http://www.plosone.org/article/info:doi/10.1371/journal.pone.00000104&quot;
        - Recherche OpenEdition</title>\n    <description>Flux RSS de votre recherche:
        &quot;http://www.plosone.org/article/info:doi/10.1371/journal.pone.00000104&quot;</description>\n
        \   <link>http://search.openedition.org:80</link>\n    <items>\n      <rdf:Seq>\n
        \     </rdf:Seq>\n    </items>\n  </channel>\n\n\n</rdf:RDF>\n\n"
  recorded_at: Sun, 22 Mar 2015 14:47:52 GMT
recorded_with: VCR 2.9.3
