---
http_interactions:
- request:
    method: get
    uri: http://pub.orcid.org/v1.2/0000-0002-0159-2197/orcid-bio
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message-version":"1.2","orcid-profile":{"orcid":null,"orcid-id":null,"orcid-identifier":{"value":null,"uri":"http://orcid.org/0000-0002-0159-2197","path":"0000-0002-0159-2197","host":"orcid.org"},"orcid-deprecated":null,"orcid-preferences":{"locale":"EN"},"orcid-history":{"creation-method":"WEBSITE","completion-date":{"value":1350431231944},"submission-date":{"value":1350426975660},"last-modified-date":{"value":1461594632188},"claimed":{"value":true},"source":null,"deactivation-date":null,"verified-email":{"value":true},"verified-primary-email":{"value":true},"visibility":null},"orcid-bio":{"personal-details":{"given-names":{"value":"Jonathan
        A.","visibility":null},"family-name":{"value":"Eisen","visibility":null},"credit-name":null,"other-names":null},"biography":{"value":"","visibility":"PUBLIC"},"researcher-urls":{"researcher-url":[{"url-name":{"value":"microBEnet"},"url":{"value":"http://microBE.net"}},{"url-name":{"value":"Tree
        of Life Blog"},"url":{"value":"http://phylogenomics.blogspot.com"}},{"url-name":{"value":"Lab
        Page"},"url":{"value":"http://phylogenomics.wordpress.com"}},{"url-name":{"value":"Twitter"},"url":{"value":"http://twitter.com/phylogenomics"}},{"url-name":{"value":"Disclosures"},"url":{"value":"https://phylogenomics.wordpress.com/about/disclosures/"}}],"visibility":"PUBLIC"},"contact-details":null,"keywords":{"keyword":[{"value":"evolution,
        genomics, microbiology, ecology, microbial diversity, citizen science, "},{"value":"microbiomes,
        DNA repair, open science,"}],"visibility":"PUBLIC"},"external-identifiers":{"external-identifier":[{"orcid":null,"external-id-orcid":null,"external-id-common-name":{"value":"Loop
        profile"},"external-id-reference":{"value":"224690"},"external-id-url":{"value":"http://loop.frontiersin.org/people/224690/overview?referrer=orcid_profile"},"external-id-source":null,"source":{"source-orcid":null,"source-client-id":{"value":null,"uri":"http://orcid.org/client/APP-4DPEW6SVSNQHKC8G","path":"APP-4DPEW6SVSNQHKC8G","host":"orcid.org"},"source-name":{"value":"Loop"},"source-date":{"value":1452488714527}}},{"orcid":null,"external-id-orcid":null,"external-id-common-name":{"value":"Scopus
        Author ID"},"external-id-reference":{"value":"35247902700"},"external-id-url":{"value":"http://www.scopus.com/inward/authorDetails.url?authorID=35247902700&partnerID=MN8TOARS"},"external-id-source":null,"source":{"source-orcid":{"value":null,"uri":"http://orcid.org/0000-0002-5982-8983","path":"0000-0002-5982-8983","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"Scopus
        to ORCID"},"source-date":{"value":1364149242464}}}],"visibility":"PUBLIC"},"delegation":null,"scope":null},"orcid-activities":null,"orcid-internal":null,"type":"USER","group-type":null,"client-type":null},"orcid-search-results":null,"error-desc":null}'
  recorded_at: Tue, 26 Apr 2016 13:47:49 GMT
recorded_with: VCR 2.9.3
