---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/lagotto/lagotto
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1456168003'
      Last-Modified:
      - Fri, 19 Feb 2016 14:54:04 GMT
      Etag:
      - '"d86fa228b8781da76c0701d6d48617f7"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"id":4208139,"name":"lagotto","full_name":"lagotto/lagotto","owner":{"login":"lagotto","id":1696492,"avatar_url":"https://avatars.githubusercontent.com/u/1696492?v=3","gravatar_id":"","url":"https://api.github.com/users/lagotto","html_url":"https://github.com/lagotto","followers_url":"https://api.github.com/users/lagotto/followers","following_url":"https://api.github.com/users/lagotto/following{/other_user}","gists_url":"https://api.github.com/users/lagotto/gists{/gist_id}","starred_url":"https://api.github.com/users/lagotto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lagotto/subscriptions","organizations_url":"https://api.github.com/users/lagotto/orgs","repos_url":"https://api.github.com/users/lagotto/repos","events_url":"https://api.github.com/users/lagotto/events{/privacy}","received_events_url":"https://api.github.com/users/lagotto/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/lagotto/lagotto","description":"Tracking
        events around scholarly content","fork":false,"url":"https://api.github.com/repos/lagotto/lagotto","forks_url":"https://api.github.com/repos/lagotto/lagotto/forks","keys_url":"https://api.github.com/repos/lagotto/lagotto/keys{/key_id}","collaborators_url":"https://api.github.com/repos/lagotto/lagotto/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/lagotto/lagotto/teams","hooks_url":"https://api.github.com/repos/lagotto/lagotto/hooks","issue_events_url":"https://api.github.com/repos/lagotto/lagotto/issues/events{/number}","events_url":"https://api.github.com/repos/lagotto/lagotto/events","assignees_url":"https://api.github.com/repos/lagotto/lagotto/assignees{/user}","branches_url":"https://api.github.com/repos/lagotto/lagotto/branches{/branch}","tags_url":"https://api.github.com/repos/lagotto/lagotto/tags","blobs_url":"https://api.github.com/repos/lagotto/lagotto/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/lagotto/lagotto/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/lagotto/lagotto/git/refs{/sha}","trees_url":"https://api.github.com/repos/lagotto/lagotto/git/trees{/sha}","statuses_url":"https://api.github.com/repos/lagotto/lagotto/statuses/{sha}","languages_url":"https://api.github.com/repos/lagotto/lagotto/languages","stargazers_url":"https://api.github.com/repos/lagotto/lagotto/stargazers","contributors_url":"https://api.github.com/repos/lagotto/lagotto/contributors","subscribers_url":"https://api.github.com/repos/lagotto/lagotto/subscribers","subscription_url":"https://api.github.com/repos/lagotto/lagotto/subscription","commits_url":"https://api.github.com/repos/lagotto/lagotto/commits{/sha}","git_commits_url":"https://api.github.com/repos/lagotto/lagotto/git/commits{/sha}","comments_url":"https://api.github.com/repos/lagotto/lagotto/comments{/number}","issue_comment_url":"https://api.github.com/repos/lagotto/lagotto/issues/comments{/number}","contents_url":"https://api.github.com/repos/lagotto/lagotto/contents/{+path}","compare_url":"https://api.github.com/repos/lagotto/lagotto/compare/{base}...{head}","merges_url":"https://api.github.com/repos/lagotto/lagotto/merges","archive_url":"https://api.github.com/repos/lagotto/lagotto/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/lagotto/lagotto/downloads","issues_url":"https://api.github.com/repos/lagotto/lagotto/issues{/number}","pulls_url":"https://api.github.com/repos/lagotto/lagotto/pulls{/number}","milestones_url":"https://api.github.com/repos/lagotto/lagotto/milestones{/number}","notifications_url":"https://api.github.com/repos/lagotto/lagotto/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/lagotto/lagotto/labels{/name}","releases_url":"https://api.github.com/repos/lagotto/lagotto/releases{/id}","deployments_url":"https://api.github.com/repos/lagotto/lagotto/deployments","created_at":"2012-05-02T22:07:40Z","updated_at":"2016-02-19T14:54:04Z","pushed_at":"2016-02-22T10:03:13Z","git_url":"git://github.com/lagotto/lagotto.git","ssh_url":"git@github.com:lagotto/lagotto.git","clone_url":"https://github.com/lagotto/lagotto.git","svn_url":"https://github.com/lagotto/lagotto","homepage":"http://lagotto.io","size":68308,"stargazers_count":91,"watchers_count":91,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":17,"mirror_url":null,"open_issues_count":76,"forks":17,"open_issues":76,"watchers":91,"default_branch":"master","organization":{"login":"lagotto","id":1696492,"avatar_url":"https://avatars.githubusercontent.com/u/1696492?v=3","gravatar_id":"","url":"https://api.github.com/users/lagotto","html_url":"https://github.com/lagotto","followers_url":"https://api.github.com/users/lagotto/followers","following_url":"https://api.github.com/users/lagotto/following{/other_user}","gists_url":"https://api.github.com/users/lagotto/gists{/gist_id}","starred_url":"https://api.github.com/users/lagotto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lagotto/subscriptions","organizations_url":"https://api.github.com/users/lagotto/orgs","repos_url":"https://api.github.com/users/lagotto/repos","events_url":"https://api.github.com/users/lagotto/events{/privacy}","received_events_url":"https://api.github.com/users/lagotto/received_events","type":"Organization","site_admin":false},"network_count":17,"subscribers_count":41}'
  recorded_at: Mon, 22 Feb 2016 19:05:19 GMT
- request:
    method: get
    uri: https://api.github.com/users/lagotto
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1456168003'
      Last-Modified:
      - Sat, 18 Jul 2015 08:51:09 GMT
      Etag:
     [...]
