---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/lagotto/lagotto/releases/tags/v.4.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 070a96ef2444139f00b1b8b13cec6615da091c98
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4935'
      X-Ratelimit-Reset:
      - '1486823895'
      Etag:
      - '"b0b801a42beb1e906b8fe32071749b7a"'
      Last-Modified:
      - Mon, 20 Jul 2015 00:09:16 GMT
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/lagotto/lagotto/releases/1557733","assets_url":"https://api.github.com/repos/lagotto/lagotto/releases/1557733/assets","upload_url":"https://uploads.github.com/repos/lagotto/lagotto/releases/1557733/assets{?name,label}","html_url":"https://github.com/lagotto/lagotto/releases/tag/v.4.3","id":1557733,"tag_name":"v.4.3","target_commitish":"master","name":"Lagotto
        4.3","draft":false,"author":{"login":"mfenner","id":23151,"avatar_url":"https://avatars.githubusercontent.com/u/23151?v=3","gravatar_id":"","url":"https://api.github.com/users/mfenner","html_url":"https://github.com/mfenner","followers_url":"https://api.github.com/users/mfenner/followers","following_url":"https://api.github.com/users/mfenner/following{/other_user}","gists_url":"https://api.github.com/users/mfenner/gists{/gist_id}","starred_url":"https://api.github.com/users/mfenner/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mfenner/subscriptions","organizations_url":"https://api.github.com/users/mfenner/orgs","repos_url":"https://api.github.com/users/mfenner/repos","events_url":"https://api.github.com/users/mfenner/events{/privacy}","received_events_url":"https://api.github.com/users/mfenner/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2015-07-19T22:43:10Z","published_at":"2015-07-20T00:09:16Z","assets":[],"tarball_url":"https://api.github.com/repos/lagotto/lagotto/tarball/v.4.3","zipball_url":"https://api.github.com/repos/lagotto/lagotto/zipball/v.4.3","body":"Lagotto
        4.3 was released on July 20, 2015 with the following changes:\n- created snapshop
        of Lagotto JSON API responses for works, that is then automatically deposited
        in Zenodo ([#343](https://github.com/lagotto/lagotto/issues/343))\n- fixed
        failing rspec acceptance tests ([#380](https://github.com/lagotto/lagotto/issues/380))\n-
        added registration_agency check to some sources ([#381](ht[...]
- request:
    method: get
    uri: https://api.github.com/users/lagotto
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 070a96ef2444139f00b1b8b13cec6615da091c98
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4934'
      X-Ratelimit-Reset:
      - '1486823[...]
