---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1371%2Fjournal.pone.0000030
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2016,4,20]],"date-time":"2016-04-20T20:51:45Z","timestamp":1461185505107},"reference-count":0,"publisher":"Public
        Library of Science (PLoS)","issue":"1","license":[{"content-version":"vor","delay-in-days":0,"start":{"date-parts":[[2006,12,20]],"date-time":"2006-12-20T00:00:00Z","timestamp":1166572800000},"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"DOI":"10.1371\/journal.pone.0000030","type":"journal-article","created":{"date-parts":[[2006,12,20]],"date-time":"2006-12-20T19:38:57Z","timestamp":1166643537000},"page":"e30","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","source":"CrossRef","title":["Triose
        Phosphate Isomerase Deficiency Is Caused by Altered Dimerization\u2013Not
        Catalytic Inactivity\u2013of the Mutant Enzymes"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1371","volume":"1","author":[{"affiliation":[],"family":"Ralser","given":"Markus"},{"affiliation":[],"family":"Heeren","given":"Gino"},{"affiliation":[],"family":"Breitenbach","given":"Michael"},{"affiliation":[],"family":"Lehrach","given":"Hans"},{"affiliation":[],"family":"Krobitsch","given":"Sylvia"}],"member":"http:\/\/id.crossref.org\/member\/340","published-online":{"date-parts":[[2006,12,20]]},"container-title":["PLoS
        ONE"],"deposited":{"date-parts":[[2016,4,20]],"date-time":"2016-04-20T18:01:39Z","timestamp":1461175299000},"score":1.0,"subtitle":[],"editor":[{"affiliation":[],"family":"Janbon","given":"Guilhem"}],"issued":{"date-parts":[[2006,12,20]]},"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pone.0000030","ISSN":["1932-6203"],"subject":["Biochemistry,
        Genetics and Molecular Biology(all)","Agricultural and Biological Sciences(all)","Medicine(all)"]}}'
  recorded_at: Tue, 26 Apr 2016 13:47:46 GMT
recorded_with: VCR 2.9.3
