---
http_interactions:
- request:
    method: get
    uri: https://cn.dataone.org/cn/v1/query/logsolr/select?facet=true&facet.range=dateLogged&facet.range.end=2015-07-31T23:59:59Z&facet.range.gap=%2B1MONTH&facet.range.start=2011-07-07T00:00:00Z&fq=event:read&q=pid:http%5C://dx.doi.org/10.5061/dryad.6t94p?ver=2011-07-07T16%5C:35%5C:33.823-04%5C:00%20AND%20isRepeatVisit:false%20AND%20inPartialRobotList:false&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":9903,"params":{"facet":"true","q":"pid:http\\://dx.doi.org/10.5061/dryad.6t94p?ver=2011-07-07T16\\:35\\:33.823-04\\:00
        AND isRepeatVisit:false AND inPartialRobotList:false","facet.range.start":"2011-07-07T00:00:00Z","facet.range":"dateLogged","facet.range.gap":"+1MONTH","facet.range.end":"2015-07-31T23:59:59Z","wt":"json","fq":"event:read"}},"response":{"numFound":0,"start":0,"docs":[]},"facet_counts":{"facet_queries":{},"facet_fields":{},"facet_dates":{},"facet_ranges":{"dateLogged":{"counts":["2011-07-07T00:00:00Z",0,"2011-08-07T00:00:00Z",0,"2011-09-07T00:00:00Z",0,"2011-10-07T00:00:00Z",0,"2011-11-07T00:00:00Z",0,"2011-12-07T00:00:00Z",0,"2012-01-07T00:00:00Z",0,"2012-02-07T00:00:00Z",0,"2012-03-07T00:00:00Z",0,"2012-04-07T00:00:00Z",0,"2012-05-07T00:00:00Z",0,"2012-06-07T00:00:00Z",0,"2012-07-07T00:00:00Z",0,"2012-08-07T00:00:00Z",0,"2012-09-07T00:00:00Z",0,"2012-10-07T00:00:00Z",0,"2012-11-07T00:00:00Z",0,"2012-12-07T00:00:00Z",0,"2013-01-07T00:00:00Z",0,"2013-02-07T00:00:00Z",0,"2013-03-07T00:00:00Z",0,"2013-04-07T00:00:00Z",0,"2013-05-07T00:00:00Z",0,"2013-06-07T00:00:00Z",0,"2013-07-07T00:00:00Z",0,"2013-08-07T00:00:00Z",0,"2013-09-07T00:00:00Z",0,"2013-10-07T00:00:00Z",0,"2013-11-07T00:00:00Z",0,"2013-12-07T00:00:00Z",0,"2014-01-07T00:00:00Z",0,"2014-02-07T00:00:00Z",0,"2014-03-07T00:00:00Z",0,"2014-04-07T00:00:00Z",0,"2014-05-07T00:00:00Z",0,"2014-06-07T00:00:00Z",0,"2014-07-07T00:00:00Z",0,"2014-08-07T00:00:00Z",0,"2014-09-07T00:00:00Z",0,"2014-10-07T00:00:00Z",0,"2014-11-07T00:00:00Z",0,"2014-12-07T00:00:00Z",0,"2015-01-07T00:00:00Z",0,"2015-02-07T00:00:00Z",0,"2015-03-07T00:00:00Z",0,"2015-04-07T00:00:00Z",0,"2015-05-07T00:00:00Z",0,"2015-06-07T00:00:00Z",0,"2015-07-07T00:00:00Z",0],"gap":"+1MONTH","start":"2011-07-07T00:00:00Z","end":"2015-08-07T00:00:00Z"}}}}'
  recorded_at: Fri, 31 Jul 2015 22:51:58 GMT
recorded_with: VCR 2.9.3
