---
http_interactions:
- request:
    method: get
    uri: https://cn.dataone.org/cn/v1/query/logsolr/select?facet=true&facet.range=dateLogged&facet.range.end=2015-07-17T23:59:59Z&facet.range.gap=%2B1MONTH&facet.range.start=2014-07-17T00:00:00Z&fq=event:read&q=pid:doi%5C:10.5063/F1PC3085%20AND%20isRepeatVisit:false%20AND%20inPartialRobotList:false&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":3,"params":{"facet":"true","q":"pid:doi\\:10.5063/F1PC3085
        AND isRepeatVisit:false AND inPartialRobotList:false","facet.range.start":"2014-07-17T00:00:00Z","facet.range":"dateLogged","facet.range.gap":"+1MONTH","facet.range.end":"2015-07-17T23:59:59Z","wt":"json","fq":"event:read"}},"response":{"numFound":0,"start":0,"docs":[]},"facet_counts":{"facet_queries":{},"facet_fields":{},"facet_dates":{},"facet_ranges":{"dateLogged":{"counts":["2014-07-17T00:00:00Z",0,"2014-08-17T00:00:00Z",0,"2014-09-17T00:00:00Z",0,"2014-10-17T00:00:00Z",0,"2014-11-17T00:00:00Z",0,"2014-12-17T00:00:00Z",0,"2015-01-17T00:00:00Z",0,"2015-02-17T00:00:00Z",0,"2015-03-17T00:00:00Z",0,"2015-04-17T00:00:00Z",0,"2015-05-17T00:00:00Z",0,"2015-06-17T00:00:00Z",0,"2015-07-17T00:00:00Z",0],"gap":"+1MONTH","start":"2014-07-17T00:00:00Z","end":"2015-08-17T00:00:00Z"}}}}'
  recorded_at: Fri, 17 Jul 2015 12:22:50 GMT
recorded_with: VCR 2.9.3
