---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works/10.5061/dryad.8515/agency
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-agency","message-version":"1.0.0","message":{"DOI":"10.5061\/dryad.8515","agency":{"id":"datacite","label":"DataCite"}}}'
  recorded_at: Tue, 29 Sep 2015 10:30:32 GMT
recorded_with: VCR 2.9.3
