---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works/10.1371/journal.pone.0000017/agency
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-agency","message-version":"1.0.0","message":{"DOI":"10.1371\/journal.pone.0000017","agency":{"id":"crossref","label":"CrossRef"}}}'
  recorded_at: Sat, 03 Oct 2015 08:02:25 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1371%2Fjournal.pone.0000017
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,9]],"timestamp":1433813200555},"reference-count":0,"publisher":"Public
        Library of Science (PLoS)","issue":"1","DOI":"10.1371\/journal.pone.0000017","type":"journal-article","page":"e17","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","source":"CrossRef","title":["Multilocus
        Sequence Typing Breathes Life into a Microbial Metagenome"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1371","volume":"1","author":[{"affiliation":[],"family":"Mahenthiralingam","given":"Eshwar"},{"affiliation":[],"family":"Baldwin","given":"Adam"},{"affiliation":[],"family":"Drevinek","given":"Pavel"},{"affiliation":[],"family":"Vanlaere","given":"Elke"},{"affiliation":[],"family":"Vandamme","given":"Peter"},{"affiliation":[],"family":"LiPuma","given":"John
        J."},{"affiliation":[],"family":"Dowson","given":"Chris G."}],"member":"http:\/\/id.crossref.org\/member\/340","container-title":["PLoS
        ONE"],"deposited":{"date-parts":[[2014,3,5]],"timestamp":1393977600000},"score":1.0,"subtitle":[],"editor":[{"affiliation":[],"family":"Salzberg","given":"Steven"}],"issued":{"date-parts":[[2006,12,20]]},"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pone.0000017","ISSN":["1932-6203"],"subject":["Agricultural
        and Biological Sciences(all)","Medicine(all)","Biochemistry, Genetics and
        Molecular Biology(all)"]}}'
  recorded_at: Sat, 03 Oct 2015 08:02:30 GMT
recorded_with: VCR 2.9.3
