---
http_interactions:
- request:
    method: get
    uri: http://www.pubmedcentral.nih.gov/utils/idconv/v1.0/?email=info@example.org&format=json&ids=19749171&idtype=pmid&tool=Lagotto%20-%20http://lagotto-5-0-unstable.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: ''
    headers:
      Location:
      - http://www.ncbi.nlm.nih.gov/pmc/utils/idconv/v1.0/?email=info%40example.org&format=json&ids=19749171&idtype=pmid&tool=Lagotto+-+http%3A%2F%2Flagotto-5-0-unstable.local
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="http://www.ncbi.nlm.nih.gov/pmc/utils/idconv/v1.0/?email=info%40example.org&amp;format=json&amp;ids=19749171&amp;idtype=pmid&amp;tool=Lagotto+-+http%3A%2F%2Flagotto-5-0-unstable.local">here</a>.</p>
        </body></html>
  recorded_at: Tue, 12 Jan 2016 07:50:16 GMT
- request:
    method: get
    uri: http://www.ncbi.nlm.nih.gov/pmc/utils/idconv/v1.0/?email=info@example.org&format=json&ids=19749171&idtype=pmid&tool=Lagotto%20-%20http://lagotto-5-0-unstable.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "ok",
         "responseDate": "2016-01-12 02:50:17",
         "request": "email=info%40example.org;format=json;ids=19749171;idtype=pmid;tool=Lagotto%20-%20http%3A%2F%2Flagotto-5-0-unstable.local",
         "records": [
           {
            "pmcid": "PMC2763780",
            "pmid": "19749171",
            "doi": "10.1124/pr.109.001263",
            "versions": [
              {
               "pmcid": "PMC2763780.1",
               "current": "true"
              }
            ]
           }
         ]
        }
  recorded_at: Tue, 12 Jan 2016 07:50:17 GMT
[...]
- request:
    method: get
    uri: http://www.ncbi.nlm.nih.gov/pmc/utils/idconv/v1.0/?email=info@example.org&format=json&ids=19776281&idtype=pmid&tool=Lagotto%20-%20http://lagotto-5-0-unstable.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "ok",
         "responseDate": "2016-01-12 02:50:17",
         "request": "email=info%40example.org;format=json;ids=19776281;idtype=pmid;tool=Lagotto%20-%20http%3A%2F%2Flagotto-5-0-unstable.local",
         "records": [
           {
            "pmcid": "PMC2782675",
            "pmid": "19776281",
            "doi": "10.1523/JNEUROSCI.2643-09.2009",
            "versions": [
              {
               "pmcid": "PMC2782675.1",
               "mid": "NIHMS155881",
               "current": "true"
              }
            ]
           }
         ]
        }
  recorded_at: Tue, 12 Jan 2016 07:50:17 GMT
[...]
- request:
    method: get
    uri: http://www.ncbi.nlm.nih.gov/pmc/utils/idconv/v1.0/?email=info@example.org&format=json&ids=19308318&idtype=pmid&tool=Lagotto%20-%20http://lagotto-5-0-unstable.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "ok",
         "responseDate": "2016-01-12 02:50:18",
         "request": "email=info%40example.org;format=json;ids=19308318;idtype=pmid;tool=Lagotto%20-%20http%3A%2F%2Flagotto-5-0-unstable.local",
         "records": [
           {
            "pmid": "19308318",
            "live": "false",
            "status": "error",
            "errmsg": "invalid article id"
           }
         ]
        }
  recorded_at: Tue, 12 Jan 2016 07:50:18 GMT
[...]
- request:
    method: get
    uri: http://www.ncbi.nlm.nih.gov/pmc/utils/idconv/v1.0/?email=info@example.org&format=json&ids=22823405&idtype=pmid&tool=Lagotto%20-%20http://lagotto-5-0-unstable.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "ok",
         "responseDate": "2016-01-12 02:50:27",
         "request": "email=info%40example.org;format=json;ids=22823405;idtype=pmid;tool=Lagotto%20-%20http%3A%2F%2Flagotto-5-0-unstable.local",
         "records": [
           {
            "pmcid": "PMC3443659",
            "pmid": "22823405",
            "doi": "10.1186/1471-2105-13-174",
            "versions": [
              {
               "pmcid": "PMC3443659.1",
               "current": "true"
              }
            ]
           }
         ]
        }
  recorded_at: Tue, 12 Jan 2016 07:50:27 GMT
recorded_with: VCR 2.9.3
