---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/search.json?limit=100&q=%2210.1371/journal.ppat.0008776%22%20OR%20%22http://www.plosone.org/article/info:doi/10.1371/journal.ppat.0008776%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=KPOmsYOVyTXLGUwb9fg0vc8yruTOOXjKmxTBbISTwgqnItdj7OrfKVi9rIPeFoDUG8SWIczyfqA%3D
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [], "after":
        null, "before": null}}'
  recorded_at: Tue, 24 Mar 2015 14:19:22 GMT
recorded_with: VCR 2.9.3
