---
http_interactions:
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1371/JOURNAL.PMED.0030186
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Crossref-Deployment-Name:
      - svc1-1
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1371/JOURNAL.PMED.0030186",
         "RA": "Crossref"
        }
        ]
  recorded_at: Sat, 11 Feb 2017 18:06:28 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1371%2FJOURNAL.PMED.0030186
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2016,11,12]],"date-time":"2016-11-12T03:59:02Z","timestamp":1478923142119},"reference-count":19,"publisher":"Public
        Library of Science (PLoS)","issue":"6","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2006,6,6]],"date-time":"2006-06-06T00:00:00Z","timestamp":1149552000000},"delay-in-days":0,"content-version":"vor"}],"content-domain":{"domain":["www.plosmedicine.org"],"crossmark-restriction":false},"short-container-title":["PLoS
        Med"],"cited-count":0,"DOI":"10.1371\/journal.pmed.0030186","type":"journal-article","created":{"date-parts":[[2006,5,26]],"date-time":"2006-05-26T12:53:01Z","timestamp":1148647981000},"page":"e186","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pmed.corrections_policy","source":"CrossRef","title":["Implementation
        Research Is Needed to Achieve International Health Goals"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1371","volume":"3","author":[{"given":"David","family":"Sanders","affiliation":[]},{"given":"Andy","family":"Haines","affiliation":[]}],"member":"http:\/\/id.crossref.org\/member\/340","published-online":{"date-parts":[[2006,6,6]]},"container-title":["PLoS
        Medicine"],"original-title":[],"deposited":{"date-parts":[[2016,4,20]],"date-time":"2016-04-20T18:01:21Z","timestamp":1461175281000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2006,6,6]]},"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pmed.0030186","ISSN":["1549-1676"],"citing-count":19,"subject":["Medicine(all)"]}}'
  recorded_at: Sat, 11 Feb 2017 18:06:29 GMT
recorded_with: VCR 2.9.3
