---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works/10.1371/journal.pone.0118494/agency
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-agency","message-version":"1.0.0","message":{"DOI":"10.1371\/journal.pone.0118494","agency":{"id":"crossref","label":"CrossRef"}}}'
  recorded_at: Sat, 03 Oct 2015 08:02:37 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1371%2Fjournal.pone.0118494
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,3,7]],"timestamp":1425687801106},"reference-count":0,"publisher":"Public
        Library of Science (PLoS)","issue":"3","DOI":"10.1371\/journal.pone.0118494","type":"journal-article","page":"e0118494","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","source":"CrossRef","title":["To
        Apply or Not to Apply: A Survey Analysis of Grant Writing Costs and Benefits"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1371","volume":"10","author":[{"affiliation":[],"family":"von
        Hippel","given":"Ted"},{"affiliation":[],"family":"von Hippel","given":"Courtney"}],"member":"http:\/\/id.crossref.org\/member\/340","container-title":["PLOS
        ONE","PLoS ONE"],"deposited":{"date-parts":[[2015,3,4]],"timestamp":1425427200000},"score":1.0,"subtitle":[],"editor":[{"affiliation":[],"family":"Amaral","given":"Lu\u00eds
        A. Nunes"}],"issued":{"date-parts":[[2015,3,4]]},"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pone.0118494","ISSN":["1932-6203"],"subject":["Agricultural
        and Biological Sciences(all)","Medicine(all)","Biochemistry, Genetics and
        Molecular Biology(all)"]}}'
  recorded_at: Sat, 03 Oct 2015 08:02:37 GMT
recorded_with: VCR 2.9.3
