---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-update-date:2013-09-04,until-update-date:2013-09-05,until-pub-date:2013-09-05&offset=0&rows=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":1000,"items":[{"subtitle":[],"issued":{"date-parts":[[1953]]},"score":1.0,"prefix":"none","container-title":["The
        Publications of the Champlain Society, volume 32"],"reference-count":null,"page":"415-441","deposited":{"date-parts":[[2013,9,5]],"timestamp":1378339200000},"title":["Index"],"type":"book-chapter","DOI":"10.3138\/9781442618077_8","ISBN":["http:\/\/id.crossref.org\/isbn\/9781442618343"],"URL":"http:\/\/dx.doi.org\/10.3138\/9781442618077_8","source":"CrossRef","publisher":"University
        of Toronto Press","indexed":{"date-parts":[[2014,1,8]],"timestamp":1389208925713},"member":null},{"subtitle":[],"issued":{"date-parts":[[1953]]},"score":1.0,"prefix":"none","container-title":["The
        Publications of the Champlain Society, volume 32"],"reference-count":null,"page":"442-442","deposited":{"date-parts":[[2013,9,5]],"timestamp":1378339200000},"title":["Errata"],"type":"book-chapter","DOI":"10.3138\/9781442618077_9","ISBN":["http:\/\/id.crossref.org\/isbn\/9781442618343"],"URL":"http:\/\/dx.doi.org\/10.3138\/9781442618077_9","source":"CrossRef","publisher":"University
        of Toronto Press","indexed":{"date-parts":[[2014,1,8]],"timestamp":1389208925786},"member":null},{"subtitle":[],"issued":{"date-parts":[[2013,9,4]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1007","author":[{"family":"Zhao","given":"Pan"},{"family":"Zhao","given":"Yun-Long"},{"family":"Jin","given":"Yun"},{"family":"Zhang","given":"Tao"},{"family":"Guo","given":"Hui-Shan"}],"container-title":["Protein
        & Cell","Protein Cell"],"reference-count":null,"deposited":{"date-parts":[[2013,9,4]],"timestamp":1378252800000},"title":["Colonization
        process of Arabidopsis thaliana roots by a green fluorescent protein-tagged
        isolate of Verticillium dahliae"],"type":"journal-article","DOI":"10.1007\/s13238-013-3061-6","ISSN":["1674-800X","1674-8018"],"URL":"http:\/\/dx.doi.org\/10.1007\/s13238-013-3061-6","source":"CrossRef","publisher":"Springer
        Science + Business Media","indexed":{"date-parts":[[2013,11,5]],"timestamp":1383641888765},"member":"http:\/\/id.crossref.org\/member\/297"},{"subtitle":["TWO-STEP
        ESTIMATION OF A MULTI-VARIATE L\u00c9VY PROCESS"],"subject":["Applied Mathematics","Statistics,
        Probability and Uncertainty","Statistics and Probability"],"issued":{"date-parts":[[2013,8]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1002","author":[{"family":"Esmaeili","given":"Habib"},{"family":"Kl\u00fcppelberg","given":"Claudia"}],"container-title":["Journal
        of Time Series Analysis","J. Time Ser. Anal."],"reference-count":null,"page":"n\/a-n\/a","deposited":{"date-parts":[[2013,9,5]],"timestamp":1378339200000},"title":[[...]
