---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/oauth/access_token?client_id=<FACEBOOK_CLIENT_ID>&client_secret=<FACEBOOK_CLIENT_SECRET>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Facebook-Api-Version:
      - v2.0
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: access_token=<FACEBOOK_CLIENT_ID>|ujiT_Cb58T4QUkneUYJu0L3zmwM
  recorded_at: Sat, 09 Apr 2016 13:44:59 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.1/?access_token=<FACEBOOK_CLIENT_ID>%7CujiT_Cb58T4QUkneUYJu0L3zmwM&id=http://www.plosone.org/article/info:doi/10.1371/journal.pone.0043007
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <FACEBOOK_CLIENT_ID>|ujiT_Cb58T4QUkneUYJu0L3zmwM
  response:
    status:
      code: 200
      message: ''
    headers:
      Etag:
      - '"8a4043216791bab2e3c62c0353cdfbc4dec4b19f"'
      Facebook-Api-Version:
      - v2.2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"og_object":{"id":"874714875925057","description":"Background  High
        levels of alcohol consumption and increases in heavy episodic drinking (binge
        drinking) are a growing public concern, due to their association with increased
        risk of personal and societal harm. Alcohol consumption has been shown to
        be sensitive to factors such as price and availability. The aim of this study
        was to explore the influence of glass shape on the rate of consumption of
        alcoholic and non-alcoholic beverages.    Methods [...]
