---
http_interactions:
- request:
    method: get
    uri: http://www.pubmedcentral.nih.gov/utils/idconv/v1.0/?email=info@example.org&format=json&ids=3292175&idtype=pmcid&tool=Lagotto%204.0-unstable%20-%20http://lagotto-4-0-unstable.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "ok",
         "responseDate": "2015-04-09 19:25:06",
         "request": "email=info%40example.org;format=json;ids=3292175;idtype=pmcid;tool=Lagotto%204.0-unstable%20-%20http%3A%2F%2Flagotto-4-0-unstable.local",
         "records": [
           {
            "pmcid": "PMC3292175",
            "pmid": "22389645",
            "doi": "10.3389/fendo.2012.00005",
            "versions": [
              {
               "pmcid": "PMC3292175.1",
               "mid": "NIHMS357858"
              },
              {
               "pmcid": "PMC3292175.2",
               "current": "true"
              }
            ]
           }
         ]
        }
  recorded_at: Thu, 09 Apr 2015 23:25:06 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.3389/fendo.2012.00005
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"issued":{"date-parts":[[2012]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.3389","author":[{"family":"Morrison","given":"Shaun
        F."},{"family":"Madden","given":"Christopher J."},{"family":"Tupone","given":"Domenico"}],"container-title":["Front.
        Endocrin.","Frontiers in Endocrinology"],"reference-count":0,"deposited":{"date-parts":[[2015,2,18]],"timestamp":1424217600000},"title":["Central
        Control of Brown Adipose Tissue Thermogenesis"],"type":"journal-article","DOI":"10.3389\/fendo.2012.00005","ISSN":["1664-2392"],"URL":"http:\/\/dx.doi.org\/10.3389\/fendo.2012.00005","source":"CrossRef","publisher":"Frontiers
        Media SA","indexed":{"date-parts":[[2015,2,21]],"timestamp":1424477135150},"volume":"3","member":"http:\/\/id.crossref.org\/member\/1965"}}'
  recorded_at: Thu, 09 Apr 2015 23:25:07 GMT
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016/j.plipres.2006.11.001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Biochemistry","Cell
        Biology"],"issued":{"date-parts":[[2007,3]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","author":[{"family":"Steiner","given":"Alexandre
        A."},{"family":"Romanovsky","given":"Andrej A."}],"container-title":["Progress
        in Lipid Research"],"reference-count":209,"page":"89-107","deposited":{"date-parts":[[2011,8,19]],"timestamp":1313712000000},"issue":"2","title":["Leptin:
        At the crossroads of energy balance and systemic inflammation"],"type":"journal-article","DOI":"10.1016\/j.plipres.2006.11.001","ISSN":["0163-7827"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.plipres.2006.11.001","source":"CrossRef","publisher":"Elsevier
        BV","indexed":{"date-parts":[[2015,2,8]],"timestamp":1423434525102},"volume":"46","member":"http:\/\/id.crossref.org\/member\/78"}}'
  recorded_at: Thu, 09 Apr 2015 23:25:07 GMT
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1113/jphysiol.2008.152686
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":["Preoptic
        local mechanism for cold defence"],"subject":["Physiology"],"issued":{"date-parts":[[2008,5,15]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1113","author":[{"family":"Nakamura","given":"Kazuhiro"},{"family":"Morrison","given":"Shaun
        F."}],"container-title":["The Journal of Physiology"],"reference-count":31,"page":"2611-2620","deposited":{"date-parts":[[2014,12,11]],"timestamp":1418256000000},"issue":"10","title":["Preoptic
        mechanism for cold-defensive responses to skin cooling"],"type":"journal-article","DOI":"10.1113\/jphysiol.2008.152686","ISSN":["0022-3751"],"URL":"http:\/\/dx.doi.org\/10.1113\/jphysiol.2008.152686","source":"CrossRef","publisher":"Wiley-Blackwell","indexed":{"date-parts":[[2015,2,11]],"timestamp":1423680394208},"volume":"586","member":"http:\/\/id.crossref.org\/member\/311"}}'
  recorded_at: Thu, 09 Apr 2015 23:25:07 GMT
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1152/japplphysiol.90619.2008
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Physiology","Physiology
        (medical)"],"issued":{"date-parts":[[2008,7,10]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1152","author":[{"family":"Steiner","given":"A.
        A."},{"family":"Oliveira","given":"D. L."},{"family":"Roberts","given":"J.
        L."},{"family":"Petersen","given":"S. R."},{"family":"Romanovsky","given":"A.
        A."}],"container-title":["Journal of Applied Physiology"],"reference-count":0,"page":"1028-1034","deposited":{"date-parts":[[2011,5,12]],"timestamp":1305158400000},"issue":"4","title":["Nicotine
        administration and withdrawal affect survival in systemic inflammation models"],"type":"journal-article","DOI":"10.1152\/japplphysiol.90619.2008","ISSN":["8750-7587","1522-1601"],"URL":"http:\/\/dx.doi.org\/10.1152\/japplphysiol.90619.2008","source":"CrossRef","publisher":"American
        Physiological Society","indexed":{"date-parts":[[2015,2,6]],"timestamp":1423233476561},"volume":"105","member":"http:\/\/id.crossref.org\/member\/24"}}'
  recorded_at: Thu, 09 Apr 2015 23:25:08 GMT
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1152/ajpregu.91026.2008
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Physiology","Physiology
        (medical)"],"issued":{"date-parts[...]
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1124/pr.109.001263
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Molecular
        Medicine","Pharmacology"],"issued":{"date-parts":[[2[...]
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1523/JNEUROSCI.2643-09.2009
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Neuroscience(all)"],"issued":{"date-parts":[[2009,9,23]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1523","author":[{"family":"Yoshida","given":"K."},{"family":"Li","given":"X."},{"family":"Cano","given":"G."},{"family":"Lazarus","given":"M."},{"family":"Saper","given":"C.
        B."}],"container-title":["Journal of Neuroscience"],"reference-count":0,"page":"11954-11964","deposited":{"date-parts":[[2011,7,19]],"timestamp":1311033600000},"issue":"38","title":["Parallel
        Preoptic Pathways for Thermoregulation"],"type":"journal-article","DOI":"10.1523\/jneurosci.2643-09.2009","ISSN":["0270-6474","1529-2401"],"URL":"http:\/\/dx.doi.org\/10.1523\/jneurosci.2643-09.2009","source":"CrossRef","publisher":"Society
        for Neuroscience","indexed":{"date-parts":[[2015,2,7]],"timestamp":1423274379397},"volume":"29","member":"http:\/\/id.crossref.org\/member\/393"}}'
  recorded_at: Thu, 09 Apr 2015 23:25:09 GMT
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.3389/fendo.2012.00005
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"issued":{"date-parts":[[2012]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.3389","author":[{"family":"Morrison","given":"Shaun
        F."},{"family":"Madden","given":"Christopher J."},{"family":"Tupone","given":"Domenico"}],"container-title":["Front.
        Endocrin.","Frontiers in Endocrinology"],"reference-count":0,"deposited":{"date-parts":[[2015,2,18]],"timestamp":1424217600000},"title":["Central
        Control of Brown Adipose Tissue Thermogenesis"],"type":"journal-article","DOI":"10.3389\/fendo.2012.00005","ISSN":["1664-2392"],"URL":"http:\/\/dx.doi.org\/10.3389\/fendo.2012.00005","source":"CrossRef","publisher":"Frontiers
        Media SA","indexed":{"date-parts":[[2015,2,21]],"timestamp":1424477135150},"volume":"3","member":"http:\/\/id.crossref.org\/member\/1965"}}'
  recorded_at: Thu, 09 Apr 2015 23:25:13 GMT
recorded_with: VCR 2.9.3
