---
http_interactions:
- request:
    method: get
    uri: http://www.pubmedcentral.nih.gov/utils/idconv/v1.0/?email=info@example.org&format=json&ids=3292175&idtype=pmcid&tool=Lagotto%204.0%20-%20http://lagotto-4-0-stable.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "ok",
         "responseDate": "2015-06-11 07:39:12",
         "request": "email=info%40example.org;format=json;ids=3292175;idtype=pmcid;tool=Lagotto%204.0%20-%20http%3A%2F%2Flagotto-4-0-stable.local",
         "records": [
           {
            "pmcid": "PMC3292175",
            "pmid": "22389645",
            "doi": "10.3389/fendo.2012.00005",
            "versions": [
              {
               "pmcid": "PMC3292175.1",
               "mid": "NIHMS357858"
              },
              {
               "pmcid": "PMC3292175.2",
               "current": "true"
              }
            ]
           }
         ]
        }
  recorded_at: Thu, 11 Jun 2015 11:39:11 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.3389%2Ffendo.2012.00005
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"issued":{"date-parts":[[2012]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.3389","author":[{"affiliation":[],"family":"Morrison","given":"Shaun
        F."},{"affiliation":[],"family":"Madden","given":"Christopher J."},{"affiliation":[],"family":"Tupone","given":"Domenico"}],"container-title":["Front.
        Endocrin.","Frontiers in Endocrinology"],"reference-count":0,"deposited":{"date-parts":[[2015,2,18]],"timestamp":1424217600000},"title":["Central
        Control of Brown Adipose Tissue Thermogenesis"],"type":"journal-article","DOI":"10.3389\/fendo.2012.00005","ISSN":["1664-2392"],"URL":"http:\/\/dx.doi.org\/10.3389\/fendo.2012.00005","source":"CrossRef","publisher":"Frontiers
        Media SA","indexed":{"date-parts":[[2015,2,21]],"timestamp":1424477135150},"volume":"3","member":"http:\/\/id.crossref.org\/member\/1965"}}'
  recorded_at: Thu, 11 Jun 2015 11:39:12 GMT
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016%2Fj.plipres.2006.11.001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Biochemistry","Cell
        Biology"],"issued":{"date-parts":[[2007,3]]},"link":[{"intended-application":"text-mining","content-version":"vor","content-type":"text\/xml","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0163782706000634?httpAccept=text\/xml"},{"intended-application":"text-mining","content-version":"vor","content-type":"text\/plain","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0163782706000634?httpAccept=text\/plain"}],"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","author":[{"affiliation":[],"family":"Steiner","given":"Alexandre
        A."},{"affiliation":[],"family":"Romanovsky","given":"Andrej A."}],"container-title":["Progress
        in Lipid Research"],"reference-count":209,"page":"89-107","deposited":{"date-parts":[[2015,2,14]],"timestamp":1423872000000},"issue":"2","title":["Leptin:
        At the crossroads of energy balance and systemic inflammation"],"alternative-id":["S0163782706000634"],"type":"journal-article","DOI":"10.1016\/j.plipres.2006.11.001","ISSN":["0163-7827"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.plipres.2006.11.001","source":"CrossRef","publisher":"Elsevier
        BV","indexed":{"date-parts":[[2015,5,12]],"timestamp":1431436795803},"volume":"46","member":"http:\/\/id.crossref.org\/member\/78"}}'
  recorded_at: Thu, 11 Jun 2015 11:39:14 GMT
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1113%2Fjphysiol.2008.152686
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":["Preoptic
        local mechanism for cold defence"],"subject":["Physiology"],"issued":{"date-parts":[[2008,5,15]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1113","author":[{"affiliation":[],"family":"Nakamura","given":"Kazuhiro"},{"affiliation":[],"family":"Morrison","given":"Shaun
        F."}],"container-title":["The Journal of Physiology"],"reference-count":31,"page":"2611-2620","deposited":{"date-parts":[[2014,12,11]],"timestamp":1418256000000},"issue":"10","title":["Preoptic
        mechanism for cold-defensive responses to skin cooling"],"type":"journal-article","DOI":"10.1113\/jphysiol.2008.152686","ISSN":["0022-3751"],"URL":"http:\/\/dx.doi.org\/10.1113\/jphysiol.2008.152686","source":"CrossRef","publisher":"Wiley-Blackwell","indexed":{"date-parts":[[2015,6,9]],"timestamp":1433866897594},"volume":"586","member":"http:\/\/id.crossref.org\/member\/311"}}'
  recorded_at: Thu, 11 Jun 2015 11:39:17 GMT
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1152%2Fjapplphysiol.90619.2008
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Physiology","Physiology
        (medical)"],"issued":{"dat[...]
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1152%2Fajpregu.91026.2008
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Physiology","Physiology
        (medical)"],"issued":{"date-par[...]
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1124%2Fpr.109.001263
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Molecular
        Medicine","Pharmacology"],"issued":{"date-parts":[[...]
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1523%2FJNEUROSCI.2643-09.2009
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Neuroscience(all)"],"issued":{"date-parts":[[2009,9,23]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1523","author":[{"affiliation":[],"family":"Yoshida","given":"K."},{"affiliation":[],"family":"Li","given":"X."},{"affiliation":[],"family":"Cano","given":"G."},{"affiliation":[],"family":"Lazarus","given":"M."},{"affiliation":[],"family":"Saper","given":"C.
        B."}],"container-title":["Journal of Neuroscience"],"reference-count":0,"page":"11954-11964","deposited":{"date-parts":[[2011,7,19]],"timestamp":1311033600000},"issue":"38","title":["Parallel
        Preoptic Pathways for Thermoregulation"],"type":"journal-article","DOI":"10.1523\/jneurosci.2643-09.2009","ISSN":["0270-6474","1529-2401"],"URL":"http:\/\/dx.doi.org\/10.1523\/jneurosci.2643-09.2009","source":"CrossRef","publisher":"Society
        for Neuroscience","indexed":{"date-parts":[[2015,6,6]],"timestamp":1433612134043},"volume":"29","member":"http:\/\/id.crossref.org\/member\/393"}}'
  recorded_at: Thu, 11 Jun 2015 11:40:01 GMT
[...]
- request:
    method: get
    uri: http://www.ebi.ac.uk/europepmc/webservices/rest/search/query=ext_id:21196160&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"version":"4.1","hitCount":1,"request":{"resultType":"LITE","synonym":false,"query":"ext_id:21196160","page":1},"resultList":{"result":[{"id":"21196160","source":"MED","pmid":"21196160","pmcid":"PMC3051412","title":"Central
        neural pathways for thermoregulation.","authorString":"Morrison SF, Nakamura
        K.","journalTitle":"Front Biosci (Landmark Ed)","journalVolume":"16","pubYear":"2011","journalIssn":"1093-4715","pageInfo":"74-104","pubType":"journal
        article; review; research support, non-u.s. gov''t; research support, n.i.h.,
        extramural; research-article","isOpenAccess":"N","inEPMC":"Y","inPMC":"Y","citedByCount":63,"hasReferences":"Y","hasTextMinedTerms":"Y","hasDbCrossReferences":"N","hasLabsLinks":"N","hasTMAccessionNumbers":"N","luceneScore":"17550.71","doi":"10.2741/3677"}]}}'
  recorded_at: Thu, 11 Jun 2015 11:40:09 GMT
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.3389%2Ffendo.2012.00005
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"issued":{"date-parts":[[2012]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.3389","author":[{"affiliation":[],"family":"Morrison","given":"Shaun
        F."},{"affiliation":[],"family":"Madden","given":"Christopher J."},{"affiliation":[],"family":"Tupone","given":"Domenico"}],"container-title":["Front.
        Endocrin.","Frontiers in Endocrinology"],"reference-count":0,"deposited":{"date-parts":[[2015,2,18]],"timestamp":1424217600000},"title":["Central
        Control of Brown Adipose Tissue Thermogenesis"],"type":"journal-article","DOI":"10.3389\/fendo.2012.00005","ISSN":["1664-2392"],"URL":"http:\/\/dx.doi.org\/10.3389\/fendo.2012.00005","source":"CrossRef","publisher":"Frontiers
        Media SA","indexed":{"date-parts":[[2015,2,21]],"timestamp":1424477135150},"volume":"3","member":"http:\/\/id.crossref.org\/member\/1965"}}'
  recorded_at: Thu, 11 Jun 2015 11:40:16 GMT
recorded_with: VCR 2.9.3
