---
http_interactions:
- request:
    method: get
    uri: http://en.search.wordpress.com/?f=json&q=%2210.1371/journal.pone.0044294%22&size=20&t=post
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: ''
    headers:
      Content-Type:
      - text/html
      Location:
      - https://en.search.wordpress.com/?f=json&q=%2210.1371%2Fjournal.pone.0044294%22&size=20&t=post
      X-Ac:
      - 1.sjc _dfw
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Mon, 04 May 2015 23:06:06 GMT
- request:
    method: get
    uri: https://en.search.wordpress.com/?f=json&q=%2210.1371/journal.pone.0044294%22&size=20&t=post
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hacker:
      - If you're reading this, you should visit automattic.com/jobs and apply to
        join the fun, mention this header.
      X-Ac:
      - 1.sjc _dfw
    body:
      encoding: UTF-8
      string: 'null'
  recorded_at: Mon, 04 May 2015 23:06:07 GMT
recorded_with: VCR 2.9.3
