---
http_interactions:
- request:
    method: get
    uri: http://en.search.wordpress.com/?f=json&q=%2210.1371/journal.pbio.1002020%22%20OR%20%22http://www.plosone.org/article/info:doi/10.1371/journal.pone.1002020%22&size=20&t=post
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hacker:
      - If you're reading this, you should visit automattic.com/jobs and apply to
        join the fun, mention this header.
      X-Ac:
      - 1.lax _dfw
    body:
      encoding: UTF-8
      string: '[{"title":"Are microbes vital on earth?","link":"http:\/\/johandecelle.wordpress.com\/2014\/12\/22\/are-microbes-vital-on-earth\/","epoch_time":"1419280218","author":"johandecelle","guid":"http:\/\/johandecelle.wordpress.com\/2014\/12\/22\/are-microbes-vital-on-earth\/","content":"Life
        in a World without Microbes\r\nJack A. Gilbert and Josh D. Neufeld\r\nPLoS
        Biol 12(12): e1002020. (2014)\u00a0 doi:10.1371\/journal.pbio.1002020\r\n\r\n\r\nLife
        would not long remain possible in the absence of microbes.\u201d\u2014Louis
        Pasteur\r\nOr [&#8230;]"}]'
  recorded_at: Sun, 04 Jan 2015 13:02:01 GMT
recorded_with: VCR 2.9.3
