---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.1371
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"a078870f021fe1686525a8135b0e29b8"
      Status:
      - 200 OK
      X-Ratelimit-Limit-Hour:
      - '10000'
      X-Ratelimit-Remaining-Hour:
      - '9999'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.1371","type":"prefixes","attributes":{"registration-agency":"Crossref","updated":"2016-09-21T20:47:32Z"}}}'
  recorded_at: Sun, 12 Mar 2017 18:58:40 GMT
recorded_with: VCR 2.9.3
