---
http_interactions:
- request:
    method: post
    uri: http://bin.mailgun.net/e0243424
    body:
      encoding: UTF-8
      string: '{"title":"Status Report","text":"\u003cp\u003e0 Works\u003cbr/\u003e\n0
        Works added today\u003cbr/\u003e\n0 Results\u003cbr/\u003e\n0 Unresolved notifications\u003cbr/\u003e\n\u003c/br\u003e\n0
        API responses in the last hour\u003cbr/\u003e\n0 API requests in the last
        hour\u003cbr/\u003e\n\u003cbr/\u003e\n0 Disabled agents\u003cbr/\u003e\nLagotto
        Version 5.1-beta\u003cbr/\u003e\nDatabase size 2.02 MB\u003cbr/\u003e\u003c/p\u003e\n\n\u003cp\u003e\u003ca
        href=\"http://localhost:8050/status\"\u003eGo to admin dashboard\u003c/a\u003e\u003c/p\u003e\n","level":1,"timestamp":"2016-09-11T18:51:18Z"}'
    headers:
      Authorization:
      - Token token=<API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Post received. Thanks!"}'
  recorded_at: Sun, 11 Sep 2016 18:51:18 GMT
recorded_with: VCR 2.9.3
