---
http_interactions:
- request:
    method: post
    uri: http://bin.mailgun.net/e0243424
    body:
      encoding: UTF-8
      string: '{"title":"Fatal Error Report","text":"\u003cp\u003eCiteULike has exceeded
        maximum failed queries. Disabling the source.\u003c/p\u003e\n\n\u003cp\u003e\u003ca
        href=\"http://localhost:8050/notifications?level=fatal\"\u003eGo to admin
        dashboard\u003c/a\u003e\u003c/p\u003e\n","level":4,"timestamp":"2016-09-11T18:56:01Z"}'
    headers:
      Authorization:
      - Token token=<API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Post received. Thanks!"}'
  recorded_at: Sun, 11 Sep 2016 18:56:01 GMT
recorded_with: VCR 2.9.3
