---
http_interactions:
- request:
    method: post
    uri: http://bin.mailgun.net/e0243424
    body:
      encoding: UTF-8
      string: '{"title":"Error Report","text":"\u003cp\u003e\nFound 0 work not updated
        errors in 29,899 API responses, taking 29.899 ms\u003cbr/\u003e\n\u003c/p\u003e\n\n\u003cp\u003e\u003ca
        href=\"http://localhost:8050/notifications\"\u003eGo to admin dashboard\u003c/a\u003e\u003c/p\u003e\n","level":3,"timestamp":"2016-09-11T18:51:18Z"}'
    headers:
      Authorization:
      - Token token=<API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Post received. Thanks!"}'
  recorded_at: Sun, 11 Sep 2016 18:51:19 GMT
recorded_with: VCR 2.9.3
