---
http_interactions:
- request:
    method: post
    uri: http://bin.mailgun.net/e0243424
    body:
      encoding: UTF-8
      string: '{"title":"Work Statistics Report","text":"\u003cp\u003e0 Works\u003cbr/\u003e\n\n\u003cp\u003eThe
        report is available for download from \u003ca href=\"https://zenodo.org/\"\u003eZenodo\u003c/a\u003e.\u003c/p\u003e\n","level":1,"timestamp":"2016-09-11T18:51:17Z"}'
    headers:
      Authorization:
      - Token token=<API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Post received. Thanks!"}'
  recorded_at: Sun, 11 Sep 2016 18:51:18 GMT
recorded_with: VCR 2.9.3
