---
http_interactions:
- request:
    method: get
    uri: http://search.datacite.org/api?fl=doi,relatedIdentifier&fq=has_metadata:true&q=doi:10.5061/DRYAD.8515&rows=1000&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":1},"response":{"numFound":1,"start":0,"docs":[{"doi":"10.5061/DRYAD.8515","relatedIdentifier":["HasPart:DOI:10.5061/DRYAD.8515/1","HasPart:DOI:10.5061/DRYAD.8515/2","IsReferencedBy:DOI:10.1371/JOURNAL.PPAT.1000446","IsReferencedBy:DOI:"]}]}}
  recorded_at: Sun, 20 Mar 2016 07:55:50 GMT
recorded_with: VCR 2.9.3
