---
http_interactions:
- request:
    method: get
    uri: http://search.datacite.org/api?fl=doi,relatedIdentifier&fq=has_metadata:true&q=doi:10.1371/journal.pone.0043007&rows=1000&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":0},"response":{"numFound":0,"start":0,"docs":[]}}
  recorded_at: Sun, 20 Mar 2016 08:09:08 GMT
recorded_with: VCR 2.9.3
