.alm {
  font-size: 1em;
	margin-bottom: 15px;
}

.title {
  font-size: 1.5em;
  color: #789aa1;
}

.alm-chart-area {
  position: absolute;
  top: 0;
  left: 170px;
  font-size: 14px;
}

.axis line,
.axis path {
  fill: none;
  stroke: black;
	stroke-width: 1;
  shape-rendering: crispEdges;
}
.barsForTooltip {
  fill: ffffff;
  fill-opacity: 0;
}

.alm-row {
  position: relative;
  top: 0;
  height: 120px;
}

.alm-category-row {
  width: 100%;
  overflow: hidden;
}

.alm-category-row-info {
	display: inline-block;
	width: 14px;
	height: 14px;
	border: none;
	background-color: transparent;
  position: relative;
  top: -5px;
  left: 2px;
  margin-top: 5px;
}

.alm-count-label {
	width: 150px;
  height: 100px;
  margin-top: .5em;
  margin-left: 0;
	padding: 5px;
	text-align: center;
	background: $wet-asphalt;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
}

.html, .pdf {
  background: $peter-river;
}

.bar.html, .bar.pdf {
  fill: $peter-river;
}

.bar.html-alt, .bar.pdf-alt {
  fill: darken($peter-river, 15%);
}

.shares {
  background: $emerald;
}

.bar.shares {
  fill: $emerald;
}

.bar.shares-alt {
  fill: darken($emerald, 15%);
}

.likes, .comments {
  background: $turquoise;
}

.bar.likes, .bar.comments {
  fill: $turquoise;
}

.bar.likes-alt, .bar.comments-alt {
  fill: darken($turquoise, 15%);
}

.citations {
  background: $amethyst;
}

.bar.citations {
  fill: $amethyst;
}

.bar.citations-alt {
  fill: darken($amethyst, 15%);
}

.alm-count-label p {
  line-height: 18px;
}

.alm-count-label a {
  line-height: 18px;
  color: #fff;
  text-decoration: none;
}

.alm-count-label a:hover {
	background-color: transparent !important;
	color: #fff !important;
}

.alm-count {
	font-size: 1.75em;
	font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px;
}

.alm-control {
	color: $link-color;
  font-size: 0.85em;
}

.alm-control.active {
  color: $link-color;
	text-decoration: none;
}

.alm-control.disabled {
	cursor: default;
	text-decoration: none;
	color: grey;
}

.alm-control:hover {
  text-decoration: underline;
}

.label-img {
	vertical-align: middle;
}

.chart div {
  background-color: white;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart a {
  fill: $link_color;
}

.chart .title { font-size: 24px; }
.chart .subtitle { fill: grey; }

.chart .line {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.req-chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
}

.reset {
  padding-left: 1em;
  font-size: 13px;
  font-weigth: normal;
  color: $bar-color-1;
}

.background.bar {
  fill: #dfdbd4;
}

.foreground.bar {
  fill: $bar-color-1;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: #978d7f;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

#request-list { min-height: 1024px; }
#request-list .date,
#request-list .day { margin-bottom: .4em; }
#request-list .request {
  line-height: 1.5em;
  background: $gray-light;
  margin-bottom: 2px;
}

#request-list .request div {
  display: inline-block;
  width: 100px;
}

#request-list div.time {
  color: $gray-dark;
}

#request-list div.duration {
  width: 100px;
  padding-right: 20px;
  text-align: right;
}

#request-list div.info {
  width: 40px;
  padding-right: 20px;
}

#request-list div.source {
  width: 180px;
  padding-right: 20px;
}

#request-list div.ids {
  width: 400px;
  padding-right: 20px;
}

#request-list .fast {
  color: $brand-success;
}

#request-list .slow {
  color: $brand-warning;
}

#totals {font-size: smaller; }
