.alm {
  font-size: 18px;
	margin-bottom: 15px;
}

.title {
  font-size: 27px;
  color: #789aa1;
}

.alm-chart {
  position: absolute;
  top: 0;
  left: 150px;
  font-size: 14px;
}

.axis line,
.axis path {
  fill: none;
  stroke: black;
	stroke-width: 1;
  shape-rendering: crispEdges;
}
.barsForTooltip {
  fill: ffffff;
  fill-opacity: 0;
}

.alm-source {
  float: left;
  position: relative;
  top: 0;
  padding-right: 50px;
  height: 140px;
}

.with-chart {
  width: 100%;
}

.alm-group {
  width: 100%;
  overflow: hidden;
}

.alm-label {
	width: 150px;
  height: 100px;
  position: relative;
  top: 10px;
  left: 0;
	padding: 5px;
	text-align: center;
	background: white;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
}

.viewed {
  background: $peter-river;
}

.bar.viewed {
  fill: $peter-river;
}

.bar.viewed-alt {
  fill: darken($peter-river, 15%);
}

.alm-label.viewed p, .alm-label.viewed a {
  color: $peter-river;
}

.saved {
  border: 2px solid $emerald;
}

.bar.saved {
  fill: $emerald;
}

.bar.saved-alt {
  fill: darken($emerald, 15%);
}

.alm-label.saved p, .alm-label.saved a {
  color: $emerald;
}

.discussed {
  border: 2px solid $turquoise;
}

.bar.discussed {
  fill: $turquoise;
}

.discussed_event {
  color: $turquoise;
}

.bar.discussed-alt {
  fill: darken($turquoise, 15%);
}

.alm-label.discussed p, .alm-label.discussed a {
  color: $turquoise;
}

.cited {
  border: 2px solid $amethyst;
}

.bar.cited {
  fill: $amethyst;
}

.bar.cited-alt {
  fill: darken($amethyst, 15%);
}

.alm-label.cited p, .alm-label.cited a {
  color: $amethyst;
}

.alm-label p, .alm-label a {
  color: $wet-asphalt;
}

.alm-label p {
  line-height: 18px;
}

.alm-label a {
  line-height: 18px;
  text-decoration: none;
}

.alm-label a:hover {
	background-color: transparent !important;
}

.alm-count {
	font-size: 32px;
	font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px;
}

.alm-control-label {
  text-align: right;
  margin-top: -10px;
}

.alm-control {
	color: $link-color;
  font-size: 16px;;
}

.alm-control.active {
  color: $link-color;
	text-decoration: none;
}

.alm-control.disabled {
	cursor: default;
	text-decoration: none;
	color: grey;
}

.alm-control:hover {
  text-decoration: underline;
}

.label-img {
	vertical-align: middle;
}

.chart div {
  background-color: white;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart a {
  fill: $link_color;
}

.chart .title { font-size: 24px; }
.chart .subtitle { fill: grey; }

.chart .line {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.req-chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
}

.reset {
  color: $bar-color-1;
}

.background.bar {
  fill: #dfdbd4;
}

.foreground.bar {
  fill: $bar-color-1;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 0.85em;
  font: $font-family-base;
}

.brush rect.extent {
  fill: #978d7f;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

#request-list { min-height: 1024px; }
#request-list .date,
#request-list .day { margin-bottom: .4em; }
#request-list .request {
  line-height: 27px;
  margin-bottom: 2px;
  padding-left: 15px;
}

#request-list .request div {
  display: inline-block;
  width: 100px;
}

#request-list div.time {
  color: $gray-dark;
}

#request-list div.duration {
  width: 100px;
  padding-right: 20px;
  text-align: right;
}

#request-list div.info {
  width: 40px;
  padding-right: 20px;
}

#request-list div.source {
  width: 180px;
  padding-right: 20px;
}

#request-list div.ids {
  width: 400px;
  padding-right: 20px;
}

#request-list .fast {
  color: $brand-success;
}

#request-list .slow {
  color: $brand-warning;
}

#count { padding-bottom: 1em; margin-bottom: 1em; }
