// Colors
// -------------------------

$turquoise:     #1abc9c;
$emerald:       #2ecc71;
$peter-river:   #3498db;
$amethyst:      #9b59b6;
$wet-asphalt:   #34495e;
$sun-flower:    #f1c40f;
$carrot:        #e67e22;
$alizarin:      #e74c3c;
$clouds:        #f4f6f7;
$silver:        #bfc5c9;
$asbestos:      #6c797a;

$gray:          lighten($silver, 15%);
$gray-light:    lighten($silver, 20%);
$gray-lighter:  lighten($silver, 30%);
$gray-dark:     darken($silver, 20%);
$gray-darker:   darken($silver, 30%);
$inverse:       white;

$brand-primary:         $wet-asphalt;
$brand-secondary:       $peter-river;
$brand-success:         $emerald;
$brand-warning:         $sun-flower;
$brand-danger:          $carrot;
$brand-info:            $peter-river;

$body-bg:               $gray-light;
$text-color:            $brand-primary;

$link-color:            $peter-river;
$link-hover-color:      mix($peter-river, black, 85%);

$hr-border:             $gray;

// Typography
// -------------------------

$font-family-base:      'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-demo:      'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
$font-size-base:        18px;
$font-size-large:       ceil(($font-size-base * 1.278));
$font-size-small:       ceil(($font-size-base * 0.853));

$font-size-h1:          floor($font-size-base * 2.0);
$font-size-h2:          floor($font-size-base * 1.8);
$font-size-h3:          floor($font-size-base * 1.6);
$font-size-h4:          floor($font-size-base * 1.4);
$font-size-h5:          $font-size-base;
$font-size-h6:          $font-size-base;

$line-height-base:      1.444;
$line-height-computed:  floor($font-size-base * $line-height-base);
$line-height-large:     1.33;
$line-height-small:     $line-height-base;

$headings-font-family:  $font-family-base;
$headings-font-weight:  600;
$headings-line-height:  1.1;
$headings-color:        $brand-primary;
$headings-small-color:  $gray-dark;

$pre-color:             black;
//$pre-bg:                $body-bg;
// $pre-border-color:      $gray-light;

$text-muted:            $gray-dark;

// Components
// -------------------------

$padding-base-vertical:  6px;
$padding-large-vertical: 10px;
$padding-small-vertical: 5px;

$component-active-color: white;
$component-active-bg:    $brand-primary;

// Buttons
// -------------------------

$btn-font-weight:       normal;

$btn-default-color:     $brand-primary;
$btn-default-bg:        $gray;
$btn-default-border:    $gray;
$btn-hover-bg:          mix($gray-light, white, 80%);
$btn-active-bg:         mix($gray-light, black, 85%);

$btn-primary-hover-bg:  mix($brand-secondary, white, 80%);
$btn-primary-active-bg: mix($brand-secondary, black, 85%);

$btn-info-bg:           $brand-info;
$btn-info-border:       $brand-info;
$btn-info-hover-bg:     mix($brand-info, white, 80%);
$btn-info-active-bg:    mix($brand-info, black, 85%);

$btn-success-hover-bg:  mix($brand-success, white, 80%);
$btn-success-active-bg: mix($brand-success, black, 85%);

$btn-danger-hover-bg:   mix($brand-danger, white, 80%);
$btn-danger-active-bg:  mix($brand-danger, black, 85%);

$btn-warning-hover-bg:  overlay($brand-warning, darken(white, 37.5%));
$btn-warning-active-bg: mix($brand-warning, black, 85%);

$btn-inverse-hover-bg:  overlay($brand-primary, darken(white, 37.5%));
$btn-inverse-active-bg: mix($brand-primary, black, 85%);

$btn-link-disabled-color: $gray-lighter;

// Navbar
// -------------------------

$navbar-link-space:    20px;
$navbar-sublink-space: 9px;
$navbar-height:        50px;
$navbar-inverse-bg:    $brand-primary;

// Nav
// -------------------------

$nav-tabs-border-color: $gray;
$nav-tabs-active-link-hover-color: $gray-dark;

// Dropdown Menu
// -------------------------

$dropdown-bg: $inverse;
$dropdown-caret-color: $brand-primary;
$dropdown-divider-bg: $gray;
$dropdown-link-color: $brand-primary;
$dropdown-link-hover-bg: $inverse;

// Close button
// -------------------------

$close-font-weight: bold;
$close-color:       $inverse;
$close-text-shadow: 0;


// Panels, alerts and labels
// -------------------------

$panel-footer-bg:                $gray;
$panel-inner-border:             $gray;

$panel-default-text:             $brand-primary;
$panel-default-heading-bg:       $gray;
$panel-default-border:           $gray;

$panel-warning-text:             $brand-primary;
$panel-warning-border:           $brand-warning;
$panel-warning-heading-bg:       $brand-warning;

$state-warning-text:             $brand-primary;
$state-warning-border:           $brand-warning;
$state-warning-bg:               $brand-warning;

$state-success-text:             $inverse;
$state-success-border:           $brand-success;
$state-success-bg:               $brand-success;

$state-info-text:                $inverse;
$state-info-border:              $brand-info;
$state-info-bg:                  $brand-info;

$state-danger-text:              $inverse;
$state-danger-border:            $brand-danger;
$state-danger-bg:                $brand-danger;

$label-default-bg:               $gray-dark;
$label-info-bg:                  $brand-info;
$label-warning-bg:               $brand-warning;

$alert-padding:                  10px;

// Badges
// -------------------------

$badge-bg:                       $gray-dark;

// Tables
// -------------------------

$table-cell-padding:             10px;
$table-bg-hover:                 lighten($brand-primary, 65%);
$table-bg-accent:                lighten($brand-primary, 65%);

// Forms
// -------------------------

$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2);
$input-height-large:             (floor($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2);
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2);
$input-color:                    black;
$input-color-placeholder:        $gray-dark;

// Charts
// -------------------------

$bar-color-1: $turquoise;
$bar-color-2: $emerald;
$bar-color-3: $peter-river;
$bar-color-4: $amethyst;
$bar-color-5: $wet-asphalt;

$bar-color-6: darken($bar-color-1, 10%);
$bar-color-7: lighten($bar-color-1, 20%);

@import "almviz";
@import "github";
@import "bootstrap-sprockets";
@import "bootstrap";

body { padding-top: 70px; padding-bottom: 20px; }

// Fix inconsistencies
.panel-heading { font-weight: bold; line-height: 1.33; }
.panel-heading small { font-weight: normal; margin-top: 3px; }
.panel-heading .label-report { border: 1px solid white; font-size: $font-size-base; }
.panel-list { font-weight: normal; }
.panel-source { min-height: 284px; }
// small span.label { vertical-align: bottom; font-size: 66%; margin-left: 0.5em; }
.label { font-weight: normal; }
.label-fatal { background-color: $alizarin; }
.btn-link { color: $navbar-inverse-link-color; }
.btn-link:hover, .btn-link:focus, .btn-link:active { color: $navbar-inverse-link-hover-color; text-decoration: none; }
.configuration-edit { margin-bottom: 1em; }
a { text-decoration: none; }

.table .number { text-align: right; width: 180px;}
.table .name { width: 300px;}
.table .description { width: 500px;}
.table .group { width: 190px;}
.table .status { width: 95px;}
.table .jobs { text-align: center;}
.checkbox input.check_boxes { margin-left: 0; }
.section { padding-bottom: 4px; }
.form_tag { padding-top: 20px; }
fieldset.radio_tag { margin-left: -25px; }
input.radio_tag { margin-right: 7px; }
p.radio_tag { margin-left: 25px; }
.graphs { text-align:center; }
.page-header { padding-bottom: 0; border-bottom: 0; margin: 0 0 10px; }
.tab-content { margin-top: 1em; }
.btn-toolbar { padding-left: 6px; }
btn.persona { border: 0; }
legend { color: $brand-primary; font-size: $font-size-h2; font-weight: bold; line-height: 1.4375; padding-top: 23px; }
.help-block { font-weight: normal; }
.boolean { padding-left: 5px; padding-right: 5px; }
select.form-control { width: 190px; }
.form-user { width: 400px !important; }
div.work { margin-top: 2em; margin-bottom: 15px; }
div.work .btn-toolbar { padding-left: 1px; }
#flash_alert a { color: $brand-primary; text-decoration: underline; }
label.date { display: block; }
select.form-control.date { display: inline; }
.form-group.has-error input, .form-group.has-error span.help-block, .has-error { color: $brand-danger; }
.form-group.has-error input, .form-group.has-error textarea, .form-group.has-error select { border: 1px solid $brand-danger; }
h1 { margin-top: 0; }
h5, h4.work { margin-bottom: 0; }
.loading {margin: 1em; }
#results h2:first-child, h4.work:first-child { margin-top: 0; }
#results h4, #results p { margin-bottom: 0; }
#results p { line-height: 1.33; }
td h4 { margin-top: 0; }
div.search { padding-top: 10px; padding-bottom: 10px; width: 400px; margin-left: auto; margin-right: auto; }
dt, dd { line-height: 1.5; }
.border-bottom { border-bottom: 1px solid #eee; }
.alert-inner { min-height: 120px; }
.remote { color: #88A2BD; }
#results { background-color: white; border: 1px solid $gray; padding: 1.5em; }
#rss { padding: 1em; }

// make the scrollbar always visible
html { overflow: -moz-scrollbars-vertical; overflow-y: scroll; }

// markdown formatting
body#home { background-color: white; }
div.home { font-size: 1.25em; }
.markdown pre { font-size: 1em; border: 0; padding: 10px; }
.markdown code {
  margin: 0 2px;
  padding: 0;
  background-color: $gray-light;
  border-radius: 3px;
  color: black;
  font-size: 0.8em;
}
.markdown table {
    border:1px solid $gray;
    border-collapse:collapse;
    display:table;
    empty-cells:hide;
    margin:-1px 0 23px;
    padding:0;
    table-layout:fixed
}
.markdown td,th {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 13px;
    padding-right: 13px;
}
.markdown table tr:nth-child(odd) {
    background: $gray;
}
.markdown table tr:nth-child(even) {
    background: $gray-light;
}
