$gray:                       lighten(#bfc5c9, 15%);

body {
  margin-bottom: 20px !important;
}
.navbar-default .container-fluid {
  margin-left: .75em;
}
#sign-in {
  border: 1px solid $gray;
  padding: 6px 8px;
  margin-top: 10px;
  margin-right: 16px;
  background-color: white;
}

@import 'application';
