$gray:                       lighten(#bfc5c9, 15%);

$cr_red: #ef3340;
$cr_turquoise: #3eb1c8;
$cr_light_grey: #d8d2c4;
$cr_yellow: #ffc72c;
$cr_dark_grey: #4f5858;

@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=e98f5793-4cb3-43cf-9c5a-90c30937c6bd&fontids=903184,903187,903190,903193,903196,903199,903202,903205");
@font-face{
font-family:"HelveticaNeueETW01-55Rg";
src:url("https://assets.crossref.org/private/fonts/903190/706ec8e5-fe4a-4518-91a6-7aba4d3d333f.eot?#iefix");
src:url("https://assets.crossref.org/private/fonts/903190/706ec8e5-fe4a-4518-91a6-7aba4d3d333f.eot?#iefix") format("eot"),url("https://assets.crossref.org/private/fonts/903190/dc50c02f-3f77-4e75-b89c-e3f9bb4752e6.woff2") format("woff2"),url("https://assets.crossref.org/private/fonts/903190/ce6f5b38-1cb5-4a27-8182-583aa68b2436.woff") format("woff"),url("https://assets.crossref.org/private/fonts/903190/ff06cde7-e06a-4cf0-af4d-5b2f737bf544.ttf") format("truetype"),url("https://assets.crossref.org/private/fonts/903190/958b12cf-2908-4254-8cb9-9b12c3aa151e.svg#958b12cf-2908-4254-8cb9-9b12c3aa151e") format("svg");
}


body {
  margin-bottom: 20px !important;
  font-family: HelveticaNeueETW01-55Rg !important;
  color: black !important;
}

h1, h2, h3, h4 {
  font-family: HelveticaNeueETW01-55Rg !important;
  color: black;
}

.navbar-inner,
.navbar-inner li,
.navbar-inner ul {
  background-color: $cr_dark_grey;
  color: white;
}

.navbar-text {
  color: white;
}

.subnav .navbar-nav a {
  color: white !important;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.subnav .navbar-nav a:hover {
  color: white; 
  background-color: $cr_turquoise !important;
}

.navbar-brand {
  height:130px;
}

.crossref-logo {
	margin: 15px;
	width: 150px;
	height: 63px;
}

#sign-in {
  border: 1px solid $gray;
  padding: 6px 8px;
  margin-top: 10px;
  margin-right: 16px;
  background-color: white;
}

@import 'application';
