$brand-logo:                 #1a8cd2;
$gray:                       lighten(#bfc5c9, 15%);

body {
  margin-bottom: 300px !important;
}
.navbar-default .navbar-brand {
  padding: 0 15px 17.5px 15px;

  img {
    display: inline;
  }
  span {
    vertical-align: middle;
  }
  span.logo {
    color: $brand-logo;
  }
}
#sign-in {
  border: 1px solid $gray;
  padding: 6px 8px;
  margin-top: 10px;
  margin-right: 16px;
  background-color: white;
}

@import 'application';
