$brand-logo:                 #1a8cd2;
$gray:                       lighten(#bfc5c9, 15%);

body {
  margin-bottom: 20px !important;
}
.navbar-default .navbar-brand {
  padding: 15px 15px 17.5px 25px;

  img {
    display: inline;
  }
  span {
    vertical-align: middle;
  }
  span.sitename {
    margin: 10px 10px 0 0;
  }
}
#sign-in {
  border: 1px solid $gray;
  padding: 6px 8px;
  margin-top: 10px;
  margin-right: 16px;
  background-color: white;
}

@import 'application';
