---
http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?fl=id,publication_date,title,cross_published_journal_name,author_display&fq=doc_type:full&q=&rows=1000&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Last-Modified:
      - Fri, 10 Apr 2015 04:52:47 GMT
      Etag:
      - '"NTQ3ZjcwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":0,"start":0,"docs":[]}}
  recorded_at: Fri, 10 Apr 2015 06:55:27 GMT
recorded_with: VCR 2.9.3
