---
http_interactions:
- request:
    method: get
    uri: https://cn.dataone.org/cn/v1/query/solr/?fl=id,title,author,datePublished,authoritativeMN,dateModified&q=dateModified:%5B2015-04-05T00:00:00Z%20TO%202015-04-05T23:59:59Z%5D%2BformatType:METADATA&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":4,"params":{"fl":"id,title,author,datePublished,authoritativeMN,dateModified","start":"0","q":"dateModified:[2015-04-05T00:00:00Z TO 2015-04-05T23:59:59Z]+formatType:METADATA","wt":"json","rows":"0"}},"response":{"numFound":0,"start":0,"docs":[]}}
  recorded_at: Tue, 26 Apr 2016 15:38:33 GMT
recorded_with: VCR 2.9.3
