<p>The following sources have not been updated for 24 hours:</p>

<% unless @sources.empty? -%>
<p><% @sources.each do |source| -%>
<%= source.title %><br/>
<% end -%></p>
<% else -%>
<p>No stale source found.</p>
<% end -%>

<p><%= link_to "Go to admin dashboard", @link %></p>
