---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works/10.1371/journal.pone.0018011/agency
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-agency","message-version":"1.0.0","message":{"DOI":"10.1371\/journal.pone.0018011","agency":{"id":"crossref","label":"CrossRef"}}}'
  recorded_at: Sat, 03 Oct 2015 08:01:52 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1371%2Fjournal.pone.0018011
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,9]],"timestamp":1433825620843},"reference-count":0,"publisher":"Public
        Library of Science (PLoS)","issue":"3","DOI":"10.1371\/journal.pone.0018011","type":"journal-article","page":"e18011","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","source":"CrossRef","title":["Stalking
        the Fourth Domain in Metagenomic Data: Searching for, Discovering, and Interpreting
        Novel, Deep Branches in Marker Gene Phylogenetic Trees"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1371","volume":"6","author":[{"affiliation":[],"family":"Wu","given":"Dongying"},{"affiliation":[],"family":"Wu","given":"Martin"},{"affiliation":[],"family":"Halpern","given":"Aaron"},{"affiliation":[],"family":"Rusch","given":"Douglas
        B."},{"affiliation":[],"family":"Yooseph","given":"Shibu"},{"affiliation":[],"family":"Frazier","given":"Marvin"},{"affiliation":[],"family":"Venter","given":"J.
        Craig"},{"affiliation":[],"family":"Eisen","given":"Jonathan A."}],"member":"http:\/\/id.crossref.org\/member\/340","container-title":["PLoS
        ONE"],"deposited":{"date-parts":[[2014,3,6]],"timestamp":1394064000000},"score":1.0,"subtitle":[],"editor":[{"affiliation":[],"family":"Fleischer","given":"Robert"}],"issued":{"date-parts":[[2011,3,18]]},"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pone.0018011","ISSN":["1932-6203"],"subject":["Agricultural
        and Biological Sciences(all)","Medicine(all)","Biochemistry, Genetics and
        Molecular Biology(all)"]}}'
  recorded_at: Sat, 03 Oct 2015 08:01:56 GMT
recorded_with: VCR 2.9.3
