---
http_interactions:
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1016/j.rcae.2013.04.001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1016/j.rcae.2013.04.001",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sun, 23 Aug 2015 19:07:37 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016%2Fj.rcae.2013.04.001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,2,10]],"timestamp":1423540050818},"reference-count":31,"publisher":"Elsevier
        BV","issue":"2","DOI":"10.1016\/j.rcae.2013.04.001","type":"journal-article","page":"79-81","source":"CrossRef","title":["Scientific
        writing, a neglected aspect of professional training"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","volume":"41","author":[{"affiliation":[],"family":"Eslava-Schmalbach","given":"Javier"},{"affiliation":[],"family":"G\u00f3mez-Duarte","given":"Oscar
        Gilberto"}],"member":"http:\/\/id.crossref.org\/member\/78","container-title":["Colombian
        Journal of Anesthesiology"],"deposited":{"date-parts":[[2013,4,23]],"timestamp":1366675200000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2013,4]]},"alternative-id":["S2256208713000266"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.rcae.2013.04.001","ISSN":["2256-2087"]}}'
  recorded_at: Sun, 23 Aug 2015 19:07:38 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1016/j.mnl.2012.09.014
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1016/j.mnl.2012.09.014",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sun, 23 Aug 2015 19:07:39 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016%2Fj.mnl.2012.09.014
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,2,10]],"timestamp":1423529252996},"reference-count":2,"publisher":"Elsevier
        BV","issue":"1","DOI":"10.1016\/j.mnl.2012.09.014","type":"journal-article","page":"48-51","source":"CrossRef","title":["The
        Art of Nursing Leadership"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","volume":"11","author":[{"affiliation":[],"family":"Jeffery","given":"Alvin
        D."}],"member":"http:\/\/id.crossref.org\/member\/78","container-title":["Nurse
        Leader"],"deposited":{"date-parts":[[2013,1,23]],"timestamp":1358899200000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2013,2]]},"alternative-id":["S1541461212002546"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.mnl.2012.09.014","ISSN":["1541-4612"],"subject":["Leadership
        and Management"]}}'
  recorded_at: Sun, 23 Aug 2015 19:07:39 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.4416/JCST2013-00007
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.4416/JCST2013-00007",
         "RA": "mEDRA"
        }
        ]
  recorded_at: Sun, 23 Aug 2015 19:07:40 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1016/j.ajhg.2013.07.008
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1016/j.ajhg.2013.07.008",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sun, 23 Aug 2015 19:07:40 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016%2Fj.ajhg.2013.07.008
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,10]],"timestamp":1433927530715},"reference-count":28,"publisher":"Elsevier
        BV","issue":"3","license":[{"content-version":"tdm","delay-in-days":0,"start":{"date-parts":[[2013,9,1]],"timestamp":1377993600000},"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"content-version":"vor","delay-in-days":0,"start":{"date-parts":[[2013,7,11]],"timestamp":1373500800000},"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"}],"DOI":"10.1016\/j.ajhg.2013.07.008","type":"journal-article","page":"538-544","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"CrossRef","title":["Diversity
        of Lactase Persistence Alleles in Ethiopia: Signature of a Soft Selective
        Sweep"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","volume":"93","author":[{"affiliation":[],"family":"Jones","given":"Bryony\u00a0L."},{"affiliation":[],"family":"Raga","given":"Tamiru\u00a0O."},{"affiliation":[],"family":"Liebert","given":"Anke"},{"affiliation":[],"family":"Zmarz","given":"Pawel"},{"affiliation":[],"family":"Bekele","given":"Endashaw"},{"affiliation":[],"family":"Danielsen","given":"E.\u00a0Thomas"},{"affiliation":[],"family":"Olsen","given":"Anders\u00a0Kr\u00fcger"},{"affiliation":[],"family":"Bradman","given":"Neil"},{"affiliation":[],"family":"Troelsen","given":"Jesper\u00a0T."},{"affiliation":[],"family":"Swallow","given":"Dallas\u00a0M."}],"member":"http:\/\/id.crossref.org\/member\/78","container-title":["The
        American Journal of Human Genetics"],"link":[{"intended-application":"text-mining","content-version":"vor","content-type":"text\/xml","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0002929713003261?httpAccept=text\/xml"},{"intended-application":"text-mining","content-version":"vor","content-type":"text\/plain","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0002929713003261?httpAccept=text\/plain"}],"deposited":{"date-parts":[[2015,3,19]],"timestamp":1426723200000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2013,9]]},"alternative-id":["S0002929713003261"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.ajhg.2013.07.008","ISSN":["0002-9297"],"subject":["Genetics(clinical)","Genetics"],"assertion":[{"label":"This
        article is maintained by","name":"publisher","value":"Elsevier"},{"label":"Article
        Title","name":"articletitle","value":"Diversity of Lactase Persistence Alleles
        in Ethiopia: Signature of a Soft Selective Sweep"},{"label":"Journal Title","name":"journaltitle","value":"The
        American Journal of Human Genetics"},{"label":"CrossRef DOI link to publisher
        maintained version","name":"articlelink","value":"http:\/\/dx.doi.org\/10.1016\/j.ajhg.2013.07.008"},{"label":"Content
        Type","name":"content_type","value":"article"},{"label":"Copyright","name":"copyright","value":"Copyright
        \u00a9 2013 The Authors. Published by Elsevier Inc."}]}}'
  recorded_at: Sun, 23 Aug 2015 19:07:40 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1111/jpet.12025
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1111/jpet.12025",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sun, 23 Aug 2015 19:07:41 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1111%2Fjpet.12025
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,8]],"timestamp":1433753268487},"reference-count":29,"publisher":"Wiley-Blackwell","issue":"3","DOI":"10.1111\/jpet.12025","type":"journal-article","page":"411-432","source":"CrossRef","title":["A
        Coordination Game Model of Charitable Giving and Seed Money Effect"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1111","volume":"15","author":[{"affiliation":[{"name":"Kyoto
        University"}],"family":"HATSUMI","given":"KENTARO"}],"member":"http:\/\/id.crossref.org\/member\/311","container-title":["Journal
        of Public Economic Theory"],"deposited":{"date-parts":[[2013,5,2]],"timestamp":1367452800000},"score":1.0,"subtitle":["Charitable
        Giving and Seed Money Effect"],"issued":{"date-parts":[[2013,3,14]]},"URL":"http:\/\/dx.doi.org\/10.1111\/jpet.12025","ISSN":["1097-3923"]}}'
  recorded_at: Sun, 23 Aug 2015 19:07:41 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.3103/s002713141305009x
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.3103/s002713141305009x",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sun, 23 Aug 2015 19:07:41 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.3103%2Fs002713141305009x
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,8]],"timestamp":1433794364359},"reference-count":5,"publi[...]
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1371/journal.pone.0073279
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1371/journal.pone.0073279",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sun, 23 Aug 2015 19:07:42 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1371%2Fjournal.pone.0073279
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,9]],"timestamp":1433820891012},"reference-count":0,"pu[...]
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1088/0031-9155/58/16/5803
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1088/0031-9155/58/16/5803",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sun, 23 Aug 2015 19:07:43 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1088%2F0031-9155%2F58%2F16%2F5803
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,8]],"timestamp":1433774633614},"reference-count"[...]
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.4028/www.scientific.net/amr.749.362
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.4028/www.scientific.net/amr.749.362",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sun, 23 Aug 2015 19:07:43 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.4028%2Fwww.scientific.net%2Famr.749.362
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,8,10]],"timestamp":1439168883302},"reference-count":0,"publisher":"Trans
        Tech Publications","DOI":"10.4028\/www.scientific.net\/amr.749.362","type":"journal-article","page":"362-365","source":"CrossRef","title":["Analysis
        of Genetic Subtypes and Distribution of Hantavirus in Jilin Area"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.4028","volume":"749","author":[{"affiliation":[],"family":"Zhao","given":"Chen"},{"affiliation":[],"family":"Zhao","given":"Yang"},{"affiliation":[],"family":"Yuan","given":"Zhong
        Hai"},{"affiliation":[],"family":"Sun","given":"Ke Xin"},{"affiliation":[],"family":"Li","given":"Yan"}],"member":"http:\/\/id.crossref.org\/member\/2457","container-title":["AMR","Advanced
        Materials Research"],"deposited":{"date-parts":[[2015,8,6]],"timestamp":1438819200000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2013,8]]},"URL":"http:\/\/dx.doi.org\/10.4028\/www.scientific.net\/amr.749.362","ISSN":["1662-8985"]}}'
  recorded_at: Sun, 23 Aug 2015 19:07:43 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1111/tpj.12241
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1111/tpj.12241",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sun, 23 Aug 2015 19:07:44 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1111%2Ftpj.12241
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,8]],"timestamp":1433777940239},"reference-count":63,"publisher":"[...]
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.2175/193864713813504223
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.2175/193864713813504223",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sun, 23 Aug 2015 19:07:44 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.2175%2F193864713813504223
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,9]],"timestamp":1433846898199},"reference-count":0,"publisher":"Water
        Environment Federation","issue":"1","DOI":"10.2175\/193864713813504223","type":"journal-article","page":"667-686","source":"CrossRef","title":["Clean
        as a Whistle: Evaluation of Brick Sewers and Siphons"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.2175","volume":"2013","author":[{"affiliation":[],"family":"Curti","given":"Robert
        A."}],"member":"http:\/\/id.crossref.org\/member\/970","container-title":["Proceedings
        of the Water Environment Federation","proc water environ fed"],"deposited":{"date-parts":[[2014,9,16]],"timestamp":1410825600000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2013,1,1]]},"alternative-id":["1938-6478(20130101)2013:1L.667;1-"],"URL":"http:\/\/dx.doi.org\/10.2175\/193864713813504223","ISSN":["1938-6478"]}}'
  recorded_at: Sun, 23 Aug 2015 19:07:44 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1016/j.fertnstert.2013.07.1912
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1016/j.fertnstert.2013.07.1912",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sun, 23 Aug 2015 19:07:44 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016%2Fj.fertnstert.2013.07.1912
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,9]],"timestamp":1433874085883},"reference-count":[...]
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1007/s40278-013-1403-z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1007/s40278-013-1403-z",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sun, 23 Aug 2015 19:07:45 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1007%2Fs40278-013-1403-z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,8]],"timestamp":1433787605282},"reference-count":1,"publisher":"Springer
        Science + Business Media","issue":"1","DOI":"10.1007\/s40278-013-1403-z","type":"journal-article","page":"21-21","source":"CrossRef","title":["Insulin
        overdose"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1007","volume":"1439","member":"http:\/\/id.crossref.org\/member\/297","container-title":["Reactions
        Weekly"],"deposited":{"date-parts":[[2013,4,12]],"timestamp":1365724800000},"score":1.0,"subtitle":["Mildly
        low blood glucose levels in an elderly patient: case report"],"issued":{"date-parts":[[2013,2]]},"alternative-id":["1403"],"URL":"http:\/\/dx.doi.org\/10.1007\/s40278-013-1403-z","ISSN":["0114-9954","1179-2051"]}}'
  recorded_at: Sun, 23 Aug 2015 19:07:45 GMT
[...]
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1111/geb.12100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1111/geb.12100",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sun, 23 Aug 2015 19:07:45 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1111%2Fgeb.12100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,8]],"timestamp":1433798771814},"reference-count":145,"publisher":[...]
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1212/wnl.0b013e3182a55fcb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1212/wnl.0b013e3182a55fcb",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sun, 23 Aug 2015 19:07:46 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1212%2Fwnl.0b013e3182a55fcb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,10]],"timestamp":1433915509215},"reference-count":0,"publisher":"Ovid
        Technologies (Wolters Kluwer Health)","issue":"13","DOI":"10.1212\/wnl.0b013e3182a55fcb","type":"journal-article","page":"e100-e100","update-policy":"http:\/\/dx.doi.org\/10.1212\/crossmarkpolicy","source":"CrossRef","title":["Teaching
        Video NeuroImages: Reading epilepsy: A seizure in a thousand words (or less)"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1212","volume":"81","author":[{"affiliation":[],"family":"Gregory","given":"J.
        K."},{"affiliation":[],"family":"Broomall","given":"E. M."}],"member":"http:\/\/id.crossref.org\/member\/276","container-title":["Neurology"],"deposited":{"date-parts":[[2015,3,18]],"timestamp":1426636800000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2013,9,23]]},"URL":"http:\/\/dx.doi.org\/10.1212\/wnl.0b013e3182a55fcb","ISSN":["0028-3878","1526-632X"],"subject":["Clinical
        Neurology"]}}'
  recorded_at: Sun, 23 Aug 2015 19:07:47 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1016/j.pscychresns.2013.05.007
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1016/j.pscychresns.2013.05.007",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sun, 23 Aug 2015 19:07:47 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016%2Fj.pscychresns.2013.05.007
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,2,10]],"timestamp":1423580287515},"reference-count"[...]
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.4049/jimmunol.1302033
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.4049/jimmunol.1302033",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sun, 23 Aug 2015 19:07:47 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.4049%2Fjimmunol.1302033
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,8]],"timestamp":1433800076038},"reference-count":0,"publisher":"The
        American Association of Immunologists","issue":"12","DOI":"10.4049\/jimmunol.1302033","type":"journal-article","page":"6052-6059","source":"CrossRef","title":["Temporal
        Requirements for B Cells in the Establishment of CD4 T Cell Memory"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.4049","volume":"191","author":[{"affiliation":[],"family":"Mollo","given":"S.
        B."},{"affiliation":[],"family":"Zajac","given":"A. J."},{"affiliation":[],"family":"Harrington","given":"L.
        E."}],"member":"http:\/\/id.crossref.org\/member\/2487","container-title":["The
        Journal of Immunology"],"deposited":{"date-parts":[[2013,12,6]],"timestamp":1386288000000},"score":1.0,"subtitle":[],"issued":{"date-parts":[[2013,11,11]]},"URL":"http:\/\/dx.doi.org\/10.4049\/jimmunol.1302033","ISSN":["0022-1767","1550-6606"],"subject":["Medicine(all)"]}}'
  recorded_at: Sun, 23 Aug 2015 19:07:47 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1002/jeab.48
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1002/jeab.48",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sun, 23 Aug 2015 19:07:48 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1002%2Fjeab.48
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,8]],"timestamp":1433790329881},"reference-count":41,"publisher":"Wiley-Blackwell","issue":"3","DOI":"10.1002\/jeab.48","type":"journal-article","page":"370-395","source":"CrossRef","title":["Delayed
        reinforcement and fixed-ratio performance"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1002","volume":"100","author":[{"affiliation":[{"name":"West
        Virginia University"}],"family":"Jarmolowicz","given":"David P."},{"affiliation":[{"name":"West
        Virginia University"}],"family":"Lattal","given":"Kennon A."}],"member":"http:\/\/id.crossref.org\/member\/311","container-title":["Journal
        of the Experimental Analysis of Behavior"],"deposited":{"date-parts":[[2013,11,4]],"timestamp":1383523200000},"score":1.0,"subtitle":["DELAYED
        REINFORCEMENT AND FIXED-RATIO PERFORMANCE"],"issued":{"date-parts":[[2013,9,13]]},"URL":"http:\/\/dx.doi.org\/10.1002\/jeab.48","ISSN":["0022-5002"],"subject":["Experimental
        and Cognitive Psychology","Behavioral Neuroscience"]}}'
  recorded_at: Sun, 23 Aug 2015 19:07:48 GMT
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.4028/www.scientific.net/amm.300-301.1344
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.4028/www.scientific.net/amm.300-301.1344",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Sun, 23 Aug 2015 19:07:48 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.4028%2Fwww.scientific.net%2Famm.300-301.1344
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,8,10]],"timestamp":1439167936158},"reference-count":0,"publisher":"Trans
[...]
