---
http_interactions:
- request:
    method: get
    uri: http://mediacuration.plos.org/api/v1?doi=10.1371/journal.pone.0047712&state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Etag:
      - '"3eaa680e20365244e2b880a48c7c13bc"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"doi":"10.1371/journal.pone.0047712","referrals":[{"referral":"http://www.huffingtonpost.com/2013/11/08/personal-hygiene-facts_n_4217839.html","language":"","title":"Everything
        You Know About Your Personal Hygiene Is Wrong ","type":"News","publication":"Huffington
        Post","published_on":"2013-11-26T00:00:00Z","link_state":"APPROVED"},{"referral":"http://news.nationalgeographic.com/news/2012/11/121114-belly-button-bacteria-science-health-dunn/","language":"English","title":"What
        Lives in Your Belly Button? Study Finds \"Rain Forest\" of Species","type":"News","publication":"National
        Geographic Society","published_on":"","link_state":""},{"referral":"http://www.wildlifeofyourbody.org/?page_id=1348","language":"English","title":"Project
        Description @ Belly Button Biodiversity","type":"Blog","[...]
