---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works/10.1371/journal.pone.0000013/agency
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-agency","message-version":"1.0.0","message":{"DOI":"10.1371\/journal.pone.0000013","agency":{"id":"crossref","label":"CrossRef"}}}'
  recorded_at: Sat, 03 Oct 2015 08:02:18 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1371%2Fjournal.pone.0000013
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2015,6,9]],"timestamp":1433813200347},"reference-count":0,"publisher":"Public
        Library of Science (PLoS)","issue":"1","DOI":"10.1371\/journal.pone.0000013","type":"journal-article","page":"e13","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","source":"CrossRef","title":["Short
        and Long-Term Effects of hVEGF-A165 in Cre-Activated Transgenic Mice"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1371","volume":"1","author":[{"affiliation":[],"family":"Lepp\u00e4nen","given":"Pia"},{"affiliation":[],"family":"Kholov\u00e1","given":"Ivana"},{"affiliation":[],"family":"M\u00e4h\u00f6nen","given":"Anssi
        J."},{"affiliation":[],"family":"Airenne","given":"Kari"},{"affiliation":[],"family":"Koota","given":"Suvi"},{"affiliation":[],"family":"Mansukoski","given":"Hannu"},{"affiliation":[],"family":"N\u00e4rv\u00e4inen","given":"Johanna"},{"affiliation":[],"family":"Wirzenius","given":"Maria"},{"affiliation":[],"family":"Alhonen","given":"Leena"},{"affiliation":[],"family":"J\u00e4nne","given":"Juhani"},{"affiliation":[],"family":"Alitalo","given":"Kari"},{"affiliation":[],"family":"Yl\u00e4-Herttuala","given":"Seppo"}],"member":"http:\/\/id.crossref.org\/member\/340","container-title":["PLoS
        ONE"],"deposited":{"date-parts":[[2014,3,5]],"timestamp":1393977600000},"score":1.0,"subtitle":[],"editor":[{"affiliation":[],"family":"Blagosklonny","given":"Mihail"}],"issued":{"date-parts":[[2006,12,20]]},"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pone.0000013","ISSN":["1932-6203"],"subject":["Agricultural
        and Biological Sciences(all)","Medicine(all)","Biochemistry, Genetics and
        Molecular Biology(all)"]}}'
  recorded_at: Sat, 03 Oct 2015 08:02:18 GMT
recorded_with: VCR 2.9.3
