---
http_interactions:
- request:
    method: get
    uri: http://www.pubmedcentral.nih.gov/utils/idconv/v1.0/?email=info@example.org&format=json&ids=10.1371/journal.pone.0000030x&idtype=doi&tool=Lagotto%204.0%20-%20http://lagotto-4-0-stable.local
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {
         "status": "ok",
         "responseDate": "2015-05-16 19:36:58",
         "request": "email=info%40example.org;format=json;ids=10.1371%2Fjournal.pone.0000030x;idtype=doi;tool=Lagotto%204.0%20-%20http%3A%2F%2Flagotto-4-0-stable.local",
         "records": [
           {
            "doi": "10.1371/journal.pone.0000030x",
            "live": "false",
            "status": "error",
            "errmsg": "invalid article id"
           }
         ]
        }
  recorded_at: Sat, 16 May 2015 23:36:58 GMT
recorded_with: VCR 2.9.3
