<div class="panel panel-default">
  <div class="panel-heading panel-title">
    <% if can?(:manage, @contributor) %>
      <div class="btn-toolbar pull-right">
        <div class="btn-group btn-group-sm">
          <%= link_to icon("trash").html_safe, contributor_path(@contributor.pid), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'btn btn-default' %>
        </div>
      </div>
    <% end %>
    <%= @contributor.credit_name.presence || @contributor.orcid %>
  </div>
  <div class="panel-footer">
    <%= link_to h(icon("external-link") + " " + @contributor.pid).html_safe, @contributor.pid %>
  </div>
</div>
