---
http_interactions:
- request:
    method: get
    uri: http://pub.orcid.org/v1.1/search/orcid-bio/?q=digital-object-ids:%2210.1371/journal.pone.0018011%22&rows=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message-version":"1.1","orcid-search-results":{"orcid-search-result":[{"relevancy-score":{"value":0.72909266},"orcid-profile":{"orcid":null,"orcid-identifier":{"value":null,"uri":"http://orcid.org/0000-0002-0159-2197","path":"0000-0002-0159-2197","host":"orcid.org"},"orcid-bio":{"personal-details":{"given-names":{"value":"Jonathan
        A."},"family-name":{"value":"Eisen"}},"biography":{"value":"","visibility":null},"researcher-urls":{"researcher-url":[{"url-name":{"value":"microBEnet"},"url":{"value":"http://microBE.net"}},{"url-name":{"value":"Tree
        of Life Blog"},"url":{"value":"http://phylogenomics.blogspot.com"}},{"url-name":{"value":"Lab
        Page"},"url":{"value":"http://phylogenomics.wordpress.com"}},{"url-name":{"value":"Twitter"},"url":{"value":"http://twitter.com/phylogenomics"}}],"visibility":null},"keywords":{"keyword":[{"value":"evolution,
        genomics, microbiology, ecology, microbial diversity, citizen science, "}],"visibility":null},"external-identifiers":{"external-identifier":[{"external-id-common-name":{"value":"Scopus
        Author ID"},"external-id-reference":{"value":"35247902700"},"external-id-url":{"value":"http://www.scopus.com/inward/authorDetails.url?authorID=35247902700&partnerID=MN8TOARS"},"external-id-source":{"value":null,"uri":"http://orcid.org/0000-0002-5982-8983","path":"0000-0002-5982-8983","host":"orcid.org"}}],"visibility":null},"delegation":null,"applications":null,"scope":null},"type":null,"group-type":null,"client-type":null}}],"num-found":1}}'
  recorded_at: Sun, 04 Jan 2015 17:40:08 GMT
recorded_with: VCR 2.9.3
