---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works/10.3758/s13423-011-0070-4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Experimental
        and Cognitive Psychology"],"issued":{"date-parts":[[2011,3,12]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.3758","author":[{"family":"Occelli","given":"Valeria"},{"family":"Spence","given":"Charles"},{"family":"Zampini","given":"Massimiliano"}],"container-title":["Psychon
        Bull Rev","Psychonomic Bulletin & Review"],"reference-count":275,"page":"429-454","deposited":{"date-parts":[[2011,5,20]],"timestamp":1305849600000},"issue":"3","title":["Audiotactile
        interactions in temporal perception"],"alternative-id":["70"],"type":"journal-article","DOI":"10.3758\/s13423-011-0070-4","ISSN":["1069-9384","1531-5320"],"URL":"http:\/\/dx.doi.org\/10.3758\/s13423-011-0070-4","source":"CrossRef","publisher":"Springer
        Science + Business Media","indexed":{"date-parts":[[2015,2,6]],"timestamp":1423236028807},"volume":"18","member":"http:\/\/id.crossref.org\/member\/297"}}'
  recorded_at: Sun, 24 May 2015 21:38:46 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016/j.neuroscience.2009.08.040
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Neuroscience(all)"],"license":[{"content-version":"tdm","delay-in-days":0,"start":{"date-parts":[[2009,12,1]],"timestamp":1259625600000},"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"issued":{"date-parts":[[2009,12]]},"link":[{"intended-application":"text-mining","content-version":"vor","content-type":"text\/xml","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0306452209013980?httpAccept=text\/xml"},{"intended-application":"text-mining","content-version":"vor","content-type":"text\/plain","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0306452209013980?httpAccept=text\/plain"}],"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","author":[{"family":"Tokizawa","given":"K."},{"family":"Uchida","given":"Y."},{"family":"Nagashima","given":"K."}],"container-title":["Neuroscience"],"reference-count":46,"page":"1377-1386","deposited":{"date-parts":[[2015,4,29]],"timestamp":1430265600000},"issue":"3","title":["Thermoregulation
        in the cold changes depending on the time of day and feeding condition: physiological
        and anatomical analyses of involved circadian mechanisms"],"alternative-id":["S0306452209013980"],"type":"journal-article","DOI":"10.1016\/j.neuroscience.2009.08.040","ISSN":["0306-4522"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.neuroscience.2009.08.040","source":"CrossRef","publisher":"Elsevier
        BV","indexed":{"date-parts":[[2015,5,2]],"timestamp":1430608298367},"volume":"164","member":"http:\/\/id.crossref.org\/member\/78"}}'
  recorded_at: Sun, 24 May 2015 21:38:47 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016/j.jneuroim.2008.06.023
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Immunology","Immunology
        and Allergy","Clinical Neurol[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1093/jac/dkn166
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Infectious
        Diseases","Pharmacology (medical)","Pharmacology"],"is[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016/j.brainres.2010.04.021
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Molecular
        Biology","Clinical Neurology","Neuroscience[...]
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016/j.ejphar.2007.09.030
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Pharmacology"],"issued":{"date-parts":[[2008,1]]},"link":[{"int[...]
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1093/sysbio/syr078
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Ecology,
        Evolution, Behavior and Systematics","Genetics"],"iss[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1007/s00421-009-1295-z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Orthopedics
        and Sports Medicine","Physiology (medical)","P[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1038/nrendo.2010.194
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Endocrinology,
        Diabetes and Metabolism","Endocrinology"],"issued":{"date-parts":[[2010,11,30]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1038","author":[{"family":"Furuyashiki","given":"Tomoyuki"},{"family":"Narumiya","given":"Shuh"}],"container-title":["Nat
        Rev Endocrinol","Nature Reviews Endocrinology"],"reference-count":134,"page":"163-175","deposited":{"date-parts":[[2011,8,5]],"timestamp":1312502400000},"issue":"3","title":["Stress
        responses: the contribution of prostaglandin E2 and its receptors"],"alternative-id":["nrendo.2010.194"],"type":"journal-article","DOI":"10.1038\/nrendo.2010.194","ISSN":["1759-5029","1759-5037"],"URL":"http:\/\/dx.doi.org\/10.1038\/nrendo.2010.194","source":"CrossRef","publisher":"Nature
        Publishing Group","indexed":{"date-parts":[[2015,2,7]],"timestamp":1423341135697},"volume":"7","member":"http:\/\/id.crossref.org\/member\/339"}}'
  recorded_at: Sun, 24 May 2015 21:38:56 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016/j.physbeh.2008.03.022
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Experimental
        and Cognitive Psychology","Behavioral Neu[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1098/rspb.2010.0008
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Immunology
        and Microbiology(all)","Agricultural and Biological Sciences(all)","Medicine(all)","Biochemistry,
        Genetics and Molecular Biology(all)","Environmental Science(all)"],"issued":{"date-parts":[[2010,3,3]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1098","update-policy":"http:\/\/dx.doi.org\/10.1098\/crossmarkpolicy","author":[{"family":"Sgro","given":"C.
        M."},{"family":"Wegener","given":"B."},{"family":"Hoffmann","given":"A. A."}],"container-title":["Proceedings
        of the Royal Society B: Biological Sciences"],"reference-count":26,"page":"2049-2057","deposited":{"date-parts":[[2012,10,22]],"timestamp":1350864000000},"issue":"1690","title":["A
        naturally occurring variant of Hsp90 that is associated with decanalization"],"type":"journal-article","DOI":"10.1098\/rspb.2010.0008","ISSN":["0962-8452","1471-2954"],"URL":"http:\/\/dx.doi.org\/10.1098\/rspb.2010.0008","source":"CrossRef","publisher":"The
        Royal Society","indexed":{"date-parts":[[2015,2,9]],"timestamp":1423480179715},"volume":"277","member":"http:\/\/id.crossref.org\/member\/175"}}'
  recorded_at: Sun, 24 May 2015 21:38:57 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016/j.plipres.2006.11.001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Biochemistry","Cell
        Biology"],"issued":{"date-parts":[[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1007/s15010-008-8087-y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Infectious
        Diseases","Microbiology (medical)"],"issued":{"date-parts":[[2009,3,23]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1007","author":[{"family":"Cardona","given":"P.-J."}],"container-title":["Infection"],"reference-count":56,"page":"80-86","deposited":{"date-parts":[[2013,4,12]],"timestamp":1365724800000},"issue":"2","title":["A
        Dynamic Reinfection Hypothesis of Latent Tuberculosis Infection"],"alternative-id":["8087"],"type":"journal-article","DOI":"10.1007\/s15010-008-8087-y","ISSN":["0300-8126","1439-0973"],"URL":"http:\/\/dx.doi.org\/10.1007\/s15010-008-8087-y","source":"CrossRef","publisher":"Springer
        Science + Business Media","indexed":{"date-parts":[[2015,2,10]],"timestamp":1423561873787},"volume":"37","member":"http:\/\/id.crossref.org\/member\/297"}}'
  recorded_at: Sun, 24 May 2015 21:38:59 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1111/j.1460-9568.2007.05843.x
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":["Hypothalamic
        projections to raphe: stress and inflammation"],"su[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.5012/bkcs.2011.32.2.620
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Chemistry(all)"],"issued":{"date-parts":[[2011,2,20]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.5012","author":[{"family":"Wang","given":"Liang"},{"family":"Zhao","given":"Xiao-Jun"}],"container-title":["Bulletin
        of the Korean Chemical Society"],"reference-count":4,"page":"620-624","deposited":{"date-parts":[[2012,12,10]],"timestamp":1355097600000},"issue":"2","title":["","Dynamic
        Research of a Potential Carrier for Hydrophobic Compound Model Pyrene Using
        Amphiphilic Peptide EYK"],"type":"journal-article","DOI":"10.5012\/bkcs.2011.32.2.620","ISSN":["0253-2964"],"URL":"http:\/\/dx.doi.org\/10.5012\/bkcs.2011.32.2.620","source":"CrossRef","publisher":"Korean
        Chemical Society","indexed":{"date-parts":[[2015,2,9]],"timestamp":1423489876974},"volume":"32","member":"http:\/\/id.crossref.org\/member\/2923"}}'
  recorded_at: Sun, 24 May 2015 21:39:01 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1890/07-1689.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Ecology"],"issued":{"date-parts":[[2008,7]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1890","author":[{"family":"Bock","given":"Carl
        E."},{"family":"Jones","given":"Zach F."},{"family":"Bock","given":"Jane H."}],"container-title":["Ecological
        Applications"],"reference-count":38,"page":"1093-1106","deposited":{"date-parts":[[2011,7,13]],"timestamp":1310515200000},"issue":"5","title":["THE
        OASIS EFFECT: RESPONSE OF BIRDS TO EXURBAN DEVELOPMENT IN A SOUTHWESTERN SAVANNA"],"alternative-id":["10.1890\/07-1689.1"],"type":"journal-article","DOI":"10.1890\/07-1689.1","ISSN":["1051-0761"],"URL":"http:\/\/dx.doi.org\/10.1890\/07-1689.1","source":"CrossRef","publisher":"Ecological
        Society of America","indexed":{"date-parts":[[2015,2,7]],"timestamp":1423272909861},"volume":"18","member":"http:\/\/id.crossref.org\/member\/792"}}'
  recorded_at: Sun, 24 May 2015 21:39:01 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1097/SHK.0b013e3180caac7e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[""],"subject":["Critical
        Care and Intensive Care Medicine","Emergency Medicine"],"issued":{"date-parts":[[2007,7]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1097","author":[{"family":"Yilmaz","given":"Sertac"},{"family":"Millington","given":"William
        R."},{"family":"Feleder","given":"Carlos"}],"container-title":["Shock"],"reference-count":27,"page":"1","deposited":{"date-parts":[[2010,6,10]],"timestamp":1276128000000},"title":["THE
        PREOPTIC ANTERIOR HYPOTHALAMIC AREA MEDIATES INITIATION OF THE HYPOTENSIVE
        RESPONSE INDUCED BY LPS IN MALE RATS"],"type":"journal-article","DOI":"10.1097\/shk.0b013e3180caac7e","ISSN":["1073-2322"],"URL":"http:\/\/dx.doi.org\/10.1097\/shk.0b013e3180caac7e","source":"CrossRef","publisher":"Ovid
        Technologies (Wolters Kluwer Health)","indexed":{"date-parts":[[2015,2,5]],"timestamp":1423178756429},"member":"http:\/\/id.crossref.org\/member\/276"}}'
  recorded_at: Sun, 24 May 2015 21:39:02 GMT
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1089/cyber.2009.0310
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Applied
        Psychology","Social Psychology","Computer Science Ap[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1080/03079450903190871
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Medicine(all)"],"issued":{"date-parts":[[2009,10]]},"score":1.0,"p[...]
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1007/s00441-010-1037-x
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Histology","Pathology
        and Forensic Medicine","Cell Biology[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1016/j.lfs.2008.04.003
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Biochemistry,
        Genetics and Molecular Biology(all)","Pharma[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.3846/20297475.2012.659680
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"issued":{"date-parts":[[2012,6]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.3846","author":[{"family":"Wo\u017aniak","given":"Mateusz"}],"container-title":["Limes:
        Borderland Studies"],"reference-count":40,"page":"1-10","deposited":{"date-parts":[[2012,6,28]],"timestamp":1340841600000},"issue":"1","title":["Pictures
        of me: possibilities of shaping our body image through virtual reality"],"alternative-id":["10.3846\/20297475.2012.659680"],"type":"journal-article","DOI":"10.3846\/20297475.2012.659680","ISSN":["2029-7475","2029-7483"],"URL":"http:\/\/dx.doi.org\/10.3846\/20297475.2012.659680","source":"CrossRef","publisher":"Vilnius
        Gediminas Technical University","indexed":{"date-parts":[[2015,2,9]],"timestamp":1423467213704},"volume":"5","member":"http:\/\/id.crossref.org\/member\/2209"}}'
  recorded_at: Sun, 24 May 2015 21:39:09 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1093/infdis/jis381
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Immunology
        and Allergy","Infectious Diseases"],"issued":{"date[...]
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1080/07418825.2011.555413
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"subtitle":[],"subject":["Law","Pathology
        and Forensic Medicine"],"issued":{"date-parts":[[2012,4]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1080","author":[{"family":"Steiner","given":"Benjamin"},{"family":"Makarios","given":"Matthew
        D."},{"family":"Travis III","given":"Lawrence F."},{"family":"Meade","given":"Benjamin"}],"container-title":["Justice
        Quarterly"],"reference-count":81,"page":"229-257","deposited":{"date-parts":[[2012,2,20]],"timestamp":1329696000000},"issue":"2","title":["Examining
        the Effects of Community-Based Sanctions on Offender Recidivism"],"alternative-id":["10.1080\/07418825.2011.555413"],"type":"journal-article","DOI":"10.1080\/07418825.2011.555413","ISSN":["0741-8825","1745-9109"],"URL":"http:\/\/dx.doi.org\/10.1080\/07418825.2011.555413","source":"CrossRef","publisher":"Informa
        UK Limited","indexed":{"date-parts":[[2015,2,8]],"timestamp":1423426678950},"volume":"29","member":"http:\/\/id.crossref.org\/member\/301"}}'
  recorded_at: Sun, 24 May 2015 21:39:11 GMT
recorded_with: VCR 2.9.3
