---
http_interactions:
- request:
    method: get
    uri: http://doi.org/10.1371/journal.pone.0000030
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: ''
    headers:
      Location:
      - http://dx.plos.org/10.1371/journal.pone.0000030
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="http://dx.plos.org/10.1371/journal.pone.0000030">http://dx.plos.org/10.1371/journal.pone.0000030</a></body></html>
  recorded_at: Sat, 11 Feb 2017 15:25:54 GMT
recorded_with: VCR 2.9.3
