---
http_interactions:
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.1371/JOURNAL.PMED.0030186
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.1371/JOURNAL.PMED.0030186",
         "RA": "CrossRef"
        }
        ]
  recorded_at: Mon, 22 Feb 2016 18:46:19 GMT
- request:
    method: get
    uri: http://api.crossref.org/works/10.1371%2FJOURNAL.PMED.0030186
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Cascade:
      - pass
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE html>
        <html>
        <head>
          <style type="text/css">
          body { text-align:center;font-family:helvetica,arial;font-size:22px;
            color:#888;margin:20px}
          #c {margin:0 auto;width:500px;text-align:left}
          </style>
        </head>
        <body>
          <h2>Sinatra doesn&rsquo;t know this ditty.</h2>
          <img src='http://api.crossref.org/__sinatra__/404.png'>
          <div id="c">
            Try this:
            <pre>get &#x27;&#x2F;works&#x2F;10.1371&#x2F;JOURNAL.PMED.0030186&#x27; do
          &quot;Hello World&quot;
        end
        </pre>
          </div>
        </body>
        </html>
  recorded_at: Mon, 22 Feb 2016 18:46:19 GMT
[...]
- request:
    method: get
    uri: http://api.crossref.org/works/10.1371%2FJOURNAL.PMED.0030186
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Cascade:
      - pass
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE html>
        <html>
        <head>
          <style type="text/css">
          body { text-align:center;font-family:helvetica,arial;font-size:22px;
            color:#888;margin:20px}
          #c {margin:0 auto;width:500px;text-align:left}
          </style>
        </head>
        <body>
          <h2>Sinatra doesn&rsquo;t know this ditty.</h2>
          <img src='http://api.crossref.org/__sinatra__/404.png'>
          <div id="c">
            Try this:
            <pre>get &#x27;&#x2F;works&#x2F;10.1371&#x2F;JOURNAL.PMED.0030186&#x27; do
          &quot;Hello World&quot;
        end
        </pre>
          </div>
        </body>
        </html>
  recorded_at: Mon, 22 Feb 2016 18:46:20 GMT
recorded_with: VCR 2.9.3
