---
http_interactions:
- request:
    method: get
    uri: http://doi.crossref.org/doiRA/10.5281/ZENODO.16668
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        [
         {
         "DOI": "10.5281/ZENODO.16668",
         "RA": "Data Cite"
        }
        ]
  recorded_at: Tue, 26 Apr 2016 16:04:23 GMT
- request:
    method: get
    uri: http://search.datacite.org/api?fl=doi,creator,title,publisher,publicationYear,resourceTypeGeneral,datacentre,datacentre_symbol,prefix,relatedIdentifier,xml,minted,updated&q=doi:10.5281/ZENODO.16668&rows=1&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":9},"response":{"numFound":1,"start":0,"docs":[{"minted":"2015-04-07T23:49:45Z","datacentre_symbol":"CERN.ZENODO","xml":"PHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC0zL21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNTI4MS96ZW5vZG8uMTY2Njg8L2lkZW50aWZpZXI+CiAgPGNyZWF0b3JzPgogICAgPGNyZWF0b3I+CiAgICAgIDxjcmVhdG9yTmFtZT5Lb25yYWQgS2FyY3pld3NraTwvY3JlYXRvck5hbWU+CiAgICA8L2N[...]
- request:
    method: get
    uri: https://api.github.com/repos/konradjk/loftee/releases/tags/v0.2.1-beta
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <GITHUB_PERSONAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4923'
      X-Ratelimit-Reset:
      - '1461687075'
      Etag:
      - '"05c181d3908c45b9575a18afba234384"'
      Last-Modified:
      - Tue, 07 Apr 2015 23:49:02 GMT
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/konradjk/loftee/releases/1136485","assets_url":"https://api.github.com/repos/konradjk/loftee/releases/1136485/assets","upload_url":"https://uploads.github.com/repos/konradjk/loftee/releases/1136485/assets{?name,label}","html_url":"https://github.com/konradjk/loftee/releases/tag/v0.2.1-beta","id":1136485,"tag_name":"v0.2.1-beta","target_commitish":"master","name":"v0.2.1-beta","draft":false,"author":{"login":"konradjk","id":1450986,"avatar_url":"https://avatars.githubusercontent.com/u/1450986?v=3","gravatar_id":"","url":"https://api.github.com/users/konradjk","html_url":"https://github.com/konradjk","followers_url":"https://api.github.com/users/konradjk/followers","following_url":"https://api.github.com/users/konradjk/following{/other_user}","gists_url":"https://api.github.com/users/konradjk/gists{/gist_id}","starred_url":"https://api.github.com/users/konradjk/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/konradjk/subscriptions","organizations_url":"https://api.github.com/users/konradjk/orgs","repos_url":"https://api.github.com/users/konradjk/repos","events_url":"https://api.github.com/users/konradjk/events{/privacy}","received_events_url":"https://api.github.com/users/konradjk/received_events","type":"User","site_admin":false},"prerelease":true,"created_at":"2015-04-07T19:38:00Z","published_at":"2015-04-07T23:49:02Z","assets":[],"tarball_url":"https://api.github.com/repos/konradjk/loftee/tarball/v0.2.1-beta","zipball_url":"https://api.github.com/repos/konradjk/loftee/zipball/v0.2.1-beta","body":"PhyloCSF
        data can now be read from MySQL instead of SQLite"}'
  recorded_at: Tue, 26 Apr 2016 16:04:24 GMT
- request:
    method: get
    uri: https://api.github.com/users/konradjk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <GITHUB_PERSONAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4922'
      X-Ratelimit-Reset:
      - '1461687075'
    [...]
