---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-update-date:2013-09-04,until-update-date:2013-09-05&offset=0&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":0,"items":[],"total-results":43695,"facets":{}}}'
  recorded_at: Mon, 21 Mar 2016 14:38:12 GMT
recorded_with: VCR 2.9.3
